.login-container {
  width:400px;
  height: 350px;
  margin: 0 auto;
  opacity: 0.9;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
.login-background {
  background: url("../../../assets/images/basicBg.jpg");
  background-size: cover;
  /* background-position: center; */
}

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 10px;

  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"]
   {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 11px;
  }

  select{
    width: 30%;
    padding: 5px;
    /* margin: 6px 0 15px 0; */
    /* float: right; */
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 11px;

  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 11px;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }