<h2 style="margin: 10px; font-size: large">Add Domain Value</h2>
<div class="dialog">
  <form (ngSubmit)="addDomainValue()">
    <label for="code">{{ dico?.dico_code || "dico_code" }}:</label>
    <input type="text" name="code" [(ngModel)]="code" />

    <label for="description"
      >{{ dico?.dico_description || "dico_description" }}:</label
    >
    <input type="text" name="description" [(ngModel)]="description" />
    <!-- 
    <label for="coreDomainId">coreDomainId:</label>
    <input type="text" name="coreDomainId" [(ngModel)]="coreDomainId" /> -->

    <label for="Val1">Val1{{ dico?.dico_code || "dico_code" }}:</label>
    <input type="text" name="Val1" [(ngModel)]="val1" />

    <label for="Val2">Val2{{ dico?.dico_code || "dico_code" }}:</label>
    <input type="text" name="Val2" [(ngModel)]="val2" />

    <label for="Val3">Val3{{ dico?.dico_code || "dico_code" }}:</label>
    <input type="text" name="Val3" [(ngModel)]="val3" />

    <label for="Val4">Val4{{ dico?.dico_code || "dico_code" }}:</label>
    <input type="text" name="Val4" [(ngModel)]="val4" />

    <label for="Val5">Val5{{ dico?.dico_code || "dico_code" }}:</label>
    <input type="text" name="Val5" [(ngModel)]="val5" />

    <label for="Val6">Val6{{ dico?.dico_code || "dico_code" }}:</label>
    <input type="text" name="Val6" [(ngModel)]="val6" />

    <label for="Val7">Val7{{ dico?.dico_code || "dico_code" }}:</label>
    <input type="text" name="Val7" [(ngModel)]="val7" />

    <label for="Val8">Val8{{ dico?.dico_code || "dico_code" }}:</label>
    <input type="text" name="Val8" [(ngModel)]="val8" />

    <label for="Val9">Val9{{ dico?.dico_code || "dico_code" }}:</label>
    <input type="text" name="Val9" [(ngModel)]="val9" />

    <label for="Val10">Val10{{ dico?.dico_code || "dico_code" }}:</label>
    <input type="text" name="Val10" [(ngModel)]="val10" />

    <label for="Val11">Val11{{ dico?.dico_code || "dico_code" }}:</label>
    <input type="text" name="Val11" [(ngModel)]="val11" />

    <button type="submit">{{dico?.dico_save || "dico_save"}}</button>
  </form>
</div>
