<div class="dialog">
  <form (ngSubmit)="addDomainValue()">
    <label for="code">code:</label>
    <input type="text" name="code" [(ngModel)]="code" />

    <label for="description">description:</label>
    <input type="text" name="description" [(ngModel)]="description" />
    <!-- 
    <label for="coreDomainId">coreDomainId:</label>
    <input type="text" name="coreDomainId" [(ngModel)]="coreDomainId" /> -->

    <label for="Val1">Val1:</label>
    <input type="text" name="Val1" [(ngModel)]="val1" />

    <label for="Val2">Val2:</label>
    <input type="text" name="Val2" [(ngModel)]="val2" />

    <label for="Val3">Val3:</label>
    <input type="text" name="Val3" [(ngModel)]="val3" />

    <label for="Val4">Val4:</label>
    <input type="text" name="Val4" [(ngModel)]="val4" />

    <label for="Val5">Val5:</label>
    <input type="text" name="Val5" [(ngModel)]="val5" />

    <label for="Val6">Val6:</label>
    <input type="text" name="Val6" [(ngModel)]="val6" />

    <label for="Val7">Val7:</label>
    <input type="text" name="Val7" [(ngModel)]="val7" />

    <label for="Val8">Val8:</label>
    <input type="text" name="Val8" [(ngModel)]="val8" />

    <label for="Val9">Val9:</label>
    <input type="text" name="Val9" [(ngModel)]="val9" />

    <label for="Val10">Val10:</label>
    <input type="text" name="Val10" [(ngModel)]="val10" />

    <button type="submit">Save</button>
  </form>
</div>
