<div class="h3-header">
  <h3>
    {{ dico?.dico_core_configuration || "dico_core_configuration" }}

    <button
      type="button"
      (click)="exportToExcel()"
      class="export-excel btn btn-primary"
    >
      {{ dico?.dico_export_to_excel || "dico_export_to_excel" }}
    </button>
  </h3>
</div>
<div class="admin-container container-fluid">
  <app-spinner *ngIf="isLoading"></app-spinner>
  <div class="user-inputs">
    <form (ngSubmit)="coreConfigSearch()">
      <label for="inputId">{{ dico?.dico_id || "dico_id" }}:</label>
      <input type="text" id="inputId" [(ngModel)]="id" name="id" />

      <label for="inputDescription"
        >{{ dico?.dico_description || "dico_description" }}:</label
      >
      <input
        type="text"
        id="inputDescription"
        [(ngModel)]="description"
        name="description"
      />

      <button type="submit">{{ dico?.BASIC_SEARCH || "BASIC_SEARCH" }}</button>
    </form>
    <div class="admin-button">
      <button type="button" (click)="openCoreConfigDialog()">
        {{ dico?.dico_add_configuration || "dico_add_configuration" }}
      </button>
      <button type="button" style="margin-left: 8px" (click)="editConfig()">
        {{ dico?.dico_Update || "dico_Update" }}
      </button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <table>
        <thead>
          <tr>
            <th>{{ dico?.dico_id || "dico_id" }}</th>
            <th>{{ dico?.dico_config_value || "dico_config_value" }}</th>
            <th>{{ dico?.dico_description || "dico_description" }}</th>
            <th>
              {{ dico?.dico_sys_created_date || "dico_sys_created_date" }}
            </th>
            <th>{{ dico?.dico_sys_created_by || "dico_sys_created_by" }}</th>
            <th>
              {{ dico?.dico_sys_updated_date || "dico_sys_updated_date" }}
            </th>
            <th>{{ dico?.dico_sys_updated_by || "dico_sys_updated_by" }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody
          *ngIf="configData!.length > 0; else noData"
          (click)="highlightRow($event)"
        >
          <tr *ngFor="let config of configData; trackBy: trackConfigById">
            <td>{{ config.id }}</td>
            <td
              contenteditable="true"
              (blur)="onTdBlur($event, config, 'configValue')"
            >
              {{ config.configValue }}
            </td>
            <td
              contenteditable="true"
              (blur)="onTdBlur($event, config, 'description')"
            >
              {{ config.description }}
            </td>
            <td>{{ config.sysCreatedDate | date : reportDateTimeFormat }}</td>
            <td>{{ config.sysCreatedBy }}</td>
            <td>{{ config.sysUpdatedDate | date : reportDateTimeFormat }}</td>
            <td>{{ config.sysUpdatedBy }}</td>

            <td>
              <mat-icon (click)="deleteConfig(config.id!)">delete</mat-icon>
            </td>
          </tr>
        </tbody>
        <ng-template #noData>
          <tr>
            <td colspan="9">
              {{ dico?.BASIC_NO_DATA_TO_DISPLAY || "BASIC_NO_DATA_TO_DISPLAY" }}
            </td>
          </tr>
        </ng-template>
      </table>
    </div>
  </div>
</div>
