<h2 style="margin: 10px; font-size: large">
  {{ dico?.dico_add_trademark || "dico_add_trademark" }}
</h2>
<div class="dialog">
  <form (ngSubmit)="saveTrademark()">
    <label for="file">{{ dico?.dico_file || "dico_file" }}:</label>
    <input type="file" name="file" (change)="onFileSelected($event)" />

    <label for="code">{{ dico?.dico_code || "dico_code" }}:</label>
    <input type="text" id="code" [(ngModel)]="code" name="code" />

    <label for="description"
      >{{ dico?.dico_description || "dico_description" }}:</label
    >
    <input
      type="text"
      id="description"
      name="description"
      [(ngModel)]="description"
    />

    <button type="submit">{{ dico?.dico_save || "dico_save" }}</button>
  </form>
</div>
