
.panel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* This places the label at the top */
  }

  .gauge-label {
    margin-bottom: 10px; /* Add some spacing between the label and the gauge */
  }

  /* .gauge-label a:hover {
    text-decoration: underline;
  } */
.row{
  border: none;
}
.company-dropdown{
  margin: 20px;
}
