<div class="dialog-content">
  <app-company-select
    (companyChanged)="onCompanyChange($event)"
  ></app-company-select>
  <div class="section">
    <div class="panel row">
      <div
        class="col-lg-4 col-md-6 col-sm-6"
        [ngClass]="{ 'hidden-gauge': expertToDispatchCount <= 0 }"
      >
        <div class="row">
          <label class="gauge-label">
            <a
              routerLink="/profiles-main/CallCenter/followUp"
              [queryParams]="{ code: 'ED' }"
              class="label-link"
              >{{
                dico?.dico_expert_to_dispatch || "dico_expert_to_dispatch"
              }}</a
            >
          </label>
        </div>

        <app-gauge-component
          *ngIf="expertToDispatchCount > 0"
          [maxValue]="expertToDispatchCount"
          [value]="expertToDispatchCount"
        ></app-gauge-component>
      </div>

      <div
        [ngClass]="{ 'hidden-gauge': expertAllCount <= 0 }"
        class="col-lg-4 col-md-6 col-sm-6"
      >
        <div class="row">
          <label class="gauge-label">
            <a
              routerLink="/profiles-main/CallCenter/followUp"
              [queryParams]="{ code: 'E' }"
              class="label-link"
            >
              {{ dico?.dico_expert_follow_up || "dico_expert_follow_up" }}
            </a>
          </label>
        </div>
        <app-gauge-component
          *ngIf="expertAllCount > 0"
          [maxValue]="expertAllCount"
          [value]="expertOverDue"
        ></app-gauge-component>
        <!-- <canvas #expertFollowUp></canvas> -->
      </div>

      <div
        class="col-lg-4 col-md-6 col-sm-6"
        [ngClass]="{ 'hidden-gauge': towingAllCount <= 0 }"
      >
        <div class="row">
          <label class="gauge-label">
            <a
              routerLink="/profiles-main/CallCenter/followUp"
              [queryParams]="{ code: 'T' }"
              class="label-link"
              >{{ dico?.dico_towing_follow_up || "dico_towing_follow_up" }}</a
            >
          </label>
        </div>
        <app-gauge-component
          *ngIf="towingAllCount > 0"
          [maxValue]="towingAllCount"
          [value]="towingOverDue"
        ></app-gauge-component>
        <!-- <canvas #towingFollowUp></canvas> -->
      </div>

      <div
        class="col-lg-4 col-md-6 col-sm-6"
        [ngClass]="{ 'hidden-gauge': towingToDispatchCount <= 0 }"
      >
        <div class="row">
          <label class="gauge-label">
            <a
              routerLink="/profiles-main/CallCenter/followUp"
              [queryParams]="{ code: 'TD' }"
              class="label-link"
              >{{
                dico?.dico_towing_to_dispatch || "dico_towing_to_dispatch"
              }}</a
            >
          </label>
        </div>
        <app-gauge-component
          *ngIf="towingToDispatchCount > 0"
          [maxValue]="towingToDispatchCount"
          [value]="towingToDispatchCount"
        ></app-gauge-component>
        <!-- <canvas #towingToDispatch></canvas> -->
      </div>
    </div>
  </div>

  <div class="section">
    <div class="panel row">
      <div
        class="col-lg-4 col-md-6 col-sm-6"
        [ngClass]="{ 'hidden-gauge': noDataAllCount <= 0 }"
      >
        <div class="row">
          <label class="gauge-label">
            <a
              routerLink="/profiles-main/CallCenter/followUp"
              [queryParams]="{ code: 'N' }"
              class="label-link"
              >{{ dico?.dico_no_data_follow_up || "dico_no_data_follow_up" }}</a
            >
          </label>
        </div>
        <app-gauge-component
          *ngIf="noDataAllCount > 0"
          [maxValue]="noDataAllCount"
          [value]="noDataPolicyFound"
        ></app-gauge-component>
        <!-- <canvas #noDataFollowUp></canvas> -->
        <div class="row">
          <label class="gauge-label">
            <a
              routerLink="/profiles-main/CallCenter/followUp"
              [queryParams]="{ code: 'NALL' }"
              class="label-link"
              >{{ dico?.dico_no_data_all_list || "dico_no_data_all_list" }}</a
            >
          </label>
        </div>
      </div>

      <div
        class="col-lg-4 col-md-6 col-sm-6"
        [ngClass]="{ 'hidden-gauge': notificationComplaintsCount <= 0 }"
      >
        <div class="row">
          <label class="gauge-label">
            <a
              routerLink="/profiles-main/CallCenter/followUp"
              [queryParams]="{
                code: 'CR_NEW_REQ'
              }"
              class="label-link"
            >
              {{ dico?.dico_complaints || "dico_complaints" }}</a
            >
          </label>
        </div>
        <app-gauge-component
          *ngIf="notificationComplaintsCount > 0"
          [maxValue]="notificationComplaintsCount"
          [value]="notificationComplaintsCount"
        ></app-gauge-component>
        <!-- <canvas #notificationComplaints></canvas> -->
      </div>
    </div>
  </div>
</div>
