<div class="dialog-content">
  <app-company-select
    (companyChanged)="onCompanyChange($event)"
  ></app-company-select>
  <div class="section">
    <div class="panel row">
      <div
        class="column col-md-6 col-lg-3"
        [ngClass]="{ 'hidden-gauge': expertToDispatchCount <= 0 }"
      >
        <div class="panel-item">
          <label class="gauge-label">
            <a
              routerLink="/profiles-main/CallCenter/followUp"
              [queryParams]="{ code: 'ED' }"
              class="gauge-label-link"
              >{{ dico?.dico_expert_to_dispatch }}</a
            >
          </label>
          <canvas #expertToDispatch></canvas>
          <!-- <google-chart [data]="expertDispatchCountGauge"></google-chart> -->
          <!-- <canvas #gaugeCanvas></canvas> -->
          <!-- <ngx-gauge
            [type]="'arch'"
            [cap]="'butt'"
            [thick]="15"
            [value]="expertToDispatchCount"
            [thresholds]="thresholdConfig"
          >
          </ngx-gauge> -->
        </div>
      </div>
      <div
        [ngClass]="{ 'hidden-gauge': expertAllCount <= 0 }"
        class="column col-md-6 col-lg-3"
      >
        <div class="panel-item">
          <label class="gauge-label">
            <a
              routerLink="/profiles-main/CallCenter/followUp"
              [queryParams]="{ code: 'E' }"
              class="gauge-label-link"
            >
              {{ dico?.dico_expert_follow_up }}
            </a>
          </label>
          <canvas #expertFollowUp></canvas>
        </div>
      </div>

      <div
        class="column col-md-6 col-lg-3"
        [ngClass]="{ 'hidden-gauge': towingAllCount <= 0 }"
      >
        <div class="panel-item">
          <label class="gauge-label">
            <a
              routerLink="/profiles-main/CallCenter/followUp"
              [queryParams]="{ code: 'T' }"
              class="gauge-label-link"
              >{{ dico?.dico_towing_follow_up }}</a
            >
          </label>
          <canvas #towingFollowUp></canvas>
          <!-- <google-chart [data]="towingFollowUpChartData"></google-chart> -->
          <!-- <ngx-gauge
            [type]="'arch'"
            [cap]="'butt'"
            [thick]="15"
            [value]="towingOverDue"
            [min]="0"
            [max]="towingAllCount"
            [thresholds]="thresholdConfig"
          >
          </ngx-gauge> -->
        </div>
      </div>

      <div
        class="column col-md-6 col-lg-3"
        [ngClass]="{ 'hidden-gauge': towingToDispatchCount <= 0 }"
      >
        <div class="panel-item">
          <label class="gauge-label">
            <a
              routerLink="/profiles-main/CallCenter/followUp"
              [queryParams]="{ code: 'TD' }"
              class="gauge-label-link"
              >{{ dico?.dico_towing_to_dispatch }}</a
            >
          </label>
          <canvas #towingToDispatch></canvas>
          <!-- <google-chart [data]="towingDispatchGauge"></google-chart> -->
          <!-- <ngx-gauge
            [type]="'arch'"
            [cap]="'butt'"
            [thick]="15"
            [value]="towingToDispatchCount"
            [min]="0"
            [max]="towingToDispatchCount"
            [thresholds]="thresholdConfig"
          >
          </ngx-gauge> -->
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="panel row">
      <div
        class="column col-md-6 col-lg-3"
        [ngClass]="{ 'hidden-gauge': noDataAllCount <= 0 }"
      >
        <div class="panel-item">
          <label class="gauge-label">
            <a
              routerLink="/profiles-main/CallCenter/followUp"
              [queryParams]="{ code: 'N' }"
              class="gauge-label-link"
              >{{ dico?.dico_no_data_follow_up }}</a
            >
          </label>
          <canvas #noDataFollowUp></canvas>

          <!-- <google-chart [data]="noDataCountGauge"></google-chart> -->
          <!-- <ngx-gauge
            [type]="'arch'"
            [cap]="'butt'"
            [thick]="15"
            [value]="noDataPolicyFound"
            [min]="0"
            [max]="noDataAllCount"
            [thresholds]="thresholdConfig"
          >
          </ngx-gauge> -->
          <label class="gauge-label">
            <a
              routerLink="/profiles-main/CallCenter/followUp"
              [queryParams]="{ code: 'NALL' }"
              class="gauge-label-link"
              >{{ dico?.dico_no_data_all_list }}</a
            >
          </label>
        </div>
      </div>

      <div
        class="column col-md-6 col-lg-3"
        [ngClass]="{ 'hidden-gauge': notificationComplaintsCount <= 0 }"
      >
        <div class="panel-item">
          <label class="gauge-label">
            <a
              routerLink="/profiles-main/CallCenter/followUp"
              class="gauge-label-link"
              >New Complaints</a
            >
          </label>
          <canvas #notificationComplaints></canvas>
          <!-- <google-chart [data]="notificationComplaintsGauge"></google-chart> -->
          <!-- <ngx-gauge
            [type]="'arch'"
            [cap]="'butt'"
            [thick]="15"
            [value]="notificationComplaintsCount"
            [min]="0"
            [max]="notificationComplaintsCount"
            [thresholds]="thresholdConfig"
          >
          </ngx-gauge> -->
        </div>
      </div>
    </div>
  </div>
</div>
