<div class="dialog-content">
  <app-company-select
    (companyChanged)="onCompanyChange($event)"
  ></app-company-select>
  <div class="section">
    <div class="panel row">
      <div
        class="column col-md-6 col-lg-3"
        [ngClass]="{ 'hidden-gauge': expertToDispatchCount <= 0 }"
      >
        <div class="panel-item">
          <label class="gauge-label">
            <a
              routerLink="/profiles-main/CallCenter/followUp"
              [queryParams]="{ code: 'ED' }"
              class="label-link"
              >{{
                dico?.dico_expert_to_dispatch || "dico_expert_to_dispatch"
              }}</a
            >
          </label>
          <canvas #expertToDispatch></canvas>
        </div>
      </div>
      <div
        [ngClass]="{ 'hidden-gauge': expertAllCount <= 0 }"
        class="column col-md-6 col-lg-3"
      >
        <div class="panel-item">
          <label class="gauge-label">
            <a
              routerLink="/profiles-main/CallCenter/followUp"
              [queryParams]="{ code: 'E' }"
              class="label-link"
            >
              {{ dico?.dico_expert_follow_up || "dico_expert_follow_up" }}
            </a>
          </label>
          <canvas #expertFollowUp></canvas>
        </div>
      </div>

      <div
        class="column col-md-6 col-lg-3"
        [ngClass]="{ 'hidden-gauge': towingAllCount <= 0 }"
      >
        <div class="panel-item">
          <label class="gauge-label">
            <a
              routerLink="/profiles-main/CallCenter/followUp"
              [queryParams]="{ code: 'T' }"
              class="label-link"
              >{{ dico?.dico_towing_follow_up || "dico_towing_follow_up" }}</a
            >
          </label>
          <canvas #towingFollowUp></canvas>
        </div>
      </div>

      <div
        class="column col-md-6 col-lg-3"
        [ngClass]="{ 'hidden-gauge': towingToDispatchCount <= 0 }"
      >
        <div class="panel-item">
          <label class="gauge-label">
            <a
              routerLink="/profiles-main/CallCenter/followUp"
              [queryParams]="{ code: 'TD' }"
              class="label-link"
              >{{
                dico?.dico_towing_to_dispatch || "dico_towing_to_dispatch"
              }}</a
            >
          </label>
          <canvas #towingToDispatch></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="panel row">
      <div
        class="column col-md-6 col-lg-3"
        [ngClass]="{ 'hidden-gauge': noDataAllCount <= 0 }"
      >
        <div class="panel-item">
          <label class="gauge-label">
            <a
              routerLink="/profiles-main/CallCenter/followUp"
              [queryParams]="{ code: 'N' }"
              class="label-link"
              >{{ dico?.dico_no_data_follow_up || "dico_no_data_follow_up" }}</a
            >
          </label>
          <canvas #noDataFollowUp></canvas>

          <label class="gauge-label">
            <a
              routerLink="/profiles-main/CallCenter/followUp"
              [queryParams]="{ code: 'NALL' }"
              class="label-link"
              >{{ dico?.dico_no_data_all_list || "dico_no_data_all_list" }}</a
            >
          </label>
        </div>
      </div>

      <div
        class="column col-md-6 col-lg-2"
        [ngClass]="{ 'hidden-gauge': notificationComplaintsCount <= 0 }"
      >
        <div class="panel-item">
          <label class="gauge-label">
            <a
              routerLink="/profiles-main/CallCenter/followUp"
              [queryParams]="{
                code: 'CR_NEW_REQ'
              }"
              class="label-link"
            >
              {{ dico?.dico_complaints || "dico_complaints" }}</a
            >
          </label>
          <canvas #notificationComplaints></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
