<div class="h3-header">
  <h3>
    {{ dico?.dico_branch_configuration || "dico_branch_configuration" }}

    <button
      type="button"
      (click)="exportToExcel()"
      class="export-excel btn btn-primary"
    >
      {{ dico?.dico_export_to_excel || "dico_export_to_excel" }}
    </button>
  </h3>
</div>
<div class="select-container">
  <span>{{ dico?.dico_company || "dico_company" }}:</span>
  <select
    id="bodyTypeNew"
    name="bodyTypeNew"
    required
    class="company-select"
    [(ngModel)]="company"
    [disabled]="companies?.length! <= 1"
  >
    <option *ngFor="let company of companies" [value]="company.companyId">
      {{ company.companyName }}
    </option>
  </select>
</div>

<div class="admin-container container-fluid">
  <app-spinner *ngIf="isLoading"></app-spinner>
  <div class="user-inputs">
    <form (ngSubmit)="getBranchesList()">
      <label for="code">{{ dico?.dico_code || "dico_code" }}:</label>
      <input type="text" id="code" name="code" [(ngModel)]="code" />

      <label for="description"
        >{{ dico?.dico_description || "dico_description" }}:</label
      >
      <input
        type="text"
        id="description"
        name="description"
        [(ngModel)]="description"
      />

      <button type="submit" class="btn btn-primary">
        {{ dico?.BASIC_SEARCH || "BASIC_SEARCH" }}
      </button>
    </form>
    <div class="btn-group">
      <button type="button" class="btn btn-primary" (click)="addBranchDialog()">
        {{ dico?.dico_add_branch || "dico_add_branch" }}
      </button>
      <button
        type="button"
        class="btn btn-primary"
        style="margin-left: 8px"
        (click)="updateBranch()"
      >
        {{ dico?.dico_update_branch || "dico_update_branch" }}
      </button>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>{{ dico?.dico_id || "dico_id" }}</th>
        <th>{{ dico?.dico_code || "dico_code" }}</th>
        <th>{{ dico?.dico_description || "dico_description" }}</th>
        <th>
          {{
            dico?.dico_part_arabic_description || "dico_part_arabic_description"
          }}
        </th>
        <th>{{ dico?.dico_address1 || "dico_address1" }}</th>
        <th>{{ dico?.dico_address2 || "dico_address2" }}</th>
        <th>{{ dico?.dico_sys_created_date || "dico_sys_created_date" }}</th>
        <th>{{ dico?.dico_sys_created_by || "dico_sys_created_by" }}</th>
        <th>{{ dico?.dico_sys_updated_date || "dico_sys_updated_date" }}</th>
        <th>{{ dico?.dico_sys_updated_by || "dico_sys_updated_by" }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody
      *ngIf="branches?.length! > 0; else noData"
      (click)="highlightRow($event)"
    >
      <tr *ngFor="let branch of branches; trackBy: trackBranchById">
        <td>{{ branch.id }}</td>
        <td contenteditable="true" (blur)="onTdBlur($event, branch, 'code')">
          {{ branch.code }}
        </td>
        <td
          contenteditable="true"
          (blur)="onTdBlur($event, branch, 'description')"
        >
          {{ branch.description }}
        </td>
        <td
          contenteditable="true"
          (blur)="onTdBlur($event, branch, 'arabic_description')"
        >
          {{ branch.arabic_description }}
        </td>
        <td
          contenteditable="true"
          (blur)="onTdBlur($event, branch, 'address1')"
        >
          {{ branch.address1 }}
        </td>
        <td
          contenteditable="true"
          (blur)="onTdBlur($event, branch, 'address2')"
        >
          {{ branch.address2 }}
        </td>
        <td>
          {{
            branch.sysCreatedDate | date : dateFormat("reportDateTimeFormat")
          }}
        </td>
        <td>{{ branch.sysCreatedBy }}</td>
        <td>
          {{
            branch.sysUpdatedDate | date : dateFormat("reportDateTimeFormat")
          }}
        </td>
        <td>{{ branch.sysUpdatedBy }}</td>

        <td>
          <mat-icon (click)="deleteBranch(branch.id!)">delete</mat-icon>
        </td>
      </tr>
    </tbody>
    <ng-template #noData>
      <tr>
        <td colspan="5">
          {{ dico?.BASIC_NO_DATA_TO_DISPLAY || "BASIC_NO_DATA_TO_DISPLAY" }}
        </td>
      </tr>
    </ng-template>
  </table>
</div>
