
.form-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    width: 1140px


  }


  tr.selected {
    background-color: #e0f2db;
  }
  
  .form-tab {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    /* margin-top:20px  */
  }

   .table-btn{
    background-color: #1884d7;
    color: white;
    border: none;
    /* padding: 1px; */
    /* margin: 1px; */
  }
  
   .form-tab h3 {
    display: block;
    border:  1px solid #ccc;

  } 
 
  @media (min-width: 768px) {
    .nav-link-edit {
      display: inline-block;
      margin-top: 0;
      white-space: normal;
    }
  }