.form-container {
    border: 1px solid #ccc;
    padding: 10px;
    width: 1150px;
  
  }
  
  .form-tab {
    /* border: 1px solid #ccc; */
    padding: 10px;
    background-color: #fff;
  }
  
  .form-tab h3 {
    display: block;
    font-size: 20px;
    border:  1px solid #ccc;

  }
  .user-inputs {
    display: flex;
    justify-content:space-around;
    margin-bottom: 10px;
  }

  .user-inputs label {
    margin-right: 5px;
  }

  .user-inputs input {
    margin-right: 5px;
  }

  
  table {
    border-collapse: collapse;
    width: 100%;

  }

  td {
    text-align: left;
    padding: 10px;
    /* border-bottom: 1px solid #ddd; */
    
  }

  th{
    background-color: #025696 ;
    color: white;
    font-weight: normal;
    padding: 10px;
    margin: 5px;
   
    /* margin: 5px; */
  }

  tr:hover {
    background-color: #e5e1e1c3;
  }


  tr:nth-child(even) {
    background-color: #dddddd;
  
  }

  tr:nth-child(even):hover {
    background-color: #e5e1e1c3;
  
  }
  th:not(:first-child) {
    border-left: 1px solid #ddd;
  }

  .user-inputs button {
    background-color: #1884d7;
    color: white;
    border: none;
    padding: 5px 16px;
  }

  .table-btn{
    background-color: #1884d7;
    color: white;
    border: none;

  }
  
  
  .user-inputs button:hover {
    background-color: #278bd8;
  }
