<h3 class="h3-header">Near Region Territory</h3>
<div class="admin-container container-fluid" style="height: 250px">
  <app-spinner *ngIf="isLoading"></app-spinner>
  <div class="user-inputs">
    <form (ngSubmit)="searchTownTerritory()">
      <label>Code:</label>
      <input type="text" id="key" name="key" [(ngModel)]="code" />

      <label>Description:</label>
      <input type="text" id="value" name="value" [(ngModel)]="description" />

      <button type="submit">Search</button>
    </form>
  </div>

  <table>
    <thead>
      <tr>
        <th>Code</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr
        (click)="highlightRow($event); showNearTerritory(townTerritory)"
        *ngFor="let townTerritory of townTerritory"
      >
        <td>{{ townTerritory.code }}</td>
        <td>{{ townTerritory.description }}</td>
      </tr>
    </tbody>
    <ng-template #noData>
      <tr>
        <td colspan="5">No data to display</td>
      </tr>
    </ng-template>
  </table>
</div>

<div *ngIf="showNearTerr">
  <app-near-region-territory
    [selectedRegion]="selectedRegion"
  ></app-near-region-territory>
</div>
