.label-class{
    margin-right:20px;
}

.label:hover {
    text-decoration: underline;
  }
.mat-sidenav {
  width: 320px;
    /* border: 1px solid #ccc; */
    border-style: none;
    overflow-x: hidden;
  }
  .row>* {
        padding-right: 0px;
   padding-left: 0px;
  }
  .panel-margin {
    margin-bottom: 10px; /* Adjust the value as needed */
    padding: 8px 10px 8px 10px;
    border: none;
  }
  .row{
    width:95%
  }
  :host ::ng-deep .mat-drawer-inner-container {
    background-color: rgb(239,242,245);
  }
  
  :host ::ng-deep .mat-drawer-content{
    background-color: rgb(239,242,245);
    
  }
  .sidenav-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Make the container fill the viewport height */
  }

  .row-class {
    border-color: #BFC6C9;
    background-color: #eff2f5;
    color: #252525;
    border: 1px solid #ccc
    /* width: 230px; */
  }
.list-item{
  min-height: 16px;
  padding: 0px 0px 0px 5px;
  white-space: nowrap;
  cursor: default;
  text-decoration: none;
  color: #000000;
  padding-left: 0px;
  padding-right: 4px;
  height: 24px;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}
  .list{
    font-weight: bolder; font-size: small; font-style: italic
  }
  .mdc-list-item {
    padding-left: 0;
    padding-right: 0;
}
  .col {
    margin-top: 20px;
    margin-left: 10px;
    font-weight: bold;
  }
  
  .component-content {
    /* display: flex; */
    margin-left: 20px;
  }
  
  .arrow {
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 140px;
  }
  
  .mat-list-item-active {
    background-color: #e5f5ff;
  }
  

  .hr {
    border-top: 1px solid #ccc;
    /* margin: 10px 0; */
  }
  
  .list-class{
   font-size: 12px;
   font-weight: bold;
  }

  .selected-title {
    border-style: outset;
    border-width: medium;
    /* margin-top: 25px; */
    margin-bottom: 10px;
    border-color: #0674CB;
  }