<app-login-nav></app-login-nav>

<nav class="navbar navbar-class navbar-expand-lg">
  <span class="navbar-brand" (click)="goBack()" style="color: white">{{
    title
  }}</span>
  <div class="mx-auto">
    <form
      class="d-flex align-items-center justify-content-center"
      (ngSubmit)="searchNotification()"
    >
      <label class="label-class mb-0 me-2" style="white-space: nowrap"
        >{{ dico?.dico_search_by || "dico_search_by" }}:</label
      >
      <select
        class="form-select label-class"
        id="type"
        name="type"
        [(ngModel)]="selectedValue"
      >
        <option *ngFor="let item of searchTypes" [value]="item.code">
          {{ item.description }}
        </option>
      </select>
      <label class="label-class mb-0 ms-3" style="white-space: nowrap"
        >{{ dico?.dico_search_value || "dico_search_value" }}:</label
      >
      <input
        id="value"
        name="value"
        type="text"
        class="form-control me-2"
        [(ngModel)]="value"
      />
      <button class="btn-class" type="submit">
        {{ dico?.dico_search || "dico_search" }}
      </button>

      <div class="icon-class">
        <img
          src="./assets/icons/survey-white.png"
          alt=""
          matTooltip="VISA Policy"
        />
      </div>
      <div class="icon-class">
        <img
          src="./assets/icons/towing-white.png"
          alt=""
          matTooltip="Newest Towing"
          (click)="NewestTowing()"
        />
      </div>
      <div class="icon-class">
        <img
          src="./assets/icons/accident-nature-white.png"
          alt=""
          matTooltip="Newest Accident"
          (click)="NewestAccident()"
        />
      </div>
    </form>
  </div>
</nav>

<mat-sidenav-container class="Background container-fluid">
  <mat-sidenav #sidenav mode="side" opened [style.width]="'330px'">
    <div class="row mt-4 ms-1">
      <div class="col-md-20">
        <mat-nav-list>
          <mat-expansion-panel
            class="panel-margin"
            style="background-color: rgb(237, 243, 245)"
            *ngFor="let notification of notificationData; let i = index"
            [ngClass]="{ 'selected-title': selectedPanelIndex === i }"
          >
            <mat-expansion-panel-header
              (click)="togglePanelContent(notification, i)"
            >
              <mat-panel-title
                class="label"
                [style.color]="
                  getNotificationColor(notification.notificationNature!)
                "
              >
                {{ notification.notification }}
              </mat-panel-title>
              <img
                [src]="notification.companyLogo"
                alt=""
                style="width: 60px; margin-right: 20px"
              />
            </mat-expansion-panel-header>
            <mat-list class="list">
              <mat-list-item>
                <img src="./assets/icons/accident-date-blue-24.png" alt="" />
                {{
                  notification.accidentDate
                    | date : dateFormat("reportDateTimeFormat")
                }}</mat-list-item
              >
              <mat-list-item>
                <img src="./assets/icons/accident-nature-blue.png" alt="" />

                {{ notification.notificationNature }}
              </mat-list-item>
              <mat-list-item>
                <ng-container
                  *ngIf="notification.notificationStatusCode === '9'"
                >
                  <img src="./assets/icons/" alt="" />
                </ng-container>
                <ng-container
                  *ngIf="notification.notificationStatusCode === '8'"
                >
                  <img src="./assets/icons/status-closed-blue-24.png" alt="" />
                </ng-container>
                <ng-container
                  *ngIf="notification.notificationStatusCode === '0'"
                >
                  <img src="./assets/icons/status-new-blue-24.png" alt="" />
                </ng-container>
                <ng-container
                  *ngIf="
                    notification.notificationStatusCode === '1' ||
                    notification.notificationStatusCode === '2'
                  "
                >
                  <img src="./assets/icons/status-opened-blue-24.png" alt="" />
                </ng-container>
                {{ notification.notificationStatusDesc }}
              </mat-list-item>
              <ng-container
                *ngFor="let car of notification.callCenterSearchCarsList"
              >
                <mat-list-item
                  *ngIf="
                    (car.sequence === 0 &&
                      notification.notificationMatDamage === '5') ||
                    notification.notificationMatDamage === '6' ||
                    notification.notificationMatDamage === '10'
                  "
                >
                  <img src="./assets/icons/tow_tr.png" alt="" />
                  Towing from: {{ car.fromTown }}
                  <!-- Display other properties of the selected car object if needed -->
                </mat-list-item>
              </ng-container>
              <ng-container
                *ngFor="let car of notification.callCenterSearchCarsList"
              >
                <mat-list-item
                  *ngIf="
                    (car.sequence === 0 &&
                      notification.notificationMatDamage === '5') ||
                    notification.notificationMatDamage === '6' ||
                    notification.notificationMatDamage === '10'
                  "
                >
                  <ng-container>
                    <img src="./assets/icons/tow_tr.png" alt="" />
                    Towing to:
                    {{ car.toTown }}
                  </ng-container>
                </mat-list-item>
              </ng-container>

              <mat-list-item
                *ngIf="
                  notification.notificationMatDamage === '5' ||
                  notification.notificationMatDamage === '6' ||
                  notification.notificationMatDamage === '10'
                "
              >
                <img src="./assets/icons/tow_tr.png" alt="" />
                Towing count : {{ notification.towingCount }}
              </mat-list-item>

              <mat-list-item
                class="custom-list-item"
                [matMenuTriggerFor]="carMenu"
              >
                <img src="./assets/icons/car-count-blue-24.png" alt="" />

                {{ notification.carCount }} Cars

                <mat-menu #carMenu="matMenu">
                  <ng-container *ngIf="notification?.callCenterSearchCarsList">
                    <button
                      [style.margin]="'10px'"
                      [style.width]="'250px'"
                      mat-menu-item
                      class="custom-list-item"
                      *ngFor="let car of notification.callCenterSearchCarsList"
                    >
                      {{ car.insuredTp }} - {{ car.plate }} -
                      {{ car.carMakeModel }}
                    </button>
                  </ng-container>
                </mat-menu>
                <img src="./assets/icons/dropdown_n_hc.png" alt="" />
              </mat-list-item>

              <mat-list-item>
                <img src="./assets/icons/hostpital-blue-24.png" alt="" />
                {{ notification.injuryCount }}
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-nav-list>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content *ngIf="showPanelContent">
    <div class="component-content">
      <app-notification-details
        [selectedNotification]="selectedNotification"
        [showTrademark]="showTrademark"
      ></app-notification-details>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
