<nav class="navbar navbar-class navbar-expand-lg">
  <span style="color: white; height: 30px" (click)="goBack()">{{ title }}</span>
  <!-- <app-view-policy class="navigate-btn" *ngIf="viewPolicy"></app-view-policy> -->
  <app-data-entry-button
    class="navigate-btn"
    *ngIf="showDataEntryButton"
  ></app-data-entry-button>
  <app-send-email-button
    class="navigate-btn"
    *ngIf="sendEmailButton"
  ></app-send-email-button>
  <app-view-notes class="navigate-btn" *ngIf="note"></app-view-notes>
</nav>
