<div class="admin-container container-fluid" style="height: 200px">
  <div class="user-inputs">
    <div class="admin-button">
      <button type="button">Add Company</button>
      <button type="button" style="margin-left: 8px">Update Company</button>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>Insurance</th>
        <th>Insurance Initial Count</th>
        <th>Insurance Ratio</th>
        <th>All Expert Dispatch Count</th>
        <th>sysCreatedDate</th>
        <th>sysCreatedBy</th>
        <th>sysUpdatedDate</th>
        <th>sysUpdatedBy</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
    <ng-template #noData>
      <tr>
        <td colspan="9">No data to display</td>
      </tr>
    </ng-template>
  </table>
</div>
