<div class="admin-container container-fluid" style="height: 200px">
  <div class="user-inputs">
    <div class="admin-button">
      <button type="button" (click)="openAddExpertDialog()">Add Company</button>
      <button
        type="button"
        style="margin-left: 8px"
        (click)="updateExpertCompany()"
      >
        Update Company
      </button>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>Insurance</th>
        <th>Insurance Initial Count</th>
        <th>Insurance Ratio</th>
        <th>All Expert Dispatch Count</th>
        <th>sysCreatedDate</th>
        <th>sysCreatedBy</th>
        <th>sysUpdatedDate</th>
        <th>sysUpdatedBy</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let exptCompany of expertCompanies;
          trackBy: trackExpCompanyeById
        "
      >
        <td>
          <select
            class="select-class"
            [(ngModel)]="exptCompany.insuranceId"
            (change)="onDropdownChange($event, exptCompany, 'insuranceId')"
          >
            <option
              *ngFor="let company of companies"
              [value]="company.companyId"
              [disabled]="companies?.length! <= 1"
            >
              {{ company.companyName }}
            </option>
          </select>
        </td>
        <td
          contenteditable="true"
          (blur)="onTdBlur($event, exptCompany, 'initialCount')"
        >
          {{ exptCompany.initialCount }}
        </td>
        <td
          contenteditable="true"
          (blur)="onTdBlur($event, exptCompany, 'ratio')"
        >
          {{ exptCompany.ratio }}
        </td>
        <td>{{ exptCompany.dispatchCount }}</td>
        <td>{{ exptCompany.sysCreatedDate | date : reportDateTimeFormat }}</td>
        <td>{{ exptCompany.sysCreatedBy }}</td>
        <td>{{ exptCompany.sysUpdatedDate | date : reportDateTimeFormat }}</td>
        <td>{{ exptCompany.sysUpdatedBy }}</td>
        <td>
          <mat-icon (click)="deleteExpertCompany(exptCompany.expertCompanyId!)"
            >delete</mat-icon
          >
        </td>
      </tr>
    </tbody>
    <ng-template #noData>
      <tr>
        <td colspan="9">No data to display</td>
      </tr>
    </ng-template>
  </table>
</div>
