<div class="h3-header">
  <h3>
    {{ dico?.dico_expert_comp_list || "dico_expert_comp_list" }}

    <button
      type="button"
      (click)="exportToExcel()"
      *ngIf="hasPerm('admExportToFile')"
      class="export-excel btn btn-primary"
    >
      {{ dico?.dico_export_to_excel || "dico_export_to_excel" }}
    </button>
  </h3>
</div>
<div class="admin-container container-fluid" style="height: 200px">
  <div class="user-inputs">
    <div class="admin-button">
      <button
        type="button"
        (click)="openAddExpertDialog()"
        *ngIf="hasPerm('admAddData')"
      >
        {{ dico?.dico_add || "dico_add" }}
      </button>
      <button
        type="button"
        style="margin-left: 8px"
        (click)="updateExpertCompany()"
        *ngIf="hasPerm('admUpdateData')"
      >
        {{ dico?.dico_save || "dico_save" }}
      </button>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>{{ dico?.dico_insurance || "dico_insurance" }}</th>
        <th>
          {{ dico?.dico_insurance_init_count || "dico_insurance_init_count" }}
        </th>
        <th>{{ dico?.dico_insurance_ratio || "dico_insurance_ratio" }}</th>
        <th>
          {{
            dico?.dico_All_Expert_Dispatch_Count ||
              "dico_All_Expert_Dispatch_Count"
          }}
        </th>
        <th>{{ dico?.dico_sys_created_date || "dico_sys_created_date" }}</th>
        <th>{{ dico?.dico_sys_created_by || "dico_sys_created_by" }}</th>
        <th>{{ dico?.dico_sys_updated_date || "dico_sys_updated_date" }}</th>
        <th>{{ dico?.dico_sys_updated_by || "dico_sys_updated_by" }}</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let exptCompany of expertCompanies;
          trackBy: trackExpCompanyeById
        "
      >
        <td>
          <select
            class="select-class"
            [(ngModel)]="exptCompany.insuranceId"
            (change)="onDropdownChange($event, exptCompany, 'insuranceId')"
          >
            <option *ngFor="let company of companies" [value]="company.code">
              {{ company.description }}
            </option>
          </select>
        </td>
        <td
          contenteditable="true"
          (blur)="onTdBlur($event, exptCompany, 'initialCount')"
        >
          {{ exptCompany.initialCount }}
        </td>
        <td
          contenteditable="true"
          (blur)="onTdBlur($event, exptCompany, 'ratio')"
        >
          {{ exptCompany.ratio }}
        </td>
        <td>{{ exptCompany.dispatchCount }}</td>
        <td>
          {{
            exptCompany.sysCreatedDate
              | date : dateFormat("reportDateTimeFormat")
          }}
        </td>
        <td>{{ exptCompany.sysCreatedBy }}</td>
        <td>
          {{
            exptCompany.sysUpdatedDate
              | date : dateFormat("reportDateTimeFormat")
          }}
        </td>
        <td>{{ exptCompany.sysUpdatedBy }}</td>
        <td>
          <mat-icon
            *ngIf="hasPerm('admDeleteData')"
            (click)="deleteExpertCompany(exptCompany.expertCompanyId!)"
            >delete</mat-icon
          >
        </td>
        <td (click)="openUpdateCompanyListDialog(exptCompany)">
          <mat-icon>edit</mat-icon>
        </td>
      </tr>
    </tbody>
    <ng-template #noData>
      <tr>
        <td colspan="9">
          {{ dico?.BASIC_NO_DATA_TO_DISPLAY || "BASIC_NO_DATA_TO_DISPLAY" }}
        </td>
      </tr>
    </ng-template>
  </table>
</div>
