<h2 style="margin: 10px; font-size: large">Add Document</h2>
<div class="dialog">
  <form (ngSubmit)="addDocument()">
    <label>{{ dico?.dico_upload_file || "dico_upload_file" }}:</label>
    <input type="file" name="file" (change)="onFileSelected($event)" />

    <!-- <label>{{ dico?.dico_id || "dico_id" }}:</label>
    <input type="text" id="id" [(ngModel)]="id" name="id" /> -->

    <label>{{ dico?.dico_company || "dico_company" }}:</label>
    <ng-select appendTo="body" [(ngModel)]="company" name="locale">
      <ng-option
        *ngFor="let company of companyList"
        [value]="company.companyId"
        >{{ company.companyName }}</ng-option
      >
    </ng-select>

    <label>{{ dico?.dico_file_name || "dico_file_name" }}:</label>
    <input type="text" name="fileName" [(ngModel)]="fileName" />

    <label>{{ dico?.dico_path || "dico_path" }}:</label>
    <input type="text" [(ngModel)]="filePath" name="path" />

    <label>{{ dico?.dico_content_type || "dico_content_type" }}:</label>
    <input type="text" [(ngModel)]="contentType" name="content-Type" />

    <button type="submit">{{ dico?.dico_save || "dico_save" }}</button>
  </form>
</div>
