<div class="dialog">
  <form (ngSubmit)="addDocument()">
    <label for="file">File:</label>
    <input type="file" name="file" (change)="onFileSelected($event)" />

    <label for="id">ID:</label>
    <input type="text" id="id" [(ngModel)]="id" name="id" />

    <label for="id">Company:</label>
    <ng-select appendTo="body" [(ngModel)]="company" name="locale">
      <ng-option
        *ngFor="let company of companyList"
        [value]="company.companyId"
        >{{ company.companyName }}</ng-option
      >
    </ng-select>

    <label for="fileName">File Name:</label>
    <input type="text" name="fileName" [(ngModel)]="fileName" />

    <label for="path">File path:</label>
    <input type="text" [(ngModel)]="filePath" name="path" />

    <label for="content-Type">Content Type:</label>
    <input type="text" [(ngModel)]="contentType" name="content-Type" />

    <button type="submit">Save</button>
  </form>
</div>
