<h2 style="margin: 10px; font-size: large">Add Document</h2>
<div class="dialog">
  <form (ngSubmit)="addDocument()">
    <label>File:</label>
    <input type="file" name="file" (change)="onFileSelected($event)" />

    <label>ID:</label>
    <input type="text" id="id" [(ngModel)]="id" name="id" />

    <label>Company:</label>
    <ng-select appendTo="body" [(ngModel)]="company" name="locale">
      <ng-option
        *ngFor="let company of companyList"
        [value]="company.companyId"
        >{{ company.companyName }}</ng-option
      >
    </ng-select>

    <label>File Name:</label>
    <input type="text" name="fileName" [(ngModel)]="fileName" />

    <label>File path:</label>
    <input type="text" [(ngModel)]="filePath" name="path" />

    <label>Content Type:</label>
    <input type="text" [(ngModel)]="contentType" name="content-Type" />

    <button type="submit">Save</button>
  </form>
</div>
