.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-img {
  height: 50px;
  width: 50px;
  margin-top: 10px;
}

.profile-box {
  flex-basis: 25%;
  height: 120px;
  border: 1px solid #ccc;
  text-align: center;
  margin: 10px;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.profile-box:hover {
  background-color: #1884d7;
  color: white;
  border: 1px solid white;
  transform: translateY(-5px);
  cursor: pointer;
}

.profile-box h2 {
  font-size: 12px; /* Decreased font size */
  margin-top: 10px;
  /* color: #333; */
}


@media (max-width: 767px) {
  .profile-box {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}