<h2 style="margin: 10px; font-size: large">{{ dico?.dico_add_client || "dico_add_client" }}</h2>
<div class="dialog">
  <form [formGroup]="form" (ngSubmit)="addCarClient()">
    <label for="num1">{{ dico?.dico_num_1 || "dico_num_1" }}:</label>
    <input
      type="text"
      id="num1"
      name="num1"
      required
      formControlName="num1"
      style="margin-bottom: 10px"
    />
    <div
      style="color: red"
      *ngIf="
        formControl['num1'].errors &&
        (formControl['num1'].dirty || formControl['num1'].touched)
      "
    >
      <div *ngIf="formControl['num1']?.errors?.['required']">
        {{ dico?.dico_num1_is_required || "dico_num1_is_required" }}
      </div>
      <div *ngIf="formControl['num1']?.errors?.['pattern']">
        {{ dico?.dico_number_is_required || "dico_number_is_required" }}
      </div>
    </div>
    <label for="num2">{{ dico?.dico_num_2 || "dico_num_2" }}:</label>
    <input
      type="text"
      id="num2"
      name="num2"
      required
      formControlName="num2"
      style="margin-bottom: 10px"
    />
    <div
      style="color: red"
      *ngIf="
        formControl['num2'].errors &&
        (formControl['num2'].dirty || formControl['num2'].touched)
      "
    >
      <div *ngIf="formControl['num2']?.errors?.['required']">
        {{ dico?.dico_num2_is_required || "dico_num2_is_required" }}
      </div>
      <div *ngIf="formControl['num2']?.errors?.['pattern']">
       {{ dico?.dico_number_is_required || "dico_number_is_required" }}
      </div>
    </div>
    <label for="firstName">{{ dico?.dico_first_name || "dico_first_name" }}:</label>
    <input
      type="text"
      id="firstName"
      name="firstName"
      required
      formControlName="firstName"
      style="margin-bottom: 10px"
    />
    <div
      style="color: red"
      *ngIf="
        formControl['firstName'].errors &&
        (formControl['firstName'].dirty || formControl['firstName'].touched)
      "
    >
      <div *ngIf="formControl['firstName']?.errors?.['required']">
        {{ dico?.dico_first_name_is_required || "dico_first_name_is_required" }}
      </div>
    </div>
    <label for="lastName">{{ dico?.dico_family_name || "dico_family_name" }}:</label>
    <input
      type="text"
      id="lastName"
      name="lastName"
      required
      formControlName="lastName"
      style="margin-bottom: 10px"
    />
    <div
      style="color: red"
      *ngIf="
        formControl['lastName'].errors &&
        (formControl['lastName'].dirty || formControl['lastName'].touched)
      "
    >
      <div *ngIf="formControl['lastName']?.errors?.['required']">
        {{ dico?.dico_Family_Name_is_required || "dico_Family_Name_is_required" }}
      </div>
    </div>
    <label for="fatherName">{{ dico?.dico_father_name || "dico_father_name" }}:</label>
    <input
      type="text"
      id="fatherName"
      name="fatherName"
      required
      formControlName="fatherName"
      style="margin-bottom: 10px"
    />
    <div
      style="color: red"
      *ngIf="
        formControl['fatherName'].errors &&
        (formControl['fatherName'].dirty || formControl['fatherName'].touched)
      "
    >
      <div *ngIf="formControl['fatherName']?.errors?.['required']">
        {{ dico?.dico_father_Name_is_required || "dico_father_Name_is_required" }}
      </div>
    </div>
    <label for="prefixFamily">{{ dico?.dico_prefix_fam || "dico_prefix_fam" }}:</label>
    <input
      type="text"
      id="prefixFamily"
      name="prefixFamily"
      required
      formControlName="prefixFamily"
      style="margin-bottom: 10px"
    />
    <div
      style="color: red"
      *ngIf="
        formControl['prefixFamily'].errors &&
        (formControl['prefixFamily'].dirty ||
          formControl['prefixFamily'].touched)
      "
    >
      <div *ngIf="formControl['prefixFamily']?.errors?.['required']">
        {{ dico?.dico_Prefix_Family_is_required || "dico_Prefix_Family_is_required" }}
      </div>
    </div>
    <label for="busPhone">{{ dico?.dico_bus_phone || "dico_bus_phone" }}:</label>
    <input
      type="text"
      id="busPhone"
      name="busPhone"
      required
      formControlName="busPhone"
      style="margin-bottom: 10px"
    />
    <div
      style="color: red"
      *ngIf="
        formControl['busPhone'].errors &&
        (formControl['busPhone'].dirty || formControl['busPhone'].touched)
      "
    >
      <div *ngIf="formControl['busPhone']?.errors?.['required']">
        {{ dico?.dico_bus_Phone_is_required || "dico_bus_Phone_is_required" }}
      </div>
    </div>
    <label for="mobilePhone">{{ dico?.dico_mobile_phone || "dico_mobile_phone" }}:</label>
    <input
      type="text"
      id="mobilePhone"
      name="mobilePhone"
      required
      formControlName="mobilePhone"
      style="margin-bottom: 10px"
    />
    <div
      style="color: red"
      *ngIf="
        formControl['mobilePhone'].errors &&
        (formControl['mobilePhone'].dirty || formControl['mobilePhone'].touched)
      "
    >
      <div *ngIf="formControl['mobilePhone']?.errors?.['required']">
        {{ dico?.dico_Mobile_Phone_is_required || "dico_Mobile_Phone_is_required" }}
      </div>
    </div>
    <!-- dico_title -->
    <label>{{ dico?.dico_title || "dico_title" }}:</label>
    <select formControlName="titre">
      <option [value]="title.code" *ngFor="let title of titleLov">
        {{ title.description }}
      </option>
    </select>
    <!-- <input
      type="text"
      id="titre"
      name="titre"
      required
      formControlName="titre"
      style="margin-bottom: 10px"
    /> -->
    <div
      style="color: red"
      *ngIf="
        formControl['titre'].errors &&
        (formControl['titre'].dirty || formControl['titre'].touched)
      "
    >
      <div *ngIf="formControl['titre']?.errors?.['required']">
        {{ dico?.dico_titre_is_required || "dico_titre_is_required" }}
      </div>

      <div *ngIf="formControl['titre']?.errors?.['maxlength']">
        {{ dico?.dico_maximum_length_exceeded || "dico_maximum_length_exceeded" }}
      </div>
    </div>
    <label for="gender">{{ dico?.dico_gender || "dico_gender" }}:</label>
    <select
      name="gender"
      id="gender"
      formControlName="gender"
      style="margin-bottom: 10px"
    >
      <option [value]="gender.code" *ngFor="let gender of genderList">
        {{ gender.description }}
      </option>
    </select>

    <div
      style="color: red"
      *ngIf="
        formControl['gender'].errors &&
        (formControl['gender'].dirty || formControl['gender'].touched)
      "
    >
      <div *ngIf="formControl['gender']?.errors?.['required']">
        {{ dico?.dico_gender_is_required || "dico_gender_is_required" }}
      </div>
      <div *ngIf="formControl['gender']?.errors?.['maxlength']">
        {{ dico?.dico_maximum_length_exceeded || "dico_maximum_length_exceeded" }}
      </div>
    </div>
    <label for="broker">{{ dico?.dico_broker || "dico_broker" }}:</label>
    <input
      type="text"
      id="broker"
      name="broker"
      required
      formControlName="broker"
      style="margin-bottom: 10px"
    />
    <div
      style="color: red"
      *ngIf="
        formControl['broker'].errors &&
        (formControl['broker'].dirty || formControl['broker'].touched)
      "
    >
      <div *ngIf="formControl['broker']?.errors?.['required']">
        {{ dico?.dico_broker_is_required || "dico_broker_is_required" }}
      </div>
      <div *ngIf="formControl['broker']?.errors?.['pattern']">
        {{ dico?.dico_number_is_required || "dico_number_is_required" }}
      </div>
    </div>
    <label for="indic1">{{ dico?.dico_indic1 || "dico_indic1" }}:</label>
    <input
      type="text"
      id="indic1"
      name="indic1"
      required
      formControlName="indic1"
      style="margin-bottom: 10px"
    />
    <div
      style="color: red"
      *ngIf="
        formControl['indic1'].errors &&
        (formControl['indic1'].dirty || formControl['indic1'].touched)
      "
    >
      <div *ngIf="formControl['indic1']?.errors?.['required']">
        {{ dico?.dico_indic1_is_required || "dico_indic1_is_required" }}
      </div>
      <div *ngIf="formControl['indic1']?.errors?.['pattern']">
        {{ dico?.dico_number_is_required || "dico_number_is_required" }}
      </div>
    </div>
    <label for="indic2">{{ dico?.dico_indic2 || "dico_indic2" }}:</label>
    <input
      type="text"
      id="indic2"
      name="indic2"
      required
      formControlName="indic2"
      style="margin-bottom: 10px"
    />
    <div
      style="color: red"
      *ngIf="
        formControl['indic2'].errors &&
        (formControl['indic2'].dirty || formControl['indic2'].touched)
      "
    >
      <div *ngIf="formControl['indic2']?.errors?.['required']">
        {{ dico?.dico_indic2_is_required || "dico_indic2_is_required" }}
      </div>
      <div *ngIf="formControl['indic2']?.errors?.['pattern']">
        {{ dico?.dico_number_is_required || "dico_number_is_required" }}
      </div>
    </div>
    <label for="vip">{{ dico?.dico_vip || "dico_vip" }}:</label>
    <input
      type="text"
      id="vip"
      name="vip"
      required
      formControlName="clientVip"
      style="margin-bottom: 10px"
    />
    <div
      style="color: red"
      *ngIf="
        formControl['clientVip'].errors &&
        (formControl['clientVip'].dirty || formControl['clientVip'].touched)
      "
    >
      <div *ngIf="formControl['clientVip']?.errors?.['required']">
        {{ dico?.dico_Client_Vip_is_required || "dico_Client_Vip_is_required" }}
      </div>
    </div>
    <label for="description">{{ dico?.dico_description || "dico_description" }}:</label>
    <input
      type="text"
      id="description"
      name="description"
      required
      formControlName="description"
      style="margin-bottom: 10px"
    />
    <div
      style="color: red"
      *ngIf="
        formControl['description'].errors &&
        (formControl['description'].dirty || formControl['description'].touched)
      "
    >
      <div *ngIf="formControl['description']?.errors?.['required']">
        {{ dico?.dico_description_is_required || "dico_description_is_required" }}
      </div>
    </div>
    <button
      type="submit"
      [disabled]="!form.valid"
      [ngClass]="{ 'disabled-button': !form.valid }"
    >
      {{ dico?.BASIC_SAVE || "BASIC_SAVE" }}
    </button>
  </form>
</div>
