.email-heading {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.page-container {
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
}

.divider {
  border-color: #ddd;
}

.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-file-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-file-label {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.upload-button {

  margin-left: 10px;
  margin-top: 10px;
}

.file-info {
  margin-top: 5px;
  font-size: 12px;
}

.form-group label {
  font-weight: bold;
}

.form-group input[type="text"],
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
ng-select{
  width: 100%;
  /* padding: 8px; */
  /* border: 1px solid #ddd; */
  /* border-radius: 4px; */
}
.form-group textarea {
  height: 150px;
}

.form-group input[type="file"] {
  display: none;
}

.form-group .custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: #fff;
  background-color: #337ab7;
  border-radius: 4px;
}

.form-group .custom-file-upload:hover {
  background-color: #286090;
}

.recipients-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.recipients-input input {
  flex-grow: 1;
  margin-right: 10px;
}
textarea.signature {
  font-style: italic;
  color: #286090;
}
.add-recipient-btn {
  /* width: 30px;
  height: 30px; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 15px; */
  font-weight: bold;
  margin-left: 5px;
}

.btn-primary {
  background-color: #337ab7;
  border-color: #337ab7;
}

.btn-primary:hover {
  background-color: #286090;
  border-color: #286090;
}