<app-navbar [title]="navBarTitle" [sendEmailButton]="false"></app-navbar>
<div class="page-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="email-heading">Email Details</h4>
        <hr class="divider" />
      </div>
    </div>
    <form [formGroup]="emailFormBuild" (ngSubmit)="sendEmail()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="from">From:</label>
            <input
              type="email"
              class="form-control"
              id="from"
              name="from"
              formControlName="from"
            />
          </div>
          <div class="form-group">
            <label for="recipients">To:</label>
            <div class="recipients-input">
              <input
                type="email"
                class="form-control"
                id="recipients"
                name="recipients"
                formControlName="recipients"
              />
              <button
                type="button"
                class="btn btn-primary add-recipient-btn"
                (click)="addRecipient()"
              >
                +
              </button>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-6"></div> -->
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="bcc">CC:</label>
            <input
              type="text"
              class="form-control"
              id="bcc"
              name="bcc"
              formControlName="BCC"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="subject">Subject:</label>
            <input
              type="text"
              class="form-control"
              id="subject"
              name="subject"
              formControlName="subject"
            />
          </div>
          <div class="form-group">
            <label for="body">Text:</label>

            <textarea
              class="form-control"
              id="body"
              name="body"
              formControlName="body"
              style="height: 200px; resize: none"
            >
            </textarea>
            <div id="body" [innerHTML]="sanitizedSignature"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="input-group">
              <input
                type="file"
                class="custom-file-input"
                id="image"
                style="display: none"
                (change)="handleImageUpload($event)"
              />
              <div class="input-group-append">
                <label class="custom-file-label" for="image"
                  >Add Attachment</label
                >
                <button
                  type="button"
                  class="btn btn-primary upload-button"
                  (click)="openFileSelection()"
                >
                  Upload
                </button>
              </div>
            </div>
            <div class="file-info">
              <label>File Name: {{ fileName }}</label>
            </div>
            <div class="file-info">
              <label>File Type: {{ fileType }}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button
            type="submit"
            class="btn btn-primary"
            style="float: right; padding: 10px"
            [disabled]="!emailFormBuild.valid"
          >
            Send Email
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
