<app-login-nav></app-login-nav>
<app-navbar [title]="navBarTitle" [sendEmailButton]="false"></app-navbar>
<div class="page-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="email-heading">Email Details</h4>
        <hr class="divider" />
      </div>
    </div>
    <form [formGroup]="emailFormBuild" (ngSubmit)="sendEmail()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="from">From:</label>
            <input
              type="email"
              class="form-control"
              id="from"
              name="from"
              formControlName="from"
            />
          </div>
          <div class="form-group">
            <label for="recipients">To:</label>
            <div class="recipients-input">
              <ng-select
                [items]="recipients"
                formControlName="recipients"
                [multiple]="true"
                [addTag]="true"
                (search)="searchRecipients($event)"
              >
              </ng-select>
              <button
                type="button"
                class="btn btn-primary add-recipient-btn"
                (click)="addRecipient()"
              >
                +
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="bcc">BCC:</label>
            <div class="recipients-input">
              <ng-select
                [items]="recipients"
                formControlName="BCC"
                [multiple]="true"
                [addTag]="true"
                (search)="searchRecipients($event)"
              >
              </ng-select>
              <button
                type="button"
                class="btn btn-primary add-recipient-btn"
                (click)="addRecipient()"
              >
                +
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="bcc">CC:</label>
            <div class="recipients-input">
              <ng-select
                [items]="recipients"
                formControlName="CC"
                [multiple]="true"
                [addTag]="true"
                (search)="searchRecipients($event)"
              >
              </ng-select>
              <button
                type="button"
                class="btn btn-primary add-recipient-btn"
                (click)="addRecipient()"
              >
                +
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="subject">Subject:</label>
            <input
              type="text"
              class="form-control"
              id="subject"
              name="subject"
              formControlName="subject"
            />
            <div
              style="color: red"
              *ngIf="
                formControl['subject'].errors &&
                (formControl['subject'].dirty || formControl['subject'].touched)
              "
            >
              <div *ngIf="formControl['subject']?.errors?.['required']">
                Subject is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="subject">Body:</label>
            <div class="NgxEditor__Wrapper">
              <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>

              <ngx-editor
                [editor]="editor"
                [placeholder]="'Type here...'"
                formControlName="body"
              >
              </ngx-editor>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <div class="input-group">
              <input
                type="file"
                multiple
                class="custom-file-input"
                id="image"
                style="display: none"
                (change)="handleImageUpload($event)"
              />
              <div class="input-group-append">
                <label class="custom-file-label" for="image"
                  >Add Attachment</label
                >
                <button
                  type="button"
                  class="btn btn-primary upload-button"
                  (click)="openFileSelection()"
                >
                  Upload
                </button>
              </div>
            </div>
            <div
              class="file-info"
              *ngFor="let attachment of attachments; let i = index"
            >
              <div class="attachment-row">
                <div class="attachment-info">
                  <label class="file-name"
                    >File Name: {{ attachment.name }}</label
                  >
                  <label class="file-type"
                    >File Type: {{ attachment.type }}</label
                  >
                </div>
                <span
                  class="delete-button"
                  (click)="deleteAttachment(attachment)"
                  >X</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button
            type="submit"
            class="btn btn-primary"
            style="float: right; padding: 10px"
            [disabled]="!emailFormBuild.valid"
          >
            Send Email
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
