<h2 style="margin: 10px; font-size: large">
  {{ dico?.dico_add_config || "dico_add_config" }}
</h2>
<div class="dialog">
  <form [formGroup]="configurationForm" (ngSubmit)="addConfiguration()">
    <div class="form-group">
      <label
        >{{ dico?.dico_config_key || "dico_config_key" }}
        <span class="required"> * </span>:</label
      >
      <input type="text" formControlName="configKey" />
      <div
        style="color: red"
        *ngIf="
          formControl['configKey'].errors &&
          (formControl['configKey'].dirty || formControl['configKey'].touched)
        "
      >
        <div *ngIf="formControl['configKey']?.errors?.['required']">
          <strong>{{ dico?.dico_required || "dico_required" }}</strong>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label
        >{{ dico?.dico_config_value || "dico_config_value" }}
        <span class="required"> * </span> :</label
      >
      <input type="text" formControlName="configValue" />

      <div
        style="color: red"
        *ngIf="
          formControl['configValue'].errors &&
          (formControl['configValue'].dirty ||
            formControl['configValue'].touched)
        "
      >
        <div *ngIf="formControl['configValue']?.errors?.['required']">
          <strong>{{ dico?.dico_required || "dico_required" }}</strong>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>{{ dico?.dico_description || "dico_description" }} :</label>
      <input type="text" formControlName="configDescription" />
    </div>

    <button
      type="submit"
      [disabled]="!configurationForm.valid"
      [ngClass]="{ 'is-disabled': !configurationForm.valid }"
    >
      {{ dico?.dico_save || "dico_save" }}
    </button>
  </form>
</div>
