<h2 style="margin: 10px; font-size: large">Add Configuration</h2>
<div class="dialog">
  <form (ngSubmit)="addConfiguration()">
    <label>ID:</label>
    <input type="text" id="id" [(ngModel)]="configId" name="id" />

    <label>Config Value:</label>
    <input type="text" [(ngModel)]="configValue" name="configValue" />

    <label>Description:</label>
    <input
      type="text"
      [(ngModel)]="configDescription"
      name="configDescription "
    />
    <button type="submit">Save</button>
  </form>
</div>
