<h2 style="margin: 10px; font-size: large">Add Configuration</h2>
<div class="dialog">
  <form (ngSubmit)="addConfiguration()">
    <label>{{ dico?.dico_id || "dico_id" }}:</label>
    <input type="text" id="id" [(ngModel)]="configId" name="id" />

    <label>{{ dico?.dico_config_value || "dico_config_value" }}:</label>
    <input type="text" [(ngModel)]="configValue" name="configValue" />

    <label>{{ dico?.dico_description || "dico_description" }}:</label>
    <input
      type="text"
      [(ngModel)]="configDescription"
      name="configDescription "
    />
    <button type="submit">{{ dico?.dico_save || "dico_save" }}</button>
  </form>
</div>
