.user-permissions-list {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 15px;
  /* margin-top: 15px; */
  width: 300px;
  /* height: auto; */
  float: left;
  background-color: rgb(230, 235, 243);
}

tr.selected {
  background-color: #e0f2db;
}
.add-remove-profile-btn {
  background-color: #1884d7;
  color: white;
  border: none;
  padding: 8px 10px;
  margin: 10px 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.copy-profile-btn {
  background-color: #1884d7;
  color: white;
  border: none;
  margin-left: 15px;
  padding: 8px 10px;
  margin: 10px 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.add-remove-profile-btn:hover,
.copy-profile-btn:hover {
  background-color: #0d6efd;
}

.add-remove-profile-btn:focus,
.copy-profile-btn:focus {
  outline: none;
  box-shadow: 0px 0px 5px 0px rgba(24, 132, 215, 0.5);
}

.add-remove-profile-btn:active,
.copy-profile-btn:active {
  transform: translateY(1px);
}
