<div class="user-permissions-list">
  <div class="buttons-container">
    <button
      class="add-remove-profile-btn"
      aria-label="Add Profile"
      (click)="openProfileDialog()"
    >
      {{ dico?.dico_add || "dico_add" }} {{ dico?.MA_PROFILE || "MA_PROFILE" }}
    </button>
    <button
      class="copy-profile-btn"
      aria-label="Copy Profile"
      (click)="CopyProfileDialog()"
    >
      {{ dico?.dico_copy || "dico_copy" }}
      {{ dico?.MA_PROFILE || "MA_PROFILE" }}
    </button>
  </div>

  <table>
    <thead>
      <tr>
        <th>
          {{ dico?.MA_PROFILE || "MA_PROFILE" }} {{ selectedUser?.displayName }}
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let profile of profiles"
        (click)="selectedProfile = profile"
        [class.selected]="profile === selectedProfile"
      >
        <td (click)="RoleList(profile)">{{ profile.description }}</td>
        <td>
          <mat-icon (click)="deleteProfile(profile.id!)">delete</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="showRoleList">
  <app-user-roles
    [profiles]="profiles"
    [selectedProfile]="selectedProfile"
    [selectedUser]="selectedUser"
  ></app-user-roles>
</div>
