.warning-class{
    font-size: large;
    color:Red;
}
.disabled-image {
    filter: grayscale(100%); /* Apply grayscale to make it look disabled */
    opacity: 0.6; /* Reduce opacity for further disabled appearance */
    pointer-events: none; /* Disable pointer events on the image */
  }
  .selected-row {
    background-color: #e0f2db; /* You can change this to your desired highlight color */
  }