.warning-class{
    font-size: large;
    color:Red;
}

  .selected-row {
    background-color: #e0f2db; /* You can change this to your desired highlight color */
    font-weight: bold;
  }
  .nav-item {
    margin-right: 10px; /* Adjust the value to control the spacing */
    padding: 5px 5px; /* Add padding to the menu items */
     /* Add a border around the menu items */
  }
  .notification-icon {
    padding: 5px; /* Adjust the value to control the spacing */
  }
  