<h2 style="margin: 10px; font-size: large">Add Expert</h2>
<div class="dialog">
  <form [formGroup]="expertForm" (ngSubmit)="addExpert()">
    <div class="form-group">
      <label for="groupCode">{{ dico?.dico_group || "dico_group" }}:</label>
      <select
        id="groupCode"
        name="groupCode"
        class="input-dropdown"
        formControlName="groupCode"
      >
        <option *ngFor="let expGroup of expGroups" [value]="expGroup.code">
          {{ expGroup.description }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="territory"
        >{{ dico?.dico_territory || "dico_territory" }}:</label
      >
      <select
        id="territory"
        name="territory"
        class="input-dropdown"
        formControlName="territory_code"
      >
        <option *ngFor="let territory of teritories" [value]="territory.code">
          {{ territory.description }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="remarks">{{ dico?.dico_remarks || "dico_remarks" }}:</label>
      <input
        type="text"
        id="remarks"
        name="remarks"
        formControlName="remarks"
      />
    </div>
    <div class="form-group">
      <label for="ratio">{{ dico?.dico_ratio || "dico_ratio" }}:</label>
      <input type="text" id="ratio" name="ratio" formControlName="ratio" />
      <div
        style="color: red"
        *ngIf="
          formControl['ratio'].errors &&
          (formControl['ratio'].dirty || formControl['ratio'].touched)
        "
      >
        <div *ngIf="formControl['ratio']?.errors?.['pattern']">
          number is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="priority"
        >{{ dico?.dico_priority || "dico_priority" }}:</label
      >
      <input
        type="text"
        id="priority"
        name="priority"
        formControlName="priority"
      />
      <div
        style="color: red"
        *ngIf="
          formControl['priority'].errors &&
          (formControl['priority'].dirty || formControl['priority'].touched)
        "
      >
        <div *ngIf="formControl['priority']?.errors?.['pattern']">
          number is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="schedule_code"
        >{{ dico?.dico_schedule || "dico_schedule" }}:</label
      >
      <select
        id="schedule_code"
        name="schedule_code"
        class="input-dropdown"
        formControlName="schedule_code"
      >
        <option *ngFor="let schedule of schedule" [value]="schedule.code">
          {{ schedule.description }}
        </option>
      </select>
    </div>
    <div class="form-group" style="flex-direction: row">
      <label for="bodily_injury">
        {{ dico?.dico_bodily_injuries || "dico_bodily_injuries" }}:</label
      >
      <input
        type="checkbox"
        id="bodily_injury"
        name="bodily_injury"
        formControlName="bodily_injury"
      />
    </div>

    <div class="form-group" style="flex-direction: row">
      <label for="vip">{{ dico?.dico_vip || "dico_vip" }}:</label>
      <input type="checkbox" id="vip" name="vip" formControlName="vip" />
    </div>
    <div class="form-group" style="flex-direction: row">
      <label for="exclusive">
        {{ dico?.dico_exclusive || "dico_exclusive" }}:</label
      >
      <input
        type="checkbox"
        id="exclusive"
        name="exclusive"
        formControlName="exclusive"
      />
    </div>
    <div class="form-group" style="flex-direction: row">
      <label for="secondExpert">
        {{ dico?.dico_second_expert || "dico_second_expert" }}:</label
      >
      <input
        type="checkbox"
        id="secondExpert"
        name="secondExpert"
        formControlName="secondExpert"
      />
    </div>

    <div class="form-group" style="flex-direction: row">
      <label for="sendSMS"> {{ dico?.dico_sms || "dico_sms" }}:</label>
      <input
        type="checkbox"
        id="sendSMS"
        name="sendSMS"
        formControlName="sendSMS"
      />
    </div>

    <div class="form-group" style="flex-direction: row">
      <label for="contract"> {{ dico?.dico_contact || "dico_contact" }}:</label>
      <input
        type="checkbox"
        id="contract"
        name="contract"
        formControlName="contract"
      />
    </div>
    <button type="submit">{{ dico?.dico_save || "dico_save" }}</button>
  </form>
</div>
