<nav class="navbar-class">
  <div class="navbar-left">
    <a routerLink="/profiles-main"
      ><img src="assets/images/basicLogo.jpg" alt="Logo"
    /></a>
  </div>
  <div class="navbar-right">
    <span class="navbar-date">
      {{ dico?.BASIC_LAST_LOGIN || "BASIC_LAST_LOGIN" }} :{{
        loginInfo?.sysCreatedDate | date : dateFormat("reportDateTimeFormat")
      }}</span
    >
    <div class="navbar-dropdown">
      <button class="navbar-username">
        <img src="assets/images/cs.png" alt="Avatar" />
        {{ loginInfo?.displayName }}
      </button>
      <div class="navbar-dropdown-content">
        <a (click)="openChangePasswordDialog()">{{
          dico?.BASIC_CHANGE_PWD || "BASIC_CHANGE_PWD"
        }}</a>
        <a (click)="logout()">{{ dico?.BASIC_LOGOUT || "BASIC_LOGOUT" }}</a>
      </div>
    </div>
  </div>
</nav>
