<div class="container-fluid mt-3">
  <div class="card">
    <div class="card-body">
      <form (ngSubmit)="userSearch()">
        <div class="row p-2 flex flex-wrap gap-3 justify-content-start">
          <div class="col-md-6 col-sm-6 col-lg-2">
            <p-inputGroup>
              <p-inputGroupAddon>
                <i class="pi pi-user"></i>
              </p-inputGroupAddon>
              <input
                pInputText
                [placeholder]="dico?.dico_user_code || 'dico_user_code'"
                [(ngModel)]="username"
                id="user-name"
                name="user-name"
              />
            </p-inputGroup>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-2">
            <p-inputGroup>
              <p-inputGroupAddon>
                <i class="pi pi-user"></i>
              </p-inputGroupAddon>
              <input
                pInputText
                [placeholder]="dico?.dico_display_name || 'dico_display_name'"
                [(ngModel)]="name"
                id="user-code"
                name="user-code"
              />
            </p-inputGroup>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-2">
            <p-autoComplete
              [(ngModel)]="selectedRole"
              [suggestions]="roles!"
              (completeMethod)="searchRoles($event)"
              field="description"
              appendTo="body"
              name="roles"
              class="p-inputtext-sm"
              [virtualScroll]="true"
              [placeholder]="dico?.dico_role || 'dico_role'"
              [virtualScrollItemSize]="30"
              [styleClass]=""
            ></p-autoComplete>
          </div>
          <div class="col-md-6 col-sm-8 col-lg-2">
            <p-button
              [label]="dico?.BASIC_SEARCH || 'BASIC_SEARCH'"
              [loading]="loading"
              type="submit"
              [rounded]="true"
            ></p-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container-fluid mt-3">
  <div class="card">
    <div class="card-body">
      <p-toolbar>
        <ng-template pTemplate="right">
          <button
            type="button"
            pButton
            pRipple
            icon="pi pi-file-excel"
            (click)="exportToExcel()"
            class="p-button-success"
            pTooltip="XLS"
            tooltipPosition="bottom"
          ></button>
        </ng-template>
        <ng-template pTemplate="left"></ng-template>
      </p-toolbar>

      <p-table
        [value]="users!"
        [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="loading"
        selectionMode="single"
        [(selection)]="selectedUser"
        [rowHover]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      >
        <!-- [tableStyle]="{ 'min-width': '50rem' }" -->
        <ng-template pTemplate="header">
          <tr>
            <th></th>
            <th pSortableColumn="userName" style="min-width: 14rem">
              <div class="flex justify-content-between align-items-center">
                {{ dico?.dico_code || "dico_code" }}
                <p-sortIcon field="userName"></p-sortIcon>
                <p-columnFilter
                  type="text"
                  field="userName"
                  display="menu"
                  class="ml-auto"
                ></p-columnFilter>
              </div>
            </th>
            <!-- <th>{{ dico?.dico_code || "dico_code" }}</th> -->
            <th pSortableColumn="displayName" style="min-width: 14rem">
              <div class="flex justify-content-between align-items-center">
                {{ dico?.dico_display_name || "dico_display_name" }}
                <p-sortIcon field="displayName"></p-sortIcon>
                <p-columnFilter
                  type="text"
                  field="displayName"
                  display="menu"
                  class="ml-auto"
                ></p-columnFilter>
              </div>
            </th>
            <th pSortableColumn="email" style="min-width: 14rem">
              <div class="flex justify-content-between align-items-center">
                {{ dico?.dico_email || "dico.dico_email" }}
                <p-sortIcon field="email"></p-sortIcon>
                <p-columnFilter
                  type="text"
                  field="email"
                  display="menu"
                  class="ml-auto"
                ></p-columnFilter>
              </div>
            </th>
            <th pSortableColumn="companyDescription" style="min-width: 14rem">
              <div class="flex justify-content-between align-items-center">
                {{ dico?.dico_company || "dico.dico_company" }}
                <p-sortIcon field="companyDescription"></p-sortIcon>
                <p-columnFilter
                  type="text"
                  field="companyDescription"
                  display="menu"
                  class="ml-auto"
                ></p-columnFilter>
              </div>
            </th>
            <th pSortableColumn="active" style="min-width: 14rem">
              <div class="flex justify-content-between align-items-center">
                {{ dico?.dico_active || "dico.dico_active" }}
                <p-sortIcon field="active"></p-sortIcon>
                <p-columnFilter
                  type="boolean"
                  field="active"
                  display="menu"
                  class="ml-auto"
                ></p-columnFilter>
              </div>
            </th>

            <th>
              {{ dico?.dico_sys_created_date || "dico_sys_created_date" }}
            </th>
            <th>
              {{ dico?.dico_sys_created_by || "dico_sys_created_by" }}
            </th>
            <th>
              {{ dico?.dico_sys_updated_date || "dico_sys_updated_date" }}
            </th>
            <th>
              {{ dico?.dico_sys_updated_by || "dico_sys_updated_by" }}
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-user>
          <tr [pSelectableRow]="user" (click)="showProfList(user)">
            <td>
              <i
                #btn
                class="material-icons"
                (click)="
                  menu.toggle($event);
                  $event.stopPropagation();
                  getUserData(user)
                "
                style="cursor: pointer"
              >
                menu
              </i>

              <p-tieredMenu
                #menu
                [model]="tieredMenuItems"
                [popup]="true"
                [appendTo]="'body'"
              ></p-tieredMenu>
            </td>
            <td>{{ user.userName }}</td>
            <td>{{ user.displayName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.companyDescription }}</td>
            <td>
              <p-checkbox
                [binary]="true"
                [(ngModel)]="user.active"
                [disabled]="true"
              ></p-checkbox>
            </td>
            <td>
              {{
                user.sysCreatedDate | date : dateFormat("reportDateTimeFormat")
              }}
            </td>
            <td>{{ user.sysCreatedBy }}</td>
            <td>
              {{
                user.sysUpdatedDate | date : dateFormat("reportDateTimeFormat")
              }}
            </td>
            <td>{{ user.sysUpdatedBy }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="10">No Data found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<div class="container-fluid mt-3" *ngIf="showProfileList">
  <div class="card">
    <div class="card-body">
      <app-user-profiles [selectedUser]="selectedUser"></app-user-profiles>
    </div>
  </div>
</div>
