<div class="form-container">
  <form [formGroup]="editForm" (ngSubmit)="editUser()">
    <legend><h2>User Info</h2></legend>
    <div class="form-row">
      <div class="form-group">
        <label for="username"
          >{{ dico?.dico_user_name || "dico_user_name" }} :</label
        >
        <input
          type="text"
          id="username"
          name="username"
          [value]="usersInfo.userName"
          disabled
        />
      </div>
      <div class="form-group">
        <label for="displayName"
          >{{ dico?.dico_display_name || "dico_display_name" }} :</label
        >
        <input
          type="text"
          id="displayName"
          name="displayName"
          placeholder="Enter a display name"
          required
          formControlName="displayName"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="email">{{ dico?.dico_email || "dico_email" }} :</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter an email address"
          required
          formControlName="email"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="companyId"
          >{{ dico?.dico_company || "dico_company" }} :</label
        >
        <!-- <input
          type="text"
          id="companyId"
          name="companyId"
          placeholder="Enter company"
          formControlName="companyId"
        /> -->
        <select [disabled]="isDisabled">
          <option
            *ngFor="let company of companyBranchService.companyList"
            [value]="company.companyId"
            [selected]="this.usersInfo.companyId === company.companyId"
          >
            {{ company.companyName }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="branchId">{{ dico?.dico_branch || "dico_branch" }} :</label>
        <select
          id="branchId"
          name="branchId"
          required
          formControlName="branchId"
        >
          <option
            *ngFor="let branch of companyBranchService.branchList"
            [ngValue]="branch.code"
            [selected]="this.usersInfo.branchId === branch.code"
          >
            {{ branch.description }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="paymentLimit"
          >{{ dico?.dico_payment_limit || "dico_payment_limit" }} :</label
        >
        <input
          type="text"
          id="paymentLimit"
          name="paymentLimit"
          required
          placeholder="Enter payment limit"
          formControlName="paymentLimit"
        />
      </div>
      <div class="form-group">
        <label for="exceedPercentage">
          {{
            dico?.dico_exceed_percentage_limit || "dico_exceed_percentage_limit"
          }}
          :</label
        >
        <input
          type="text"
          id="exceedPercentage"
          name="exceedPercentage"
          placeholder="Enter percentage limit"
          required
          formControlName="userLimitExceedPercentage"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="userLimitExpertFees">
          {{
            dico?.dico_user_limit_expert_fees || "dico_user_limit_expert_fees"
          }}
          :</label
        >
        <input
          type="text"
          id="userLimitExpertFees"
          name="userLimitExpertFees"
          required
          placeholder="Enter Expert Limit"
          formControlName="userLimitExpertFees"
        />
      </div>

      <div class="form-group">
        <label for="userLimitHospitalFees"
          >{{
            dico?.dico_user_limit_hospital_fees ||
              "dico_user_limit_hospital_fees"
          }}
          :</label
        >
        <input
          type="text"
          id="userLimitHospitalFees"
          name="userLimitHospitalFees"
          placeholder="Enter Hospital Fee"
          required
          formControlName="userLimitHospitalFees"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="userLimitDoctorFees"
          >{{ dico?.dico_doctor_fee_limit || "dico_doctor_fee_limit" }} :</label
        >
        <input
          type="text"
          id="userLimitDoctorFees"
          name="userLimitDoctorFees"
          placeholder="Enter doctor limit"
          required
          formControlName="userLimitDoctorFees"
        />
      </div>

      <div class="form-group">
        <label for="userLimitSurveyFees"
          >{{ dico?.dico_survey_fee_limit || "dico_survey_fee_limit" }} :</label
        >
        <input
          type="text"
          id="userLimitSurveyFees"
          name="userLimitSurveyFees"
          placeholder="Enter survey limit"
          required
          formControlName="userLimitSurveyFees"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="userLimitTaxiFees"
          >{{ dico?.dico_taxi_fee_limit || "dico_taxi_fee_limit" }} :</label
        >
        <input
          type="text"
          id="userLimitTaxiFees"
          name="userLimitTaxiFees"
          placeholder="Enter taxi limit"
          required
          formControlName="userLimitTaxiFees"
        />
      </div>
      <div class="form-group">
        <label for="userLimitLawyerFees"
          >{{ dico?.dico_lawyer_fee_limit || "dico_lawyer_fee_limit" }} :</label
        >
        <input
          type="text"
          id="userLimitLawyerFees"
          name="userLimitLawyerFees"
          placeholder="Enter lawyer limit"
          required
          formControlName="userLimitLawyerFees"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="recoverLimit"
          >{{ dico?.dico_recover_limit || "dico_recover_limit" }} :</label
        >
        <input
          type="text"
          id="recoverLimit"
          name="recoverLimit"
          placeholder="Enter recover limit"
          required
          formControlName="recoverLimit"
        />
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label for="email"
          >{{ dico?.dico_email_signature || "dico_email_signature" }}:</label
        >
        <div class="NgxEditor__Wrapper">
          <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
          </ngx-editor-menu>

          <ngx-editor
            [editor]="editor"
            [placeholder]="'Type here...'"
            formControlName="userEmailSignature"
          >
          </ngx-editor>
        </div>
      </div>
    </div>
    <div class="button-row">
      <button type="submit" class="btn">
        {{ dico?.dico_save || "dico_save" }}
      </button>
      <button type="button" class="btn" (click)="Cancle()">
        {{ dico?.dico_cancel || "dico_cancel" }}
      </button>
    </div>
  </form>
</div>
