<div class="h3-header">
  <h3>
    {{ dico?.dico_expert_default_fees || "dico_expert_default_fees" }}
    <button
      type="button"
      (click)="exportToExcel()"
      *ngIf="hasPerm('admExportToFile')"
      class="export-excel btn btn-primary"
    >
      {{ dico?.dico_export_to_excel || "dico_export_to_excel" }}
    </button>
  </h3>
</div>
<div class="select-container">
  <span>{{ dico?.dico_company || "dico_company" }}:</span>
  <select
    id="bodyTypeNew"
    name="bodyTypeNew"
    required
    class="company-select select-class"
    [(ngModel)]="company"
    [disabled]="companies?.length! <= 1"
  >
    <option *ngFor="let company of companies" [value]="company.companyId">
      {{ company.companyName }}
    </option>
  </select>
</div>

<div class="admin-container container-fluid">
  <div class="user-inputs">
    <div class="btn-group">
      <button
        class="btn btn-primary"
        type="button"
        *ngIf="hasPerm('admAddData')"
        (click)="openAddExpertFeesDialog()"
      >
        {{ dico?.dico_add || "dico_add" }}
      </button>

      <button
        class="btn btn-primary"
        type="button"
        style="margin-left: 8px"
        *ngIf="hasPerm('admUpdateData')"
        (click)="updateExpertFees()"
      >
        {{ dico?.dico_save || "dico_save" }}
      </button>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      (click)="getCarExpertDefaultFees()"
    >
      {{ dico?.BASIC_SEARCH || "BASIC_SEARCH" }}
    </button>
  </div>

  <table class="table table-responsive">
    <thead>
      <tr>
        <th scope="col">{{ dico?.dico_id || "dico_id" }}</th>
        <th scope="col">{{ dico?.dico_from_hour || "dico_from_hour" }}</th>

        <th scope="col">{{ dico?.dico_to_hour || "dico_to_hour" }}</th>
        <th scope="col">{{ dico?.dico_currency || "dico_currency" }}</th>
        <th scope="col">
          {{
            dico?.dico_default_access_fees_amount ||
              "dico_default_access_fees_amount"
          }}
        </th>
        <th scope="col">
          {{ dico?.dico_sys_created_date || "dico_sys_created_date" }}
        </th>
        <th scope="col">
          {{ dico?.dico_sys_created_by || "dico_sys_created_by" }}
        </th>
        <th scope="col">
          {{ dico?.dico_sys_updated_date || "dico_sys_updated_date" }}
        </th>
        <th scope="col">
          {{ dico?.dico_sys_updated_date || "dico_sys_updated_date" }}
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody
      *ngIf="expertDefaultFees?.length! > 0; else noData"
      (click)="highlightRow($event)"
    >
      <tr *ngFor="let cover of expertDefaultFees; trackBy: trackCoverById">
        <td>{{ cover.id }}</td>
        <td>
          {{ cover.fromHour }}
        </td>

        <td>
          {{ cover.toHour }}
        </td>
        <td>
          <select
            id="currency"
            name="currency"
            class="select-class"
            [(ngModel)]="cover.currency"
            (change)="onDropdownChange($event, cover, 'currency')"
          >
            <option *ngFor="let type of currency" [value]="type.code">
              {{ type.description }}
            </option>
          </select>
        </td>
        <td
          contenteditable="true"
          (blur)="onTdBlur($event, cover, 'defaultAccessFessAmount')"
        >
          {{ cover.defaultAccessFessAmount }}
        </td>

        <td>
          {{ cover.sysCreatedDate | date : dateFormat("reportDateTimeFormat") }}
        </td>
        <td>{{ cover.sysCreatedBy }}</td>
        <td>
          {{ cover.sysUpdatedDate | date : dateFormat("reportDateTimeFormat") }}
        </td>
        <td>{{ cover.sysUpdatedBy }}</td>

        <td>
          <mat-icon
            *ngIf="hasPerm('admDeleteData')"
            (click)="deleteCarCover(cover.id!)"
            >delete</mat-icon
          >
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #noData>
    <tr>
      <td colspan="5">
        {{ dico?.BASIC_NO_DATA_TO_DISPLAY || "BASIC_NO_DATA_TO_DISPLAY" }}
      </td>
    </tr>
  </ng-template>
</div>
