<div class="admin-container">
  <div class="row">
    <div class="user-inputs">
      <form (ngSubmit)="coreConfigSearch()">
        <label for="inputId">ID:</label>
        <input type="text" id="inputId" [(ngModel)]="id" name="id" />

        <label for="inputDescription">Description:</label>
        <input
          type="text"
          id="inputDescription"
          [(ngModel)]="description"
          name="description"
        />

        <button type="submit">Search</button>
      </form>
    </div>
    <div class="admin-button">
      <button type="button" (click)="openCoreConfigDialog()">
        Add Configuration
      </button>
      <button type="button" style="margin-left: 8px" (click)="editConfig()">
        Update
      </button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Config Value</th>
            <th>Description</th>
            <th>sysCreatedDate</th>
            <th>sysUpdatedDate</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="configData!.length > 0; else noData">
          <tr *ngFor="let config of configData!">
            <td>{{ config.id }}</td>
            <td
              contenteditable="true"
              (blur)="onTdBlur($event, config, 'configValue')"
            >
              {{ config.configValue }}
            </td>
            <td
              contenteditable="true"
              (blur)="onTdBlur($event, config, 'description')"
            >
              {{ config.description }}
            </td>
            <td>{{ config.sysCreatedDate | date : "medium" }}</td>
            <td>{{ config.sysUpdatedDate | date : "medium" }}</td>
            <td>
              <mat-icon (click)="deleteConfig(config.id!)">delete</mat-icon>
            </td>
          </tr>
        </tbody>
        <ng-template #noData>
          <tr>
            <td colspan="9">No data to display</td>
          </tr>
        </ng-template>
      </table>
    </div>
  </div>
</div>
