<div class="container">
  <div class="row">
    <div class="user-inputs">
      <form (ngSubmit)="coreConfigSearch()">
        <label for="inputId">ID:</label>
        <input type="text" id="inputId" [(ngModel)]="id" name="id" />

        <label for="inputDescription">Description:</label>
        <input
          type="text"
          id="inputDescription"
          [(ngModel)]="description"
          name="description"
        />

        <button type="submit">Search</button>
      </form>
    </div>
    <div class="button">
      <button type="button" (click)="openCoreConfigDialog()">
        Add Configuration
      </button>
      <button type="button" style="margin-left: 8px">Update</button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Config Value</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let config of configData">
            <td>{{ config.id }}</td>
            <td contenteditable="true" (dblclick)="onTdDoubleClick($event)">
              {{ config.configValue }}
            </td>
            <td contenteditable="true" (dblclick)="onTdDoubleClick($event)">
              {{ config.description }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
