<div class="container">
  <div class="row">
    <div class="user-inputs">
      <form>
        <label for="inputId">ID:</label>
        <input type="text" id="inputId" />

        <label for="inputDescription">Description:</label>
        <input type="text" id="inputDescription" />

        <button type="submit" class="">Search</button>
      </form>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Config Value</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
