<div class="h3-header">
  <h3>
    {{ getTableTitle() }}

    <button
      type="button"
      (click)="exportToExcel()"
      *ngIf="hasPerm('ccExportToFile')"
      class="export-excel btn btn-primary"
    >
      {{ dico?.dico_export_to_excel || "dico_export_to_excel" }}
    </button>
  </h3>
</div>

<form [formGroup]="form" (ngSubmit)="getCallCenterListBeanByTypeWithSearch()">
  <div class="row mt-1">
    <div class="col-md-1">
      <label for="visa" class="form-label"
        >{{ dico?.dico_visa || "dico_visa" }}:</label
      >
      <input
        type="text"
        id="visa"
        formControlName="notification"
        class="form-control"
      />
    </div>

    <div class="col-md-1">
      <label for="plate" class="form-label"
        >{{ dico?.dico_plate || "dico_plate" }}:</label
      >
      <input
        type="text"
        id="plate"
        formControlName="plate"
        class="form-control"
      />
    </div>

    <div class="col-md-1">
      <label for="ownerName" class="form-label"
        >{{ dico?.dico_owner_name || "dico_owner_name" }}:</label
      >
      <input
        type="text"
        id="ownerName"
        formControlName="ownerName"
        class="form-control"
      />
    </div>

    <div class="col-md-1">
      <label for="brandTrademark" class="form-label"
        >{{ dico?.dico_brand_trademark || "dico_brand_trademark" }}:</label
      >
      <input
        type="text"
        id="brandTrademark"
        formControlName="brandTrademark"
        class="form-control"
      />
    </div>

    <div class="col-md-1">
      <label for="operator" class="form-label"
        >{{ dico?.dico_operator || "dico_operator" }}:</label
      >
      <input
        type="text"
        id="operator"
        formControlName="operator"
        class="form-control"
      />
    </div>

    <div class="col-md-2">
      <label for="insurance" class="form-label"
        >{{ dico?.dico_insurance_company || "dico_insurance_company" }}:</label
      >
      <input
        type="text"
        id="insurance"
        formControlName="insCompany"
        class="form-control"
      />
    </div>

    <ng-container
      *ngIf="paramValue === 'E' || paramValue === 'N' || paramValue === 'NALL'"
    >
      <div class="col-md-1">
        <label for="expert" class="form-label"
          >{{ dico?.dico_expert || "dico_expert" }}:</label
        >
        <input
          type="text"
          id="expert"
          formControlName="expert"
          class="form-control"
        />
      </div>
    </ng-container>

    <ng-container *ngIf="paramValue === 'E'">
      <div class="col-md-1">
        <label for="expertDispDate" class="form-label"
          >{{ dico?.dico_expert_disp_date || "dico_expert_disp_date" }}:</label
        >
        <input
          type="date"
          id="expertDispDate"
          formControlName="expertDispDate"
          class="form-control"
        />
      </div>
    </ng-container>

    <ng-container *ngIf="paramValue === 'N' || paramValue === 'NALL'">
      <div class="col-md-1">
        <label for="reportedDate" class="form-label"
          >{{ dico?.dico_reported_date || "dico_reported_date" }}:</label
        >
        <input
          type="date"
          id="reportedDate"
          formControlName="reportedDate"
          class="form-control"
        />
      </div>
    </ng-container>

    <ng-container *ngIf="paramValue === 'E'">
      <div class="col-md-1">
        <label for="accidentTown" class="form-label"
          >{{ dico?.dico_accident_town || "dico_accident_town" }}:</label
        >
        <input
          type="text"
          id="accidentTown"
          formControlName="accidentTown"
          class="form-control"
        />
      </div>
    </ng-container>

    <ng-container *ngIf="paramValue === 'N' || paramValue === 'NALL'">
      <div class="col-md-1">
        <label for="nature" class="form-label"
          >{{ dico?.dico_nature || "dico_nature" }}:</label
        >
        <input
          type="text"
          id="nature"
          formControlName="nature"
          class="form-control"
        />
      </div>
    </ng-container>

    <ng-container *ngIf="paramValue === 'T'">
      <div class="col-md-2" style="width: 150px">
        <label for="towingDispDate" class="form-label"
          >{{ dico?.dico_towing_disp_date || "dico_towing_disp_date" }}:</label
        >
        <input
          type="date"
          id="towingDispDate"
          formControlName="towingDispDate"
          class="form-control"
        />
      </div>
    </ng-container>

    <ng-container *ngIf="paramValue === 'T'">
      <div class="col-md-1">
        <label for="towingFrom" class="form-label"
          >{{ dico?.dico_towing_from || "dico_towing_from" }}:</label
        >
        <input
          type="text"
          id="towingFrom"
          formControlName="towingFrom"
          class="form-control"
        />
      </div>
    </ng-container>

    <ng-container *ngIf="paramValue === 'T'">
      <div class="col-md-1">
        <label for="towingTo" class="form-label"
          >{{ dico?.dico_towing_to || "dico_towing_to" }}:</label
        >
        <input
          type="text"
          id="towingTo"
          formControlName="towingTo"
          class="form-control"
        />
      </div>
    </ng-container>

    <ng-container *ngIf="paramValue === 'T'">
      <div class="col-md-1">
        <label for="towingCom" class="form-label"
          >{{ dico?.dico_towing_com || "dico_towing_com" }}:</label
        >
        <input
          type="text"
          id="towingCom"
          formControlName="towingCom"
          class="form-control"
        />
      </div>
    </ng-container>

    <ng-container *ngIf="paramValue === 'N' || paramValue === 'NALL'">
      <div class="col-md-1">
        <label for="noDataType" class="form-label"
          >{{ dico?.dico_no_data_type || "dico_no_data_type" }}:</label
        >
        <input
          type="text"
          id="noDataType"
          formControlName="noDataPolicyFound"
          class="form-control"
        />
      </div>
    </ng-container>

    <ng-container *ngIf="paramValue === 'N' || paramValue === 'NALL'">
      <div class="col-md-1">
        <label for="policy" class="form-label"
          >{{ dico?.dico_policy || "dico_policy" }}:</label
        >
        <input
          type="text"
          id="policy"
          formControlName="policy"
          class="form-control"
        />
      </div>
    </ng-container>

    <div class="col-md-1">
      <button type="submit" class="btn btn-primary" style="margin-top: 20px">
        {{ dico?.BASIC_SEARCH || "BASIC_SEARCH" }}
      </button>
    </div>
  </div>
</form>

<div class="admin-container container-fluid">
  <app-spinner *ngIf="isLoading"></app-spinner>

  <table class="table table-responsive-sm">
    <thead style="top: 0">
      <tr>
        <th></th>
        <th>{{ dico?.dico_visa || "dico_visa" }}</th>
        <th>{{ dico?.dico_plate || "dico_plate" }}</th>
        <ng-container
          *ngIf="
            paramValue === 'E' || paramValue === 'N' || paramValue === 'NALL'
          "
        >
          <th>
            {{ dico?.dico_expert || "dico_expert" }}
          </th>
        </ng-container>
        <ng-container *ngIf="paramValue === 'E'">
          <th>
            {{ dico?.dico_expert_disp_date || "dico_expert_disp_date" }}
          </th>
        </ng-container>
        <ng-container *ngIf="paramValue === 'N' || paramValue === 'NALL'">
          <th>{{ dico?.dico_reported_date || "dico_reported_date" }}</th>
        </ng-container>
        <ng-container *ngIf="paramValue === 'E'">
          <th>{{ dico?.dico_accident_town || "dico_accident_town" }}</th>
        </ng-container>
        <ng-container *ngIf="paramValue === 'N' || paramValue === 'NALL'">
          <th>{{ dico?.dico_nature || "dico_nature" }}</th>
        </ng-container>
        <ng-container *ngIf="paramValue === 'T'">
          <th>{{ dico?.dico_towing_disp_date || "dico_towing_disp_date" }}</th>
        </ng-container>
        <ng-container *ngIf="paramValue === 'T'">
          <th>{{ dico?.dico_towing_from || "dico_towing_from" }}</th>
        </ng-container>
        <ng-container *ngIf="paramValue === 'T'">
          <th>{{ dico?.dico_towing_to || "dico_towing_to" }}</th>
        </ng-container>
        <ng-container *ngIf="paramValue === 'T'">
          <th>{{ dico?.dico_towing_com || "dico_towing_com" }}</th>
        </ng-container>
        <th>{{ dico?.dico_owner_name || "dico_owner_name" }}</th>
        <th>{{ dico?.dico_brand_trademark || "dico_brand_trademark" }}</th>
        <th>{{ dico?.dico_operator || "dico_operator" }}</th>
        <th>{{ dico?.dico_insurance_company || "dico_insurance_company" }}</th>
        <ng-container *ngIf="paramValue === 'N' || paramValue === 'NALL'">
          <th>{{ dico?.dico_no_data_type || "dico_no_data_type" }}</th>
        </ng-container>
        <ng-container *ngIf="paramValue === 'N' || paramValue === 'NALL'">
          <th>{{ dico?.dico_policy || "dico_policy" }}</th>
        </ng-container>
      </tr>
    </thead>
    <tbody (click)="highlightRow($event)">
      <tr *ngFor="let list of listData">
        <td><button class="btn btn-primary">Hotline</button></td>
        <td>{{ list.notification }}</td>
        <td>{{ list.plate }}</td>
        <ng-container
          *ngIf="
            paramValue === 'E' || paramValue === 'N' || paramValue === 'NALL'
          "
        >
          <td>{{ list.expert }}</td>
        </ng-container>
        <ng-container *ngIf="paramValue === 'E'">
          <td>
            {{
              list.expertDispDate | date : dateFormat("reportDateTimeFormat")
            }}
          </td>
        </ng-container>
        <ng-container *ngIf="paramValue === 'N' || paramValue === 'NALL'">
          <td>
            {{
              list.reportedDateTime | date : dateFormat("reportDateTimeFormat")
            }}
          </td>
        </ng-container>
        <ng-container *ngIf="paramValue === 'E'">
          <td>{{ list.accidentTown }}</td>
        </ng-container>
        <ng-container *ngIf="paramValue === 'N' || paramValue === 'NALL'">
          <td>{{ list.nature }}</td>
        </ng-container>
        <ng-container *ngIf="paramValue === 'T'">
          <td>
            {{
              list.towingDispDate | date : dateFormat("reportDateTimeFormat")
            }}
          </td>
        </ng-container>
        <ng-container *ngIf="paramValue === 'T'">
          <td>
            {{ list.towingFrom }}
          </td>
        </ng-container>
        <ng-container *ngIf="paramValue === 'T'">
          <td>
            {{ list.towingTo }}
          </td>
        </ng-container>
        <ng-container *ngIf="paramValue === 'T'">
          <td>
            {{ list.towingCom }}
          </td>
        </ng-container>

        <td>{{ list.ownerName }}</td>
        <td>{{ list.brandTrademark }}</td>
        <td>{{ list.operator }}</td>
        <td>{{ list.insCompany }}</td>

        <ng-container *ngIf="paramValue === 'N' || paramValue === 'NALL'">
          <td>
            {{ list.noDataType }}
          </td>
        </ng-container>
        <ng-container *ngIf="paramValue === 'N' || paramValue === 'NALL'">
          <td>
            {{ list.noDataPolicyFound }}
          </td>
        </ng-container>
      </tr>
    </tbody>
    <ng-template #noData>
      <tr>
        <td colspan="9">
          {{ dico?.BASIC_NO_DATA_TO_DISPLAY || "BASIC_NO_DATA_TO_DISPLAY" }}
        </td>
      </tr>
    </ng-template>
  </table>
</div>
