<h2 style="margin: 10px; font-size: large">
  {{ dico?.dico_add || "dico_add" }}
</h2>
<div class="dialog">
  <form (ngSubmit)="addCarSubline()">
    <label for="code"> {{ dico?.dico_code || " dico_code" }}:</label>
    <input type="text" id="code" name="code" required [(ngModel)]="code" />

    <label for="description">
      {{ dico?.dico_description || "dico_description" }}:</label
    >
    <input
      type="text"
      id="description"
      name="description"
      required
      [(ngModel)]="description"
    />

    <label for="notes">{{ dico?.dico_notes || "dico_notes" }}:</label>
    <input type="text" id="notes" name="notes" required [(ngModel)]="notes" />

    <button type="submit">
      {{ dico?.dico_save || "dico_save" }}
    </button>
  </form>
</div>
