<h2 style="margin: 10px; font-size: large">{{ dico?.dico_add_car_cover || "dico_add_car_cover" }}</h2>
<div class="dialog">
  <form (ngSubmit)="updateCarCover()">
    <label for="code"> {{ dico?.dico_code || "dico_code" }}:</label>
    <input type="text" id="code" name="code" required [(ngModel)]="code" />

    <label for="description"> {{ dico?.dico_description || "dico_description" }}:</label>
    <input
      type="text"
      id="description"
      name="description"
      required
      [(ngModel)]="description"
    />

    <label for="type">{{ dico?.dico_type || "dico_type" }}</label>
    <select id="Type" name="Type" required [(ngModel)]="type">
      <option *ngFor="let type of types" [value]="type.code">
        {{ type.description }}
      </option>
    </select>
    <button type="submit">{{ dico?.BASIC_SAVE || "BASIC_SAVE" }}</button>
  </form>
</div>
