<h3 class="h3-header">Car Supplier</h3>
<button type="button" style="margin: 6px 10px">Export to Excel</button>
<div class="select-container">
  <span>Company:</span>
  <select
    id="bodyTypeNew"
    name="bodyTypeNew"
    required
    class="company-select"
    [(ngModel)]="company"
    *ngIf="companies?.length! > 1; else oneResult"
  >
    <option *ngFor="let company of companies" [value]="company.companyId">
      {{ company.companyName }}
    </option>
  </select>
  <ng-template #oneResult>
    <select
      id="bodyTypeNew"
      name="bodyTypeNew"
      required
      class="company-select"
      disabled
    >
      <option *ngFor="let company of companies" [value]="company.companyId">
        {{ company.companyName }}
      </option>
    </select>
  </ng-template>
</div>
<div class="form-tab">
  <div class="admin-container" style="height: 250px">
    <div class="user-inputs">
      <form (ngSubmit)="searchCarSupplier()">
        <label for="name">Supplier Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="name" />

        <label for="type">Type:</label>
        <select
          id="type"
          name="type"
          class="input-dropdown"
          [(ngModel)]="selectedType"
        >
          <option *ngFor="let type of suppType" [value]="type.code">
            {{ type.description }}
          </option>
        </select>
        <button type="submit">Search</button>
      </form>
      <div class="admin-button">
        <button type="button" (click)="openAddSupplierDialog()">
          Add Supplier
        </button>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <table id="table">
          <thead>
            <tr>
              <th>Details</th>
              <th>NAME</th>
              <th>INTERM</th>
              <th>NUM</th>
              <th>BUS_PHONE</th>
              <th>MOBILE_PHONE</th>
              <th>TVA_NUM</th>
              <th>Grade</th>
              <th>Sys_Created_Date</th>
              <th>Sys_Created_By</th>
              <th>Sys_Updated_Date</th>
              <th>Sys_Updated_By</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let supplier of carSupplier">
              <td>
                <span class="material-icons" (click)="showSuppList(supplier)"
                  >arrow_circle_down</span
                >
              </td>

              <td>{{ supplier.fullName }}</td>
              <td>
                <select
                  id="type"
                  name="type"
                  class="input-dropdown"
                  [(ngModel)]="supplier.interm"
                  disabled
                >
                  <option *ngFor="let type of suppType" [value]="type.code">
                    {{ type.description }}
                  </option>
                </select>
              </td>

              <td>{{ supplier.number }}</td>

              <td>{{ supplier.bus_phone }}</td>
              <td>{{ supplier.mobile_number }}</td>
              <td>{{ supplier.tva_number }}</td>
              <td>
                <select
                  id="supplierGradeID"
                  name="supplierGradeID"
                  class="input-dropdown"
                  [(ngModel)]="supplier.grade_id"
                  disabled
                >
                  <option *ngFor="let grade of suppGrade" [value]="grade.code">
                    {{ grade.description }}
                  </option>
                </select>
              </td>
              <td>
                {{ supplier.sysCreatedDate | date : reportDateTimeFormat }}
              </td>
              <td>{{ supplier.sysCreatedBy }}</td>
              <td>
                {{ supplier.sysUpdatedDate | date : reportDateTimeFormat }}
              </td>
              <td>{{ supplier.sysUpdatedBy }}</td>
              <td>
                <mat-icon (click)="deleteCarSupplier(supplier.id)"
                  >delete</mat-icon
                >
              </td>
            </tr>
          </tbody>
        </table>
        <ng-template #noData>
          <tr>
            <td colspan="5">No data to display</td>
          </tr>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<div class="admin-container" style="height: 350px" *ngIf="showMoreInfo">
  <app-update-car-supp-form
    [supplierType]="suppType"
    [selectedSupplier]="selectedSupplier"
    (supplierUpdated)="handleSupplierUpdated($event)"
  ></app-update-car-supp-form>
</div>
