<h3 class="h3-header">{{ dico?.dico_car_supplier || "dico_car_supplier" }}</h3>
<button type="button" style="margin-left: 10px">{{ dico?.dico_export_to_excel || "dico_export_to_excel" }}</button>
<div class="select-container">
  <span>{{ dico?.dico_company || "dico_company" }}:</span>
  <select
    id="bodyTypeNew"
    name="bodyTypeNew"
    required
    class="company-select"
    [(ngModel)]="company"
    [disabled]="companies?.length! <= 1"
  >
    <option *ngFor="let company of companies" [value]="company.companyId">
      {{ company.companyName }}
    </option>
  </select>
</div>

<div class="admin-container container-fluid" style="height: 200px">
  <app-spinner *ngIf="isLoading" style="margin-top: 30px"></app-spinner>

  <div class="user-inputs">
    <form (ngSubmit)="searchCarSupplier()">
      <label for="name">{{ dico?.dico_supplier_name || "dico_supplier_name" }}:</label>
      <input type="text" id="name" name="name" [(ngModel)]="name" />

      <label for="type">{{ dico?.dico_type || "dico_type" }}:</label>
      <select
        id="type"
        name="type"
        class="input-dropdown"
        [(ngModel)]="selectedType"
      >
        <option *ngFor="let type of suppType" [value]="type.code">
          {{ type.description }}
        </option>
      </select>
      <button type="submit">{{ dico?.BASIC_SEARCH || "BASIC_SEARCH" }}</button>
    </form>
    <div class="admin-button">
      <button type="button" (click)="openAddSupplierDialog()">
        {{ dico?.dico_add_supplier_1 || "dico_add_supplier_1" }}
      </button>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12">
      <table id="table">
        <thead>
          <tr>
            <th></th>
            <th>{{ dico?.dico_name || "dico_name" }}</th>
            <th>{{ dico?.dico_interm || "dico_interm" }}</th>
            <th>{{ dico?.dico_num || "dico_num" }}</th>
            <th>{{ dico?.dico_bus_phone || "dico_bus_phone" }}</th>
            <th>{{ dico?.dico_mobile_phone || "dico_mobile_phone" }}</th>
            <th>{{ dico?.dico_tva_num || "dico_tva_num" }}</th>
            <th>{{ dico?.dico_grade || "dico_grade" }}</th>
            <th>{{ dico?.dico_sys_created_date || "dico_sys_created_date" }}</th>
            <th>{{ dico?.dico_sys_created_by || "dico_sys_created_by" }}</th>
            <th>{{ dico?.dico_sys_updated_date || "dico_sys_updated_date" }}</th>
            <th>{{ dico?.dico_sys_updated_by || "dico_sys_updated_by" }}</th>
            <th>{{ dico?.dico_deactivate_user || "dico_deactivate_user" }}</th>
          
          </tr>
        </thead>
        <tbody *ngIf="carSupplier?.length! > 0; else noData">
          <tr
            *ngFor="let supplier of carSupplier; trackBy: trackSupplierById"
            (click)="highlightRow($event); showSuppList(supplier)"
          >
            <td>{{ supplier.fullName }}</td>
            <td>
              <select
                class="input-dropdown"
                [(ngModel)]="supplier.interm"
                disabled
              >
                <option *ngFor="let type of suppType" [value]="type.code">
                  {{ type.description }}
                </option>
              </select>
            </td>

            <td>{{ supplier.number }}</td>

            <td>{{ supplier.bus_phone }}</td>
            <td>{{ supplier.mobile_number }}</td>
            <td>{{ supplier.tva_number }}</td>

            <td>
              <select
                class="input-dropdown"
                [(ngModel)]="supplier.grade_id"
                disabled
              >
                <option *ngFor="let grade of suppGrade" [value]="grade.code">
                  {{ grade.description }}
                </option>
              </select>
            </td>

            <td>
              {{ supplier.sysCreatedDate | date : reportDateTimeFormat }}
            </td>
            <td>{{ supplier.sysCreatedBy }}</td>
            <td>
              {{ supplier.sysUpdatedDate | date : reportDateTimeFormat }}
            </td>
            <td>{{ supplier.sysUpdatedBy }}</td>
            <td>
              <button>{{ dico?.dico_deactivate || "dico_deactivate" }}</button>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #noData>
        <tr>
          <td colspan="5">{{ dico?.BASIC_NO_DATA_TO_DISPLAY || "BASIC_NO_DATA_TO_DISPLAY" }}</td>
        </tr>
      </ng-template>
    </div>
  </div>
</div>

<div
  class="admin-container container-fluid"
  style="height: 350px"
  *ngIf="showMoreInfo"
>
  <app-update-car-supp-form
    [supplierType]="suppType"
    [selectedSupplier]="selectedSupplier"
    (supplierUpdated)="handleSupplierUpdated($event)"
  ></app-update-car-supp-form>
</div>
