<div *ngIf="dico; else spinner">
  <div class="h3-header">
    <h3>
      {{ dico?.dico_product_reserve || "dico_product_reserve" }}

      <button
        type="button"
        (click)="exportToExcel()"
        *ngIf="hasPerm('admExportToFile')"
        class="export-excel btn btn-primary"
      >
        {{ dico?.dico_export_to_excel || "dico_export_to_excel" }}
      </button>
    </h3>
  </div>
  <div class="admin-container container-fluid" style="height: 250px">
    <div class="user-inputs">
      <div class="admin-button">
        <button
          type="button"
          *ngIf="hasPerm('admAddData')"
          (click)="openAddProductDialog()"
        >
          {{ dico?.dico_add || "dico_add" }}
        </button>
        <button
          type="button"
          style="margin-left: 8px"
          *ngIf="hasPerm('admUpdateData')"
          (click)="updateProductReserve()"
        >
          {{ dico?.dico_save || "dico_save" }}
        </button>
      </div>
    </div>

    <table class="responsive-table">
      <thead>
        <tr>
          <th>{{ dico?.dico_id || "dico_id" }}</th>
          <th>{{ dico?.dico_date || "dico_date" }}</th>
          <th>{{ dico?.dico_insured || "dico_insured" }}</th>
          <th>{{ dico?.dico_tp || "dico_tp" }}</th>
          <th>{{ dico?.dico_bodily_injuries || "dico_bodily_injuries " }}</th>
          <th>{{ dico?.dico_material || "dico_material " }}</th>
          <th>{{ dico?.dico_active || "dico_active" }}</th>
          <th>
            {{ dico?.dico_sys_created_date || "dico_sys_created_date" }}
          </th>
          <th>{{ dico?.dico_sys_created_by || "dico_sys_created_by" }}</th>
          <th>
            {{ dico?.dico_sys_updated_date || "dico_sys_updated_date" }}
          </th>
          <th>{{ dico?.dico_sys_updated_by || "dico_sys_updated_by" }}</th>
          <th></th>
          <!-- <th></th> -->
        </tr>
      </thead>
      <tbody
        *ngIf="carProdReserve?.length! > 0; else noData"
        (click)="highlightRow($event)"
      >
        <tr *ngFor="let product of carProdReserve; trackBy: trackProductById">
          <td>{{ product.productsResId }}</td>
          <td>
            {{
              product.productsResAsOfDate
                | date : dateFormat("reportDateFormat")
            }}
          </td>
          <td
            contenteditable="true"
            (blur)="onTdBlur($event, product, 'productsResInsured')"
          >
            {{ product.productsResInsured }}
          </td>

          <td
            contenteditable="true"
            (blur)="onTdBlur($event, product, 'productsResTp')"
          >
            {{ product.productsResTp }}
          </td>
          <td
            contenteditable="true"
            (blur)="onTdBlur($event, product, 'productsResBodily')"
          >
            {{ product.productsResBodily }}
          </td>
          <td
            contenteditable="true"
            (blur)="onTdBlur($event, product, 'productsResMaterial')"
          >
            {{ product.productsResMaterial }}
          </td>
          <td>
            <input
              type="checkbox"
              [(ngModel)]="product.productsResActive"
              (change)="onCheckboxChange(product)"
            />
          </td>
          <td>
            {{
              product.sysCreatedDate | date : dateFormat("reportDateTimeFormat")
            }}
          </td>
          <td>{{ product.sysCreatedBy }}</td>
          <td>
            {{
              product.sysUpdatedDate | date : dateFormat("reportDateTimeFormat")
            }}
          </td>
          <td>{{ product.sysUpdatedBy }}</td>

          <td>
            <mat-icon
              (click)="deleteProductReserve(product.productsResId!)"
              *ngIf="hasPerm('admDeleteData')"
              >delete</mat-icon
            >
          </td>
        </tr>
      </tbody>
      <ng-template #noData>
        <tr>
          <td colspan="5">
            {{ dico?.BASIC_NO_DATA_TO_DISPLAY || "BASIC_NO_DATA_TO_DISPLAY" }}
          </td>
        </tr>
      </ng-template>
    </table>
  </div>
</div>
<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
