<h2 style="margin: 10px; font-size: large">{{ dico?.dico_add_branch || "dico_add_branch" }}</h2>
<div class="dialog">
  <form (ngSubmit)="addBranch()">
    <label for="code"> {{ dico?.dico_code || "dico_code" }}:</label>
    <input type="text" id="code" name="code" required [(ngModel)]="code" />

    <label for="description"> {{ dico?.dico_description || "dico_description" }}:</label>
    <input
      type="text"
      id="description"
      name="description"
      required
      [(ngModel)]="description"
    />
    <label for="arabic_description"> {{ dico?.dico_part_arabic_description || "dico_part_arabic_description" }}:</label>
    <input
      type="text"
      id="arabic_description"
      name="arabic_description"
      required
      [(ngModel)]="arabic_description"
    />

    <label for="address1"> {{ dico?.dico_address1 || "dico_address1" }}:</label>
    <input
      type="text"
      id="address1"
      name="address1"
      required
      [(ngModel)]="address1"
    />
    <label for="address2"> {{ dico?.dico_address2 || "dico_address2" }}:</label>
    <input
      type="text"
      id="address2"
      name="address2"
      required
      [(ngModel)]="address2"
    />

    <button type="submit">{{ dico?.BASIC_SAVE || "BASIC_SAVE" }}</button>
  </form>
</div>
