<div class="h3-header m-3">
  <h3>
    {{ dico?.dico_cars_cell || "dico_cars_cell" }}

    <button
      type="button"
      (click)="exportToExcel()"
      *ngIf="hasPerm('admExportToFile')"
      class="export-excel btn btn-primary"
    >
      {{ dico?.dico_export_to_excel || "dico_export_to_excel" }}
    </button>
  </h3>
</div>
<app-spinner *ngIf="isLoading"></app-spinner>
<div class="container-fluid mt-3">
  <div class="card" style="max-height: 250px; overflow: auto">
    <div class="card-body">
      <div class="row p-2">
        <div class="col-md-3 col-sm-6 col-lg-1 mt-4">
          <button
            type="button"
            class="button-class"
            *ngIf="hasPerm('admAddData')"
            (click)="openAddCellDialog()"
          >
            {{ dico?.dico_add || "dico_add" }}
          </button>
        </div>
        <div class="col-md-3 col-sm-6 col-lg-1 mt-4">
          <button
            type="button"
            class="button-class"
            *ngIf="hasPerm('admUpdateData')"
            (click)="updateCell()"
          >
            {{ dico?.dico_save || "dico_save" }}
          </button>
        </div>
      </div>
      <div class="table-responsive">
        <table>
          <thead style="z-index: 2">
            <tr>
              <th>{{ dico?.dico_case_mangr || "dico_case_mangr" }}</th>
              <th>{{ dico?.dico_mngr_id || "dico_mngr_id" }}</th>
              <th>{{ dico?.dico_firstname || "dico_firstname" }}</th>
              <th>{{ dico?.dico_family_name || "dico_family_name" }}</th>
              <th>{{ dico?.dico_mngr || "dico_mngr" }}</th>
              <th>{{ dico?.dico_cell_out || "dico_cell_out" }}</th>
              <th>{{ dico?.dico_cell_out_date || "dico_cell_out_date" }}</th>
              <th>{{ dico?.dico_ratio || "dico_ratio" }}</th>
              <th>{{ dico?.dico_show_in_list || "dico_show_in_list" }}</th>
              <th>
                {{ dico?.dico_sys_created_date || "dico_sys_created_date" }}
              </th>
              <th>
                {{ dico?.dico_sys_created_by || "dico_sys_created_by" }}
              </th>
              <th>
                {{ dico?.dico_sys_updated_date || "dico_sys_updated_date" }}
              </th>
              <th>
                {{ dico?.dico_sys_updated_by || "dico_sys_updated_by" }}
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              (click)="highlightRow($event); showSetup(case)"
              *ngFor="let case of carsCell; trackBy: trackById"
            >
              <td>{{ case.id }}</td>
              <td>
                <ng-select
                  appendTo="body"
                  name="managerId"
                  (search)="searchUsers($event)"
                  [(ngModel)]="case.managerId"
                  (ngModelChange)="updateManagerDetails(case)"
                >
                  <ng-option
                    *ngFor="let user of users"
                    [value]="user.username"
                    >{{ user.username }}</ng-option
                  >
                </ng-select>
              </td>
              <td>
                {{ case.managerFirstName }}
              </td>
              <td>
                {{ case.managerLastName }}
              </td>
              <td>
                <input
                  type="checkbox"
                  [(ngModel)]="case.cellManager"
                  (ngModelChange)="onCheckboxChange(case)"
                />
              </td>
              <td>
                <input
                  type="checkbox"
                  [(ngModel)]="case.cellOUt"
                  (ngModelChange)="onCheckboxChange(case)"
                />
              </td>
              <td>
                <input
                  type="text"
                  class="select-class"
                  bsDatepicker
                  [ngModel]="formatDate(case.cellOutDate!)"
                  [bsConfig]="{
                    dateInputFormat: 'DD/MM/YYYY',
                    containerClass: 'theme-dark-blue'
                  }"
                  (ngModelChange)="onDateChange(case, $event)"
                />

                <!-- {{ case.cellOutDate | date : dateFormat("reportDateFormat") }} -->
              </td>
              <td
                contenteditable="true"
                (blur)="onTdBlur($event, case, 'cellRatio')"
              >
                {{ case.cellRatio }}
              </td>
              <td>
                <input
                  type="checkbox"
                  [(ngModel)]="case.showInList"
                  (ngModelChange)="onCheckboxChange(case)"
                />
              </td>
              <td>
                {{
                  case.sysCreatedDate
                    | date : dateFormat("reportDateTimeFormat")
                }}
              </td>
              <td>{{ case.sysCreatedBy }}</td>
              <td>
                {{
                  case.sysUpdatedDate
                    | date : dateFormat("reportDateTimeFormat")
                }}
              </td>
              <td>{{ case.sysUpdatedBy }}</td>
              <td>
                <mat-icon
                  (click)="deleteCell(case.id!)"
                  *ngIf="hasPerm('admDeleteData')"
                  >delete</mat-icon
                >
              </td>
            </tr>
          </tbody>
          <ng-template #noData>
            <tr>
              <td colspan="5">
                {{
                  dico?.BASIC_NO_DATA_TO_DISPLAY || "BASIC_NO_DATA_TO_DISPLAY"
                }}
              </td>
            </tr>
          </ng-template>
        </table>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showCellSetup">
  <app-cars-cell-setup
    [dico]="dico"
    [selectedCell]="selectedCell"
  ></app-cars-cell-setup>
</div>
