<h3 class="h3-header">
  {{ dico?.dico_document_configuration || "dico_document_configuration" }}
</h3>

<div class="admin-container container-fluid">
  <app-spinner *ngIf="isLoading"></app-spinner>
  <div class="user-inputs">
    <form (ngSubmit)="coreDocSearch()">
      <label for="fileName"
        >{{ dico?.dico_file_name || "dico_file_name" }}:</label
      >
      <input type="text" id="fileName" name="fileName" [(ngModel)]="fileName" />

      <label for="path">{{ dico?.dico_path || "dico_path" }}:</label>
      <input type="text" id="path" name="path" [(ngModel)]="path" />

      <button type="submit">{{ dico?.BASIC_SEARCH || "BASIC_SEARCH" }}</button>
    </form>
    <div class="admin-button">
      <button type="button" (click)="openCoreDocDialog()">
        {{ dico?.dico_add_total_loss_claim || "dico_add_total_loss_claim" }}
      </button>
      <button type="button" style="margin-left: 8px">
        {{ dico?.dico_Update || "dico_Update" }}
      </button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <table>
        <thead>
          <tr>
            <th>{{ dico?.dico_id || "dico_id" }}</th>
            <th>{{ dico?.dico_file_name || "dico_file_name" }}</th>
            <th>{{ dico?.dico_path || "dico_path" }}</th>
            <th style="width: 150px">
              {{ dico?.dico_content_type || "dico_content_type" }}
            </th>
            <th>{{ dico?.dico_content || "dico_content" }}</th>
            <th>
              {{ dico?.dico_sys_created_date || "dico_sys_created_date" }}
            </th>
            <th>{{ dico?.dico_sys_created_by || "dico_sys_created_by" }}</th>
            <th>
              {{ dico?.dico_sys_updated_date || "dico_sys_updated_date" }}
            </th>
            <th>{{ dico?.dico_sys_updated_by || "dico_sys_updated_by" }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody
          *ngIf="docData?.length! > 0; else noData"
          (click)="highlightRow($event)"
        >
          <tr *ngFor="let document of docData; trackBy: trackDocById">
            <td>{{ document.id }}</td>
            <td>{{ document.fileName }}</td>
            <td contenteditable="true">{{ document.filePath }}</td>
            <td contenteditable="true" style="max-width: 200px">
              {{ document.contentType }}
            </td>
            <td *ngIf="isImage(document.contentType!)">
              <div class="car-logo-container">
                <img [src]="document.content" class="car-logo" />
                <div class="car-logo-dialog">
                  <img [src]="document.content" class="car-logo-dialog-image" />
                </div>
              </div>
            </td>
            <td *ngIf="!isImage(document.contentType!)">
              <a [href]="document.content" target="_blank">{{
                document.fileName
              }}</a>
            </td>
            <td>{{ document.createdDate | date : reportDateTimeFormat }}</td>
            <td>{{ document.createdBy }}</td>
            <td>{{ document.updateDate | date : reportDateTimeFormat }}</td>
            <td>{{ document.updatedBy }}</td>
            <td>
              <mat-icon (click)="deleteDocument(document.id!)">delete</mat-icon>
            </td>
          </tr>
        </tbody>
        <ng-template #noData>
          <tr>
            <td colspan="9">
              {{ dico?.BASIC_NO_DATA_TO_DISPLAY || "BASIC_NO_DATA_TO_DISPLAY" }}
            </td>
          </tr>
        </ng-template>
      </table>
    </div>
  </div>
</div>
