<div class="h3-header m-3">
  <h3>{{ dico?.dico_search || "dico_search" }}</h3>
</div>
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="card h-100">
        <div class="card-body">
          <div class="row p-3">
            <div class="col-md-6 col-sm-6">
              <label class="label-color">Search By Loss Car</label>
            </div>
          </div>
          <div class="row p-3">
            <div class="col-md-4 col-sm-4">
              <label for="" class="form-label"> Search Value </label>
              <input type="text" class="form-control" />
            </div>
            <div class="col-md-4 col-sm-4">
              <label for="" class="form-label"> Search By </label>

              <select name="searchBy" id="searchBy" class="form-select">
                <option *ngFor="let type of searchTypes" [value]="type.code">
                  {{ type.description }}
                </option>
              </select>
            </div>
            <div class="col-md-4 col-sm-4">
              <button class="button-class m-4">Search</button>
            </div>
          </div>
          <div class="row p-2">
            <div class="col-md-4 col-sm-4">
              <button class="button-class m-3" (click)="openPrintSurveySent()">
                <img src="./assets/icons/barcode.png" class="icon" alt="" />
                Print Survey List
              </button>
            </div>
            <div class="col-md-4 col-sm-4">
              <button class="button-class m-3" (click)="openSurveyListExcel()">
                {{ dico?.dico_sur_list_excel || "dico_sur_list_excel" }}
              </button>
            </div>
            <div class="col-md-4 col-sm-4">
              <button class="button-class m-3" (click)="openFollowUpExcel()">
                Survey Follow Up
              </button>
            </div>
            <div class="col-md-4 col-sm-4">
              <button class="button-class m-3" (click)="openSurveyCheckExcel()">
                Survey Checking
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="card h-100">
        <div class="card-body">
          <div class="row p-3">
            <div class="col-md-6 col-sm-6">
              <label class="label-color">Search Common</label>
            </div>
          </div>
          <div class="row p-2">
            <div class="col-md-4">
              <label for="" class="form-label"
                >{{ dico?.dico_company || "dico_company" }}
              </label>
              <select
                id="company"
                name="company"
                class="form-select"
                [(ngModel)]="company"
                [disabled]="companies.length! <= 1"
              >
                <option
                  *ngFor="let company of companies"
                  [value]="company.companyId"
                >
                  {{ company.companyName }}
                </option>
              </select>
            </div>

            <div class="col-md-4">
              <label for="fromDate" class="form-label">{{
                dico?.dico_from_date || "dico_from_date"
              }}</label>
              <input
                type="text"
                name="fromDate"
                id="fromDate"
                class="form-control"
                bsDatepicker
                [bsConfig]="{
                  dateInputFormat: 'DD/MM/YYYY',
                  containerClass: 'theme-dark-blue',
                  showWeekNumbers: false
                }"
              />
            </div>

            <div class="col-md-4">
              <label for="" class="form-label">{{
                dico?.dico_to_date || "dico_to_date"
              }}</label>
              <input
                type="text"
                name="toDate"
                id="toDate"
                class="form-control"
                bsDatepicker
                [bsConfig]="{
                  dateInputFormat: 'DD/MM/YYYY',
                  containerClass: 'theme-dark-blue',
                  showWeekNumbers: false
                }"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="card h-100">
        <div class="card-body">
          <div class="row p-3">
            <div class="col-md-6 col-sm-6">
              <label class="label-color">Search By Survey</label>
            </div>
          </div>

          <div class="row p-3">
            <div class="col-md-6 col-sm-6 p-4">
              <label class="form-label">Survey Request</label>
              <input
                type="checkbox"
                class="m-1 ms-4 form-check-input"
                [(ngModel)]="isSurveyRequestInformationIncluded"
              />
            </div>
            <div class="col-md-6 col-sm-6">
              <label class="form-label">{{
                dico?.dico_surveyor || "dico_surveyor"
              }}</label>
              <ng-select
                name="surveyor"
                [virtualScroll]="true"
                [(ngModel)]="surveyorName"
                [appendTo]="'body'"
                (search)="getSurveyorsName($event)"
                [disabled]="isSurveyRequestInformationIncluded ? false : true"
              >
                <ng-option
                  *ngFor="let suggestion of suppliersNames"
                  [value]="suggestion.supplierId"
                >
                  {{ suggestion.supplierName }}</ng-option
                >
              </ng-select>
            </div>
          </div>

          <div class="row p-3">
            <div class="col-md-6 col-sm-6 p-4">
              <label class="form-label">{{
                dico?.dico_vip || "dico_vip"
              }}</label>
              <input
                type="checkbox"
                class="m-1 ms-4 form-check-input"
                [disabled]="isSurveyRequestInformationIncluded ? false : true"
              />
            </div>
            <div class="col-md-6 col-sm-6">
              <label class="form-label">Status</label>
              <select
                name=""
                id=""
                class="form-select"
                [disabled]="isSurveyRequestInformationIncluded ? false : true"
              >
                <option value=""></option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid mt-3">
      <div class="card h-100">
        <div class="card-body">
          <div class="row p-2">
            <label for="" class="label-color">Search Result </label>
          </div>

          <div class="table-responsive">
            <table>
              <thead style="top: 0">
                <tr>
                  <th class="header-label">
                    {{ dico?.dico_insurance || "dico_insurance" }}
                  </th>
                  <th></th>
                  <th></th>
                  <th class="header-label">
                    {{ dico?.dico_notification || "dico_notification" }}
                  </th>
                  <th class="header-label">
                    {{ dico?.dico_plate || "dico_plate" }}
                  </th>

                  <th>
                    {{ dico?.dico_brand || "dico_brand" }}
                  </th>

                  <th>
                    {{ dico?.dico_yom || "dico_yom" }}
                  </th>

                  <th>
                    {{ dico?.dico_name || "dico_name" }}
                  </th>

                  <th>
                    {{ dico?.dico_garage_name || "dico_garage_name" }}
                  </th>
                  <th>{{ dico?.dico_town_name || "dico_town_name" }}</th>
                  <th>{{ dico?.dico_status || "dico_status" }}</th>
                  <th>{{ dico?.dico_product_type || "dico_product_type" }}</th>
                  <th>{{ dico?.dico_insured_tp || "dico_insured_tp" }}</th>
                  <th>{{ dico?.dico_survey_count || "dico_survey_count" }}</th>

                  <!-- <th>{{ dico?.dico_status_code || "dico_status_code" }}</th> -->
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let list of surveyRequestBySearchParameters;
                    let i = index
                  "
                  [ngClass]="{
                    'selected-class': i === selectedRowIndex
                  }"
                >
                  <td>
                    <img
                      src="./assets/icons/flip_down.png"
                      class="icon"
                      alt=""
                    />
                  </td>
                  <td>
                    <img
                      [src]="'data:image/jpeg;base64,' + list?.companyLogo"
                      alt=""
                      class="company-logo-table"
                    />
                  </td>
                  <td>
                    <img
                      src="assets/icons/add.png"
                      [ngClass]="{
                        'disabled-image': list.insured !== 'Insured'
                      }"
                      alt=""
                      class="icon"
                      *ngIf="list.insured !== 'Insured'"
                    />
                  </td>
                  <td class="text-nowrap">{{ list.visa }}</td>
                  <td class="text-nowrap">
                    {{ list.recDesc }}
                  </td>
                  <td class="text-nowrap">{{ list.ownerName }}</td>

                  <td class="text-nowrap">{{ list.brandTrademark }}</td>

                  <td class="text-nowrap">
                    {{ list.plate }}
                  </td>

                  <td class="text-nowrap">
                    {{ list.yom }}
                  </td>

                  <td class="text-nowrap">{{ list.expert }}</td>

                  <td class="text-nowrap">{{ list.notificationNatureDesc }}</td>

                  <td class="text-nowrap">
                    {{ list.notificationStatus }}
                  </td>

                  <!-- <td class="text-nowrap">
                              {{ list.yom }}
                            </td> -->
                </tr>
              </tbody>
              <ng-template #noData>
                <tr>
                  <td colspan="9">
                    {{
                      dico?.BASIC_NO_DATA_TO_DISPLAY ||
                        "BASIC_NO_DATA_TO_DISPLAY"
                    }}
                  </td>
                </tr>
              </ng-template>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-3">
  <div class="card h-100">
    <div class="card-body">
      <div class="row" style="float: right">
        <div class="col-md-12 col-sm-4">
          <button class="button-class ms-2 mb-2 mb-md-0">
            {{ dico?.dico_save || "dico_save" }}
          </button>
          <button class="button-class ms-2 mb-2 mb-md-0">
            {{ dico?.dico_send_mail || "dico_send_mail" }}
          </button>
          <button class="button-class ms-2 mb-2 mb-md-0">
            {{ dico?.dico_add_survey_request || "dico_add_survey_request" }}
          </button>
          <button class="button-class ms-2 mb-2 mb-md-0">
            {{ dico?.dico_survey_bill || "dico_survey_bill" }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #surveyListExcel>
  <div class="grid-container panel-class-style">
    <button class="close-button" (click)="onNoClick()">
      <mat-icon>close</mat-icon>
    </button>
    <h2 class="h5">{{ dico?.dico_sur_list_excel || "dico_sur_list_excel" }}</h2>
  </div>
  <div class="container-fluid">
    <div class="card h-100">
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-md-3">
            <label for="" class="form-label"
              >{{ dico?.dico_company || "dico_company" }}
            </label>
            <select
              id="company"
              name="company"
              class="form-select"
              [(ngModel)]="companySurveyList"
              [disabled]="companies.length! <= 1"
            >
              <option
                *ngFor="let company of companies"
                [value]="company.companyId"
              >
                {{ company.companyName }}
              </option>
            </select>
          </div>
          <div class="col-md-4">
            <label class="form-label">{{
              dico?.dico_surveyor_name || "dico_surveyor_name"
            }}</label>
            <ng-select
              name="surveyor"
              [virtualScroll]="true"
              [(ngModel)]="surveyorNameSurveyList"
              [appendTo]="'body'"
              (search)="getSurveyorsName($event)"
            >
              <ng-option
                *ngFor="let suggestion of suppliersNames"
                [value]="suggestion.supplierId"
              >
                {{ suggestion.supplierName }}</ng-option
              >
            </ng-select>
          </div>
          <div class="col-md-3">
            <label class="form-label">{{
              dico?.dico_notification || "dico_notification"
            }}</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="notificationSurveyList"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <label for="fromDate" class="form-label">{{
              dico?.dico_from_date || "dico_from_date"
            }}</label>
            <input
              type="text"
              name="fromDate"
              id="fromDate"
              class="form-control"
              bsDatepicker
              [bsConfig]="{
                dateInputFormat: 'DD/MM/YYYY',
                containerClass: 'theme-dark-blue',
                showWeekNumbers: false
              }"
              [(ngModel)]="fromDateSurveyList"
            />
          </div>
          <div class="col-md-3">
            <label class="form-label">{{
              dico?.dico_to_date || "dico_to_date"
            }}</label>
            <input
              type="text"
              name="toDate"
              id="toDate"
              class="form-control"
              bsDatepicker
              [bsConfig]="{
                dateInputFormat: 'DD/MM/YYYY',
                containerClass: 'theme-dark-blue',
                showWeekNumbers: false
              }"
              [(ngModel)]="ToDateSurveyList"
            />
          </div>
          <div class="col-md-3">
            <label class="form-label">{{
              dico?.dico_with_cost || "dico_with_cost"
            }}</label>
            <select
              name="cost"
              id="cost"
              class="form-select"
              [(ngModel)]="selectedCostSurveyList"
            >
              <option
                *ngFor="let item of WithOrWithoutCost"
                [value]="item.value"
              >
                {{ item.label }}
              </option>
            </select>
          </div>
          <div class="col-md-3 mt-4">
            <button
              class="button-class"
              (click)="getSurveyRequestExcelValues()"
            >
              Excel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #followUpExcel>
  <div class="grid-container panel-class-style">
    <button class="close-button" (click)="onNoClick()">
      <mat-icon>close</mat-icon>
    </button>
    <h2 class="h5">{{ dico?.dico_sur_follow_up || "dico_sur_follow_up" }}</h2>
  </div>
  <div class="container-fluid">
    <div class="card h-100">
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-md-3">
            <label for="" class="form-label"
              >{{ dico?.dico_company || "dico_company" }}
            </label>
            <select
              id="company"
              name="company"
              class="form-select"
              [(ngModel)]="companySurveyList"
              [disabled]="companies.length! <= 1"
            >
              <option
                *ngFor="let company of companies"
                [value]="company.companyId"
              >
                {{ company.companyName }}
              </option>
            </select>
          </div>
          <div class="col-md-4">
            <label class="form-label">{{
              dico?.dico_surveyor_name || "dico_surveyor_name"
            }}</label>
            <ng-select
              name="surveyor"
              [virtualScroll]="true"
              [(ngModel)]="surveyorNameSurveyList"
              [appendTo]="'body'"
              (search)="getSurveyorsName($event)"
            >
              <ng-option
                *ngFor="let suggestion of suppliersNames"
                [value]="suggestion.supplierId"
              >
                {{ suggestion.supplierName }}</ng-option
              >
            </ng-select>
          </div>
          <div class="col-md-3">
            <label class="form-label">{{
              dico?.dico_type || "dico_type"
            }}</label>
            <select
              id="type"
              name="type"
              class="form-select"
              [(ngModel)]="typeSurveyList"
            >
              <option *ngFor="let type of followUpTypes" [value]="type.value">
                {{ type.label }}
              </option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <label for="fromDate" class="form-label">{{
              dico?.dico_from_date || "dico_from_date"
            }}</label>
            <input
              type="text"
              name="fromDate"
              id="fromDate"
              class="form-control"
              [(ngModel)]="fromDateSurveyList"
              required
              bsDatepicker
              [bsConfig]="{
                dateInputFormat: 'DD/MM/YYYY',
                containerClass: 'theme-dark-blue',
                showWeekNumbers: false
              }"
            />
          </div>
          <div class="col-md-3">
            <label class="form-label">{{
              dico?.dico_to_date || "dico_to_date"
            }}</label>
            <input
              type="text"
              name="toDate"
              id="toDate"
              required
              class="form-control"
              bsDatepicker
              [(ngModel)]="ToDateSurveyList"
              [bsConfig]="{
                dateInputFormat: 'DD/MM/YYYY',
                containerClass: 'theme-dark-blue',
                showWeekNumbers: false
              }"
            />
          </div>

          <div class="col-md-3 mt-4">
            <button
              class="button-class"
              (click)="getSurveyDispatchFollowUpList()"
            >
              Excel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #surveyCheckExcel>
  <div class="grid-container panel-class-style">
    <button class="close-button" (click)="onNoClick()">
      <mat-icon>close</mat-icon>
    </button>
    <h2 class="h5">{{ dico?.dico_sur_check || "dico_sur_check" }}</h2>
  </div>
  <div class="container-fluid">
    <div class="card h-100">
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-md-3">
            <label for="" class="form-label"
              >{{ dico?.dico_company || "dico_company" }}
            </label>
            <select
              id="company"
              name="company"
              class="form-select"
              [(ngModel)]="companySurveyList"
              [disabled]="companies.length! <= 1"
            >
              <option
                *ngFor="let company of companies"
                [value]="company.companyId"
              >
                {{ company.companyName }}
              </option>
            </select>
          </div>
          <div class="col-md-4">
            <label class="form-label">{{
              dico?.dico_surveyor_name || "dico_surveyor_name"
            }}</label>
            <ng-select
              name="surveyor"
              [virtualScroll]="true"
              [(ngModel)]="surveyorNameSurveyList"
              [appendTo]="'body'"
              (search)="getSurveyorsName($event)"
            >
              <ng-option
                *ngFor="let suggestion of suppliersNames"
                [value]="suggestion.supplierId"
              >
                {{ suggestion.supplierName }}</ng-option
              >
            </ng-select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <label for="fromDate" class="form-label">{{
              dico?.dico_from_date || "dico_from_date"
            }}</label>
            <input
              type="text"
              name="fromDate"
              id="fromDate"
              class="form-control"
              required
              bsDatepicker
              [(ngModel)]="fromDateSurveyList"
              [bsConfig]="{
                dateInputFormat: 'DD/MM/YYYY',
                containerClass: 'theme-dark-blue',
                showWeekNumbers: false
              }"
            />
          </div>
          <div class="col-md-3">
            <label class="form-label">{{
              dico?.dico_to_date || "dico_to_date"
            }}</label>
            <input
              type="text"
              name="toDate"
              id="toDate"
              required
              class="form-control"
              bsDatepicker
              [(ngModel)]="ToDateSurveyList"
              [bsConfig]="{
                dateInputFormat: 'DD/MM/YYYY',
                containerClass: 'theme-dark-blue',
                showWeekNumbers: false
              }"
            />
          </div>

          <div class="col-md-3 mt-4">
            <button class="button-class">Excel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #printSurveySent>
  <div class="grid-container panel-class-style">
    <button class="close-button" (click)="onNoClick()">
      <mat-icon>close</mat-icon>
    </button>
    <h2 class="h5">{{ dico?.dico_sur_check || "dico_sur_check" }}</h2>
  </div>
  <div class="container-fluid">
    <div class="card h-100">
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-md-3">
            <label for="" class="form-label"
              >{{ dico?.dico_company || "dico_company" }}
            </label>
            <select
              id="company"
              name="company"
              class="form-select"
              [(ngModel)]="companySurveyList"
              [disabled]="companies.length! <= 1"
            >
              <option
                *ngFor="let company of companies"
                [value]="company.companyId"
              >
                {{ company.companyName }}
              </option>
            </select>
          </div>
          <div class="col-md-4">
            <label class="form-label">{{
              dico?.dico_surveyor_name || "dico_surveyor_name"
            }}</label>
            <ng-select
              name="surveyor"
              [virtualScroll]="true"
              [(ngModel)]="surveyorNameSurveyList"
              [appendTo]="'body'"
              (search)="getSurveyorsName($event)"
            >
              <ng-option
                *ngFor="let suggestion of suppliersNames"
                [value]="suggestion.supplierId"
              >
                {{ suggestion.supplierName }}</ng-option
              >
            </ng-select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <label for="fromDate" class="form-label">{{
              dico?.dico_from_date || "dico_from_date"
            }}</label>
            <input
              type="text"
              name="fromDate"
              id="fromDate"
              class="form-control"
              required
              bsDatepicker
              [(ngModel)]="fromDateSurveyList"
              [bsConfig]="{
                dateInputFormat: 'DD/MM/YYYY',
                containerClass: 'theme-dark-blue',
                showWeekNumbers: false
              }"
            />
          </div>
          <div class="col-md-3">
            <label class="form-label">{{
              dico?.dico_to_date || "dico_to_date"
            }}</label>
            <input
              type="text"
              name="toDate"
              id="toDate"
              required
              class="form-control"
              bsDatepicker
              [(ngModel)]="ToDateSurveyList"
              [bsConfig]="{
                dateInputFormat: 'DD/MM/YYYY',
                containerClass: 'theme-dark-blue',
                showWeekNumbers: false
              }"
            />
          </div>

          <div class="col-md-3 mt-4">
            <button class="button-class">
              <img src="./assets/icons/pdf.png" class="icon" alt="" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
