<div class="h3-header">
  <h3>
    {{ dico?.dico_car_brand || "dico_car_brand" }}

    <button
      type="button"
      (click)="exportToExcel()"
      *ngIf="hasPerm('admExportToFile')"
      class="export-excel btn btn-primary"
    >
      {{ dico?.dico_export_to_excel || "dico_export_to_excel" }}
    </button>
  </h3>
</div>
<div class="admin-container container-fluid" style="height: 200px">
  <!-- <app-spinner *ngIf="isLoading" style="margin-top: 50px"></app-spinner> -->
  <div class="user-inputs">
    <form (ngSubmit)="carsBrandSearch()">
      <label for="code">{{ dico?.dico_code || "dico_code" }}:</label>
      <input type="text" id="code" name="code" [(ngModel)]="code" />

      <label for="description"
        >{{ dico?.dico_description || "dico_description" }}:</label
      >
      <input
        type="text"
        id="description"
        name="description"
        [(ngModel)]="description"
      />

      <button type="submit">{{ dico?.BASIC_SEARCH || "BASIC_SEARCH" }}</button>
    </form>
    <div class="admin-button">
      <button
        type="button"
        (click)="openAddCarBrandDialog()"
        *ngIf="hasPerm('admAddData')"
      >
        {{ dico?.dico_add_car || "dico_add_car" }}
      </button>
      <!-- <button type="button" style="margin-left: 8px">Update Car</button> -->
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>{{ dico?.dico_id || "dico_id" }}</th>
        <th>{{ dico?.dico_code || "dico_code" }}</th>
        <th>
          {{ dico?.dico_description || "dico_description" }}
        </th>
        <th>{{ dico?.dico_content || "dico_content" }}</th>
        <th>
          {{ dico?.dico_sys_created_date || "dico_sys_created_date" }}
        </th>
        <th>{{ dico?.dico_sys_created_by || "dico_sys_created_by" }}</th>
        <th>
          {{ dico?.dico_sys_updated_date || "dico_sys_updated_date" }}
        </th>
        <th>{{ dico?.dico_sys_updated_by || "dico_sys_updated_by" }}</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody
      *ngIf="carsBrandData?.length! > 0; else noData"
      (click)="highlightRow($event)"
    >
      <tr
        *ngFor="let cars of carsBrandData; trackBy: trackBrandById"
        (click)="carsTrademarkSearch(cars.carBrandId!, cars); savebrandId(cars)"
      >
        <td>{{ cars.carBrandId }}</td>
        <td>{{ cars.carBrandCode }}</td>
        <td>{{ cars.carBrandDescription }}</td>
        <td>
          <div class="car-logo-container">
            <img [src]="cars.content" class="car-logo" />
            <div class="car-logo-dialog">
              <img [src]="cars.content" class="car-logo-dialog-image" />
            </div>
          </div>
        </td>
        <td>
          {{ cars.sysCreatedDate | date : dateFormat("reportDateTimeFormat") }}
        </td>
        <td>{{ cars.sysCreatedBy }}</td>
        <td>
          {{ cars.sysUpdatedDate | date : dateFormat("reportDateTimeFormat") }}
        </td>
        <td>{{ cars.sysUpdatedBy }}</td>

        <td>
          <mat-icon
            *ngIf="hasPerm('admDeleteData')"
            (click)="deleteCarBrand(cars.carBrandCode!)"
            >delete</mat-icon
          >
        </td>
        <td>
          <mat-icon
            *ngIf="hasPerm('admUpdateData')"
            (click)="updateCarBrandDialog(cars)"
            >edit</mat-icon
          >
        </td>
      </tr>
    </tbody>
    <ng-template #noData>
      <tr>
        <td colspan="9">
          {{ dico?.BASIC_NO_DATA_TO_DISPLAY || "BASIC_NO_DATA_TO_DISPLAY" }}
        </td>
      </tr>
    </ng-template>
  </table>
</div>

<div *ngIf="showTrademark">
  <app-car-trademark
    [carBrand]="carBrandData"
    [carTrademark]="carTrademark"
    (sendTrademarkId)="selectTrademarkId($event)"
    [dico]="dico"
  ></app-car-trademark>
</div>

<div *ngIf="showBrandMatchingTable">
  <app-car-brand-matching
    [dico]="dico"
    [brandId]="brandId"
    [selectedTrademarkId]="selectedTrademarkId"
  ></app-car-brand-matching>
</div>
