<h3 class="h3-header">Expert Configuration</h3>
<div class="admin-container container-fluid" style="height: 150px">
  <div class="form-container">
    <form (ngSubmit)="expertSearch()">
      <div class="form-row">
        <div class="form-field">
          <label for="supplierName">Supplier Name:</label>
          <ng-select
            appendTo="body"
            name="supplierName"
            (search)="searchSupplierByName($event)"
            (change)="onSupplierChange()"
            [(ngModel)]="selectedSupplier"
          >
            <ng-option *ngFor="let expert of expertSupplier" [value]="expert">{{
              expert.fullName
            }}</ng-option>
          </ng-select>
        </div>
        <div class="form-field">
          <label for="group">Group:</label>
          <select name="group" id="group" [(ngModel)]="group">
            <option *ngFor="let group of expGroup" [value]="group.code">
              {{ group.description }}
            </option>
          </select>
        </div>
        <div class="form-field">
          <label for="bodilyInjuries">Bodily Injuries:</label>
          <select
            name="bodilyInjury"
            id="bodilyInjury"
            [(ngModel)]="bodilyInjury"
          >
            <option *ngFor="let yn of domainYN" [value]="yn.code">
              {{ yn.description }}
            </option>
          </select>
        </div>
        <div class="form-field">
          <label for="vip">VIP:</label>
          <select name="vip" id="vip" [(ngModel)]="vipCode">
            <option *ngFor="let yn of domainYN" [value]="yn.code">
              {{ yn.description }}
            </option>
          </select>
        </div>
        <div class="form-field">
          <label for="exclusive">Exclusive:</label>
          <select name="exclusive" id="exclusive" [(ngModel)]="exclusiveCode">
            <option *ngFor="let yn of domainYN" [value]="yn.code">
              {{ yn.description }}
            </option>
          </select>
        </div>
        <div class="form-field">
          <label for="insurance">Insurance:</label>
          <select
            id="insurance"
            name="insurance"
            required
            [(ngModel)]="insuranceId"
            [disabled]="companies?.length! <= 1"
          >
            <option
              *ngFor="let company of companies"
              [value]="company.companyId"
            >
              {{ company.companyName }}
            </option>
          </select>
        </div>
        <div class="form-field">
          <label for="territory">Territory:</label>
          <ng-select
            appendTo="body"
            name="territory"
            (search)="territoryAddress($event)"
            [(ngModel)]="territoryCode"
          >
            <ng-option
              *ngFor="let territory of terrAddress"
              [value]="territory.code"
              >{{ territory.description }}</ng-option
            >
          </ng-select>
        </div>
        <div class="form-field">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </form>
  </div>

  <div class="disabled-inputs">
    <label>Supplier Info</label>

    <div class="form-field">
      <label for="fullName">Full Name:</label>
      <input type="text" [(ngModel)]="fullName" [disabled]="true" />
    </div>

    <div class="form-field">
      <label for="fatherName">Father Name:</label>
      <input type="text" [(ngModel)]="fatherName" [disabled]="true" />
    </div>

    <div class="form-field">
      <label for="prefixFamily">Prefix Family:</label>
      <input type="text" [(ngModel)]="prefixFamily" [disabled]="true" />
    </div>

    <div class="form-field">
      <label for="familyName">Family Name:</label>
      <input type="text" [(ngModel)]="familyName" [disabled]="true" />
    </div>

    <div class="form-field">
      <label for="arabicName">Arabic Name:</label>
      <input type="text" [(ngModel)]="arabicName" [disabled]="true" />
    </div>

    <div class="form-field">
      <label for="mobilePhone">Mobile Phone:</label>
      <input type="text" [(ngModel)]="mobilePhone" [disabled]="true" />
    </div>

    <div class="form-field">
      <label for="sms">SMS:</label>
      <input type="checkbox" [(ngModel)]="sms" [disabled]="true" />
    </div>
  </div>
</div>
<app-expert-search-results
  *ngIf="showExpertResult"
  [expertSearchResult]="expertSearchResult"
  [expGroup]="expGroup"
  [selectedSupplier]="selectedSupplier"
></app-expert-search-results>
