<h2 style="margin: 10px; font-size: large">{{ dico?.dico_add_approval_type || "dico_add_approval_type" }}</h2>
<div class="dialog">
  <form [formGroup]="carApproval" (ngSubmit)="addApprovaType()">
    <div class="form-group">
      <label>{{ dico?.dico_application_type || "dico_application_type" }}:</label>
      <input type="text" id="number" formControlName="applicationType" />
    </div>

    <div class="form-group">
      <label>{{ dico?.dico_app_user_id || "dico_app_user_id" }}:</label>
      <ng-select
        appendTo="body"
        name="appUserId"
        id="appUserId"
        formControlName="appUserId"
        (search)="searchCoreUserId($event)"
      >
        <ng-option *ngFor="let user of userId" [value]="user.username">{{
          user.userFullName
        }}</ng-option>
      </ng-select>
      <!-- <input type="text" id="appUserId" formControlName="appUserId" /> -->
    </div>
    <div class="form-group">
      <label>{{ dico?.dico_amount_to || "dico_amount_to" }}:</label>
      <input type="text" id="amountTo" formControlName="amountTo" />

      <div
        style="color: red"
        *ngIf="
          formControl['amountTo'].errors &&
          (formControl['amountTo'].dirty || formControl['amountTo'].touched)
        "
      >
        <div *ngIf="formControl['amountTo']?.errors?.['pattern']">
          {{ dico?.dico_number_is_required || "dico_number_is_required" }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>{{ dico?.dico_amount_from || "dico_amount_from" }}:</label>
      <input type="text" id="amountFrom" formControlName="amountFrom" />
      <div
        style="color: red"
        *ngIf="
          formControl['amountFrom'].errors &&
          (formControl['amountFrom'].dirty || formControl['amountFrom'].touched)
        "
      >
        <div *ngIf="formControl['amountFrom']?.errors?.['pattern']">
          {{ dico?.dico_number_is_required || "dico_number_is_required" }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>{{ dico?.dico_send_email || "dico_send_email" }}:</label>
      <input type="checkbox" id="sendEmail" formControlName="sendEmail" />
    </div>

    <button type="submit" [disabled]="!carApproval.valid">{{ dico?.BASIC_SAVE || "BASIC_SAVE" }}</button>
  </form>
</div>
