<h2>{{ dico?.BASIC_CHANGE_PWD || "BASIC_CHANGE_PWD" }}</h2>
<form class="change-password-form" (ngSubmit)="changePassword()">
  <div>
    <label for="current-password">{{
      dico?.BASIC_PWD_CURRENT || "BASIC_PWD_CURRENT"
    }}</label>
    <input
      type="password"
      id="current-password"
      name="current-password"
      [(ngModel)]="currentPassword"
    />
  </div>
  <div>
    <label for="new-password">{{
      dico?.BASIC_PWD_NEW || "BASIC_PWD_NEW"
    }}</label>
    <input
      type="password"
      id="new-password"
      name="new-password"
      [(ngModel)]="newPassword"
    />
  </div>
  <div>
    <label for="confirm-password">{{
      dico?.dico_confirm_password || "dico_confirm_password"
    }}</label>
    <input
      type="password"
      id="confirm-password"
      name="confirm-password"
      [(ngModel)]="confirmPassword"
    />
  </div>
  <div class="error" *ngIf="newPassword !== confirmPassword">
    <p>
      {{ dico?.dico_dont_match_password || "dico_dont_match_password" }}
    </p>
  </div>
  <button type="submit" [disabled]="newPassword !== confirmPassword">
    {{ dico?.BASIC_CHANGE_PWD || "BASIC_CHANGE_PWD" }}
  </button>
</form>
