.sidenav-container {
    height: 100%;
    width: 100%; 
    
  }
  .sidenav {
    width:280px;
  }
  .mat-sidenav {
    width: 280px;
    border-style: none;
  }

  .component-content {
    display: flex;
    margin-left: 40px;
   
  }


.arrow {

  display: flex;
  align-items: center;
  height: 40px;
  width: 40px;
  margin-top: 10px;
}





