.mat-sidenav {
  width: 260px;
  border-style: none;
}

.row {
  background-color: rgb(237, 243, 245);
}

.col {
  margin-top: 20px;
  margin-left: 10px;
  font-weight: bold;
}

.component-content {
  display: flex;
  margin-left: 20px;
}

.arrow {
  position: absolute;
  display: flex;
  align-items: center;
  margin-top: 140px;
}

.mat-list-item-active {
  background-color: #e5f5ff;
}

.btn {
  display: flex;
  align-items: center;
  color: #333;
}

.hr {
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

