<mat-sidenav-container class="sidenav-container Background">
  <mat-sidenav #sidenav class="sidenav Background" mode="side" opened>
    <div class="row border border-3 mt-2 rounded-0 ms-2">
      <div class="col">Menu</div>

      <div class="rounded mt-3">
        <hr class="hr" />
      </div>

      <mat-nav-list class="btn-group-vertical">
        <a mat-list-item routerLink="/Administrator/addUser" class="btn">
          <!-- <i class="fas fa-user-plus"></i> -->
          <span>Add User</span>
        </a>
        <a mat-list-item routerLink="/Administrator/editUser" class="btn">
          <!-- <i class="fas fa-user-edit"></i> -->
          <span>Edit User</span>
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <div class="arrow">
    <i
      class="fa fa-caret-left"
      style="font-size: 20px"
      (click)="toggleMenu()"
    ></i>
  </div>
  <div class="component-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
