<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/addUser">Add User</a>
      <a mat-list-item routerLink="/editUser">Edit User</a>
    </mat-nav-list>
  </mat-sidenav>
  <div class="component-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container> -->

<mat-sidenav-container class="sidenav-container Background">
  <mat-sidenav #sidenav class="sidenav Background" mode="side" opened>
    <div class="row border border-3 mt-2 rounded-0 ms-2">
      <div class="col">Menu</div>

      <div class="rounded mt-3">
        <fa-icon
          class="fa-2x"
          style="margin-left: 15px; color: rgb(96, 153, 239)"
          [icon]="searchIcon"
        ></fa-icon>
        <span style="margin-left: 10px; font-size: medium">Taskflows</span>

        <hr class="hr" />
      </div>

      <mat-nav-list class="btn-group-vertical">
        <a mat-list-item routerLink="/addUser" class="btn">Add User</a>
        <a mat-list-item routerLink="/editUser" class="btn">Edit User</a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <div class="arrow">
    <i
      class="fa fa-caret-left"
      style="font-size: 20px"
      (click)="toggleMenu()"
    ></i>
  </div>
  <div class="component-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
