
.role-list {
    width:680px;
    height: auto;
    float: left;
    margin: 15px;
    padding: 15px;
    border: 1px solid #ccc;

    background-color: rgb(230, 235, 243);
  }

  .search-container {
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 10px;
  }
  
  .save-role-btn {
    background-color: #1884d7;
    color: white;
    border: none;
    padding: 8px 10px;
    margin: 43px 0 5px 0;
    cursor: pointer;
    transition: background-color 0.2s ease;
    float: right;
  }
  
  .save-role-btn:hover {
    background-color: #0d6efd;
  }
  
  .save-role-btn:focus {
    outline: none;
    box-shadow: 0px 0px 5px 0px rgba(24, 132, 215, 0.5);
  }
  
  .save-role-btn:active {
    transform: translateY(1px);
  }
  
  .search-container input {
    width: 200px;
    padding: 4px;
    margin-right: 10px;
    border: 1px solid #ccc;
  }
  


  .add-remove-role-btn {
    background-color: #1884d7;
    color: white;
    border: none;
    padding: 8px 10px;
    margin: 10px 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .default-access-btn {
    background-color: #1884d7;
    color: white;
    border: none;
    margin-left: 15px;
    padding: 8px 10px;
    margin: 10px 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .add-remove-role-btn:hover,
  .default-access-btn:hover {
    background-color: #0d6efd;
  }
  
  .add-remove-role-btn:focus,
  .default-access-btn:focus {
    outline: none;
    box-shadow: 0px 0px 5px 0px rgba(24, 132, 215, 0.5);
  }
  
  .add-remove-role-btn:active,
  .default-access-btn:active {
    transform: translateY(1px);
  }

  
