<h2 style="margin: 10px; font-size: large">{{ dico?.dico_Add_Car_Info || "dico_Add_Car_Info" }}</h2>
<div class="dialog">
  <form (ngSubmit)="addCarInfo()">
    <label for="bodyTypeCode">{{ dico?.dico_body_type_code || "dico_body_type_code" }}:</label>
    <input
      type="text"
      id="bodyTypeCode"
      name="bodyTypeCode"
      [(ngModel)]="bodyTypeCode"
      required
    />

    <label for="fromYear">{{ dico?.dico_from_year || "dico_from_year" }}:</label>
    <input
      type="text"
      id="fromYear"
      name="fromYear"
      [(ngModel)]="fromYear"
      required
      pattern="[0-9]+"
    />

    <label for="toYear">{{ dico?.dico_to_year || "dico_to_year" }}:</label>
    <input
      type="text"
      id="toYear"
      name="toYear"
      [(ngModel)]="toYear"
      required
      pattern="[0-9]+"
    />

    <label for="Doors">{{ dico?.dico_doors || "dico_doors" }}:</label>
    <select id="door" name="door" [(ngModel)]="door" required>
      <option *ngFor="let door of doors" [value]="door.code">
        {{ door.description }}
      </option>
    </select>

    <label for="size">{{ dico?.dico_size || "dico_size" }}:</label>
    <select id="size" name="size" [(ngModel)]="size" required>
      <option *ngFor="let size of vehicleSize" [value]="size.code">
        {{ size.description }}
      </option>
    </select>

    <label for="bodyTypeNew">{{ dico?.dico_Body_Type_New || "dico_Body_Type_New" }}:</label>
    <select
      id="bodyTypeNew"
      name="bodyTypeNew"
      [(ngModel)]="bodyTypeNew"
      required
    >
      <option *ngFor="let bodyType of newBodyType" [value]="bodyType.code">
        {{ bodyType.description }}
      </option>
    </select>

    <label for="bodyTypeOld">{{ dico?.dico_body_type_old || "dico_body_type_old" }}:</label>
    <select
      id="bodyTypeOld"
      name="bodyTypeOld"
      [(ngModel)]="bodyTypeOld"
      required
    >
      <option *ngFor="let bodyType of oldBodyType" [value]="bodyType.code">
        {{ bodyType.description }}
      </option>
    </select>
    <button type="submit">{{ dico?.BASIC_SAVE || "BASIC_SAVE" }}</button>
  </form>
</div>
