<div class="dialog-container">
  <div class="dialog-header">{{ dico?.dico_Preview_Logo || "dico_Preview_Logo" }}</div>
  <div class="dialog-body">
    <form class="logo-form" (ngSubmit)="updateCarBrand()">
      <div class="logo-preview-container">
        <img [src]="car.content" alt="Preview Logo" class="preview-logo" />
      </div>

      <input
        id="logo-upload-input"
        type="file"
        (change)="onFileSelected($event)"
      />

      <div class="form-group">
        <label for="code" class="label">{{ dico?.dico_code || "dico_code" }}:</label>
        <input
          id="code"
          type="input"
          [(ngModel)]="code"
          name="code"
          class="input"
          readonly
        />
      </div>

      <div class="form-group">
        <label for="description" class="label">{{ dico?.dico_description || "dico_description" }}:</label>
        <input
          id="description"
          type="input"
          [(ngModel)]="description"
          name="description"
          class="input"
        />
      </div>

      <div class="dialog-footer">
        <button class="dialog-button save-button" type="submit">{{ dico?.BASIC_SAVE || "BASIC_SAVE" }}</button>
        <button class="dialog-button cancel-button" type="button">
          {{ dico?.BASIC_CANCEL || "BASIC_CANCEL" }}
        </button>
      </div>
    </form>
  </div>
</div>
