<div class="grid-container container-fluid">
  <mat-tab-group>
    <mat-tab label="Material Damage">
      <div class="section">
        <div class="header">
          <label class="label-color"
            >{{ dico?.dico_material_damage || "dico_material_damage" }}-
            {{ matDamage.matDamageSeq }}</label
          >
        </div>
        <div class="panel">
          <div class="column">
            <div class="panel-item">
              <label class="label-color">{{
                dico?.dico_type || "dico_type"
              }}</label>
              <p>{{ matDamage.matDamageMaterialTypeDesc }}</p>
            </div>
            <div class="panel-item">
              <label class="label-color">{{
                dico?.dico_owner_name || "dico_owner_name"
              }}</label>
              <p>{{ matDamage.matDamageOwnerName }}</p>
            </div>
            <div class="panel-item">
              <label class="label-color">{{
                dico?.dico_insurance_company || "dico_insurance_company"
              }}</label>
              <p>{{ matDamage.supplierName }}</p>
            </div>
          </div>
          <div class="column">
            <div class="panel-item">
              <label class="label-color">{{
                dico?.dico_policy_number || "dico_policy_number"
              }}</label>
              <p>{{ matDamage.matDamagePolicyNumber }}</p>
            </div>
            <div class="panel-item">
              <label class="label-color">{{
                dico?.dico_owner_phone || "dico_owner_phone"
              }}</label>
              <p>{{ matDamage.matDamageOwnerPhone }}</p>
            </div>
            <div class="panel-item">
              <label class="label-color">{{
                dico?.dico_material_vehicle_seq_link ||
                  "dico_material_vehicle_seq_link"
              }}</label>
              <p>{{ matDamage.matVehicleSequenceLink }}</p>
            </div>
          </div>
          <div class="column">
            <div class="panel-item">
              <label class="label-color">{{
                dico?.dico_note || "dico_note"
              }}</label>
              <p>{{ matDamage.maDamageNote }}</p>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
