<h3 class="h3-header">Cars Sublines</h3>
<div class="select-container">
  <span>Company:</span>
  <select
    id="bodyTypeNew"
    name="bodyTypeNew"
    required
    class="company-select"
    [(ngModel)]="company"
    *ngIf="companies?.length! > 1; else oneResult"
  >
    <option *ngFor="let company of companies" [value]="company.companyId">
      {{ company.companyName }}
    </option>
  </select>
  <ng-template #oneResult>
    <select
      id="bodyTypeNew"
      name="bodyTypeNew"
      required
      class="company-select"
      disabled
    >
      <option *ngFor="let company of companies" [value]="company.companyId">
        {{ company.companyName }}
      </option>
    </select>
  </ng-template>
</div>

<div class="form-tab">
  <div class="admin-container">
    <div class="row">
      <div class="user-inputs">
        <form (ngSubmit)="searchCarSublines()">
          <label for="code">Code:</label>
          <input type="text" id="code" name="code" [(ngModel)]="code" />

          <label for="description">Description:</label>
          <input
            type="text"
            id="description"
            name="description"
            [(ngModel)]="description"
          />

          <button type="submit">Search</button>
        </form>
        <div class="admin-button">
          <button type="button" (click)="openAddCarSubline()">
            Add Subline
          </button>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Code</th>
              <th>Description</th>
              <th>Notes</th>
              <th>Sys_Created_Date</th>
              <th>Sys_Created_By</th>
              <th>Sys_Updated_Date</th>
              <th>Sys_Updated_By</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let subline of carSubline">
              <td>{{ subline.id }}</td>
              <td>{{ subline.code }}</td>
              <td>{{ subline.description }}</td>
              <td>{{ subline.notes }}</td>
              <td>
                {{ subline.sysCreatedDate | date : reportDateTimeFormat }}
              </td>
              <td>{{ subline.sysCreatedBy }}</td>
              <td>
                {{ subline.sysUpdatedDate | date : reportDateTimeFormat }}
              </td>
              <td>{{ subline.sysUpdatedBy }}</td>

              <td>
                <mat-icon (click)="deleteCarSubline(subline.id!)"
                  >delete</mat-icon
                >
              </td>
              <td>
                <mat-icon (click)="updateCarSublineDialog(subline)"
                  >edit</mat-icon
                >
              </td>
            </tr>
          </tbody>
        </table>
        <ng-template #noData>
          <tr>
            <td colspan="5">No data to display</td>
          </tr>
        </ng-template>
      </div>
    </div>
  </div>
</div>
