<h2 style="margin: 10px; font-size: large">Add Car Product</h2>
<div class="dialog">
  <form (ngSubmit)="updateCarProduct()">
    <label for="code"> Code:</label>
    <input type="text" id="code" name="code" required [(ngModel)]="code" />

    <label for="description"> Description:</label>
    <input
      type="text"
      id="description"
      name="description"
      required
      [(ngModel)]="description"
    />

    <label for="tarif"> TARIF:</label>
    <input type="text" id="tarif" name="tarif" required [(ngModel)]="tarif" />

    <label for="lob"> LOB:</label>
    <input type="text" id="lob" name="lob" required [(ngModel)]="lob" />

    <label for="type">Type</label>
    <select id="type" name="type" required [(ngModel)]="type">
      <option *ngFor="let type of productTypes" [value]="type.code">
        {{ type.description }}
      </option>
    </select>

    <button type="submit">Save</button>
  </form>
</div>
