<h3 class="h3-header">{{ dico?.dico_cars_report_list || "dico_cars_report_list" }}</h3>
<div class="admin-container container-fluid">
  <div class="user-inputs">
    <form (ngSubmit)="searchCarReport()">
      <label for="role">{{ dico?.dico_role || "dico_role" }}:</label>
      <input type="text" id="role" name="role" [(ngModel)]="role" />

      <label for="sql">{{ dico?.dico_sql || "dico_sql" }}:</label>
      <input type="text" id="sql" name="sql" [(ngModel)]="sql" />

      <button type="submit">{{ dico?.BASIC_SEARCH || "BASIC_SEARCH" }}</button>
    </form>
    <div class="admin-button">
      <button type="button" (click)="openAddReportListDialog()">
        {{ dico?.dico_add_report || "dico_add_report" }}
      </button>
      <button
        type="button"
        style="margin-left: 8px"
        (click)="updateReportList()"
      >
        {{ dico?.dico_update_report_list || "dico_update_report_list" }}
      </button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <table class="sql-table">
        <thead>
          <tr>
            <th>{{ dico?.dico_id || "dico_id" }}</th>
            <th>{{ dico?.dico_report || "dico_report" }}</th>
            <th>{{ dico?.dico_role || "dico_role" }}</th>
            <th>{{ dico?.dico_sql || "dico_sql" }}</th>
            <th>{{ dico?.dico_sheet || "dico_sheet" }}</th>
            <th>{{ dico?.dico_order || "dico_order" }}</th>
            <th>{{ dico?.dico_file || "dico_file" }}</th>
            <th>{{ dico?.dco_file_extension || "dco_file_extension" }}</th>
            <th>{{ dico?.dico_directory || "dico_directory" }}</th>
            <th>{{ dico?.dico_email || "dico_email" }}</th>
            <th>{{ dico?.dico_email_done || "dico_email_done" }}</th>
            <th>{{ dico?.dico_notes || "dico_notes" }}</th>
            <th>{{ dico?.dico_sys_created_date || "dico_sys_created_date" }}</th>
            <th>{{ dico?.dico_sys_created_by || "dico_sys_created_by" }}</th>
            <th>{{ dico?.dico_sys_updated_date || "dico_sys_updated_date" }}</th>
            <th>{{ dico?.dico_sys_updated_by || "dico_sys_updated_by" }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody
          *ngIf="carReport?.length! > 0; else noData"
          (click)="highlightRow($event)"
        >
          <tr *ngFor="let report of carReport">
            <td>{{ report.id }}</td>
            <td
              contenteditable="true"
              (blur)="onTdBlur($event, report, 'report')"
            >
              {{ report.report }}
            </td>
            <td
              contenteditable="true"
              (blur)="onTdBlur($event, report, 'role')"
            >
              {{ report.role }}
            </td>
            <td contenteditable="true" (blur)="onTdBlur($event, report, 'sql')">
              {{ report.sql }}
            </td>
            <td
              contenteditable="true"
              (blur)="onTdBlur($event, report, 'sheet')"
            >
              {{ report.sheet }}
            </td>
            <td
              contenteditable="true"
              (blur)="onTdBlur($event, report, 'order')"
            >
              {{ report.order }}
            </td>
            <td>
              <input
                type="checkbox"
                [(ngModel)]="report.file"
                (change)="onCheckboxChange(report)"
              />
            </td>
            <td
              contenteditable="true"
              (blur)="onTdBlur($event, report, 'fileExtension')"
            >
              {{ report.fileExtension }}
            </td>
            <td
              contenteditable="true"
              (blur)="onTdBlur($event, report, 'directory')"
            >
              {{ report.directory }}
            </td>
            <td>
              <input
                type="checkbox"
                [(ngModel)]="report.email"
                (change)="onCheckboxChange(report)"
              />
            </td>
            <td>
              <input
                type="checkbox"
                [(ngModel)]="report.emailDone"
                (change)="onCheckboxChange(report)"
              />
            </td>
            <td
              contenteditable="true"
              (blur)="onTdBlur($event, report, 'notes')"
            >
              {{ report.notes }}
            </td>
            <td>{{ report.sysCreatedDate | date : reportDateTimeFormat }}</td>
            <td>{{ report.sysCreatedBy }}</td>
            <td>{{ report.sysUpdatedDate | date : reportDateTimeFormat }}</td>
            <td>{{ report.sysUpdatedBy }}</td>
            <td>
              <mat-icon (click)="deleteCarReportList(report.id!)"
                >{{ dico?.BASIC_DELETE || "BASIC_DELETE" }}</mat-icon
              >
            </td>
          </tr>
        </tbody>
        <ng-template #noData>
          <tr>
            <td colspan="9">{{ dico?.BASIC_NO_DATA_TO_DISPLAY || "BASIC_NO_DATA_TO_DISPLAY" }}</td>
          </tr>
        </ng-template>
      </table>
    </div>
  </div>
</div>
