<div class="h3-header">
  <h3>
    {{ dico?.dico_near_region || "dico_near_region" }}

    <button
      type="button"
      (click)="exportToExcel()"
      *ngIf="hasPerm('admExportToFile')"
      class="export-excel btn btn-primary"
    >
      {{ dico?.dico_export_to_excel || "dico_export_to_excel" }}
    </button>
  </h3>
</div>
<div class="admin-container container-fluid" style="height: 250px">
  <div class="user-inputs">
    <div class="admin-button">
      <button
        type="button"
        (click)="addNearRegionDialog()"
        *ngIf="hasPerm('admAddData')"
      >
        {{ dico?.dico_add || "dico_add" }}
      </button>
      <button
        type="button"
        style="margin-left: 8px"
        (click)="updateNearRegion()"
        *ngIf="hasPerm('admUpdateData')"
      >
        {{ dico?.dico_update || "dico_update" }}
      </button>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>{{ dico?.dico_id || "dico_id" }}</th>
        <th>{{ dico?.dico_code || "dico_code" }}</th>
        <th>{{ dico?.dico_description || "dico_description" }}</th>
        <th>{{ dico?.dico_priority || "dico_priority" }}</th>
        <th>{{ dico?.dico_sys_created_date || "dico_sys_created_date" }}</th>
        <th>{{ dico?.dico_sys_created_by || "dico_sys_created_by" }}</th>
        <th>{{ dico?.dico_sys_updated_date || "dico_sys_updated_date" }}</th>
        <th>{{ dico?.dico_sys_updated_by || "dico_sys_updated_by" }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let region of nearRegion; trackBy: trackNearTerritoryById"
        (click)="highlightRow($event)"
      >
        <td>{{ region.id }}</td>
        <td>{{ region.near_RegionCode }}</td>
        <td>{{ region.near_RegionDescription }}</td>
        <td
          contenteditable="true"
          (blur)="onTdBlur($event, region, 'priority')"
        >
          {{ region.priority }}
        </td>
        <td>
          {{
            region.sysCreatedDate | date : dateFormat("reportDateTimeFormat")
          }}
        </td>
        <td>{{ region.sysCreatedBy }}</td>
        <td>
          {{
            region.sysUpdatedDate | date : dateFormat("reportDateTimeFormat")
          }}
        </td>
        <td>{{ region.sysUpdatedBy }}</td>
        <td>
          <mat-icon
            *ngIf="hasPerm('admDeleteData')"
            (click)="deleteCarCover(region.id!)"
            >delete</mat-icon
          >
        </td>
      </tr>
    </tbody>
    <ng-template #noData>
      <tr>
        <td colspan="5">
          {{ dico?.BASIC_NO_DATA_TO_DISPLAY || "BASIC_NO_DATA_TO_DISPLAY" }}
        </td>
      </tr>
    </ng-template>
  </table>
</div>
