<h5>Update Supplier Information</h5>
<hr />
<div class="container-fluid">
  <form [formGroup]="carSupplierForm" (ngSubmit)="updateCarSupplier()">
    <div class="form-group">
      <label for="supplierID">Supplier ID:</label>
      <input
        type="text"
        id="supplierID"
        name="supplierID"
        [readOnly]="true"
        style="opacity: 0.7"
        formControlName="id"
      />
    </div>
    <div class="form-group">
      <label for="supplierNum">Supplier Number:</label>
      <input
        type="text"
        id="supplierNum"
        name="supplierNum"
        [readOnly]="true"
        formControlName="number"
        style="opacity: 0.7"
      />
    </div>
    <div class="form-group">
      <label>Supplier Type:</label>
      <select class="input-dropdown" formControlName="interm">
        <option *ngFor="let type of supplierType" [value]="type.code">
          {{ type.description }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="supplierFirstName">Supplier First Name:</label>
      <input
        type="text"
        id="supplierFirstName"
        name="supplierFirstName"
        formControlName="firstname"
      />
    </div>
    <div class="form-group">
      <label for="supplierFamilyName">Supplier Family Name:</label>
      <input
        type="text"
        id="supplierFamilyName"
        name="supplierFamilyName"
        formControlName="lastname"
      />
    </div>
    <div class="form-group">
      <label for="supplierPrefixFam">Supplier Prefix Family:</label>
      <input
        type="text"
        id="supplierPrefixFam"
        name="supplierPrefixFam"
        formControlName="prefixFam"
      />
    </div>

    <div class="form-group">
      <label for="supplierFatherName">Supplier Father Name:</label>
      <input
        type="text"
        id="supplierFatherName"
        name="supplierFatherName"
        formControlName="fathersName"
      />
    </div>

    <div class="form-group">
      <label>Supplier Title:</label>
      <select formControlName="titre">
        <option *ngFor="let title of titleLov" [value]="title.code">
          {{ title.description }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Home City</label>
      <ng-select appendTo="body" formControlName="home_id">
        <ng-option *ngFor="let address of addressLov" [value]="address.code">{{
          address.description
        }}</ng-option>
      </ng-select>
      <!-- <input type="text" id="home" name="home" formControlName="home_id" /> -->
    </div>

    <div class="form-group">
      <label for="supplierHomePhone">Supplier Home Phone:</label>
      <input
        type="text"
        id="supplierHomePhone"
        name="supplierHomePhone"
        formControlName="home_phone"
      />
    </div>
    <div class="form-group">
      <label>Supplier Business City:</label>
      <ng-select appendTo="body" formControlName="bus_id">
        <ng-option *ngFor="let address of addressLov" [value]="address.code">{{
          address.description
        }}</ng-option>
      </ng-select>
    </div>
    <div class="form-group">
      <label for="supplierBusPhone">Supplier Business Phone:</label>
      <input
        type="text"
        id="supplierBusPhone"
        name="supplierBusPhone"
        formControlName="bus_phone"
      />
    </div>
    <div class="form-group">
      <label for="supplierMobilePhone">Supplier Mobile Phone:</label>
      <input
        type="text"
        id="supplierMobilePhone"
        name="supplierMobilePhone"
        formControlName="mobile_number"
      />
    </div>
    <div class="form-group">
      <label for="supplierFax">Supplier Fax:</label>
      <input
        type="text"
        id="supplierFax"
        name="supplierFax"
        formControlName="fax"
      />
    </div>
    <div class="form-group">
      <label for="supplierArabicName">Supplier Arabic Name:</label>
      <input
        type="text"
        id="supplierArabicName"
        name="supplierArabicName"
        formControlName="arabic_name"
      />
    </div>

    <div class="form-group">
      <label for="supplierGradeID">Supplier Grade ID:</label>
      <select
        id="supplierGradeID"
        name="supplierGradeID"
        class="input-dropdown"
        formControlName="grade_id"
      >
        <option *ngFor="let grade of suppGrade" [value]="grade.code">
          {{ grade.description }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="supplierName">Supplier Name:</label>
      <input
        type="text"
        id="supplierName"
        name="supplierName"
        formControlName="fullName"
      />
    </div>

    <div class="form-group">
      <label for="supplierFDate">Supplier FDate:</label>
      <input
        type="date"
        id="supplierFDate"
        name="supplierFDate"
        formControlName="fdate"
      />
    </div>
    <div class="form-group">
      <label for="supplierInactD">Supplier Inactive Date:</label>
      <input
        type="date"
        id="supplierInactD"
        name="supplierInactD"
        formControlName="inAcctD"
      />
    </div>
    <div class="form-group">
      <label for="supplierEmail">Supplier Email:</label>
      <input
        type="text"
        id="supplierEmail"
        name="supplierEmail"
        formControlName="email"
      />
      <div
        style="color: red"
        *ngIf="
          formControl['email'].errors &&
          (formControl['email'].dirty || formControl['email'].touched)
        "
      >
        <div *ngIf="formControl['email']?.errors?.['email']">
          Enter a valid email address
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="supplierInitialCount">Supplier Initial Count:</label>
      <input
        type="text"
        id="supplierInitialCount"
        name="supplierInitialCount"
        formControlName="initialCount"
      />

      <div
        style="color: red"
        *ngIf="
          formControl['initialCount'].errors &&
          (formControl['initialCount'].dirty ||
            formControl['initialCount'].touched)
        "
      >
        <div *ngIf="formControl['initialCount']?.errors?.['pattern']">
          Number is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="supplierRegNum">Supplier Registration Number:</label>
      <input
        type="text"
        id="supplierRegNum"
        name="supplierRegNum"
        formControlName="registration_number"
      />
    </div>
    <div class="form-group">
      <label for="supplierTVANum">Supplier TVA Number:</label>
      <input
        type="text"
        id="supplierTVANum"
        name="supplierTVANum"
        formControlName="tva_number"
      />
    </div>
    <div class="form-group">
      <label for="supplierIncludeApp">Supplier Include App:</label>
      <input
        type="checkbox"
        id="supplierIncludeApp"
        name="supplierIncludeApp"
        formControlName="include_app"
      />
    </div>

    <div class="form-group">
      <label for="supplierSMS">Supplier SMS:</label>
      <input
        type="checkbox"
        id="supplierSMS"
        name="supplierSMS"
        formControlName="sms"
      />
    </div>
    <div class="form-group">
      <label for="supplierOutNetwork">Supplier Out Network:</label>
      <input
        type="checkbox"
        id="supplierOutNetwork"
        name="supplierOutNetwork"
        formControlName="out_network"
      />
    </div>
    <div class="form-group">
      <label for="supplierShowInList">Supplier Show in List:</label>
      <input
        type="checkbox"
        id="supplierShowInList"
        name="supplierShowInList"
        formControlName="show_in_list"
      />
    </div>
    <input type="submit" value="Save" />
  </form>
</div>
