<h5>{{ dico?.dico_supplier_details || "dico_supplier_details" }}</h5>
<hr />
<div class="container-fluid">
  <form [formGroup]="carSupplierForm" (ngSubmit)="updateCarSupplier()">
    <div class="form-group">
      <label for="supplierID"
        >{{ dico?.dico_supplier_id || "dico_supplier_id" }} :</label
      >
      <input
        type="text"
        id="supplierID"
        name="supplierID"
        [readOnly]="true"
        style="opacity: 0.7"
        formControlName="id"
      />
    </div>
    <div class="form-group">
      <label for="supplierNum"
        >{{ dico?.dico_supplier_num || "dico_supplier_num" }}
      </label>
      <input
        type="text"
        id="supplierNum"
        name="supplierNum"
        [readOnly]="true"
        formControlName="number"
        style="opacity: 0.7"
      />
    </div>
    <div class="form-group">
      <label> {{ dico?.dico_type || "dico_type" }}:</label>
      <select class="input-dropdown" formControlName="interm">
        <option *ngFor="let type of supplierType" [value]="type.code">
          {{ type.description }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="supplierFirstName">
        {{
          dico?.dico_supplier_first_name || "dico_supplier_first_name"
        }}:</label
      >
      <input
        type="text"
        id="supplierFirstName"
        name="supplierFirstName"
        formControlName="firstname"
      />
    </div>
    <div class="form-group">
      <label for="supplierFamilyName">
        {{ dico?.dico_familyname || "dico_familyname" }}:</label
      >
      <input
        type="text"
        id="supplierFamilyName"
        name="supplierFamilyName"
        formControlName="lastname"
      />
    </div>
    <div class="form-group">
      <label for="supplierPrefixFam">
        {{ dico?.dico_prefix_fam || "dico_prefix_fam" }}:</label
      >
      <input
        type="text"
        id="supplierPrefixFam"
        name="supplierPrefixFam"
        formControlName="prefixFam"
      />
    </div>

    <div class="form-group">
      <label for="supplierFatherName">
        {{ dico?.dico_father_name || "dico_father_name" }}:</label
      >
      <input
        type="text"
        id="supplierFatherName"
        name="supplierFatherName"
        formControlName="fathersName"
      />
    </div>

    <div class="form-group">
      <label> {{ dico?.dico_title || "dico_title" }}:</label>
      <select formControlName="titre">
        <option *ngFor="let title of titleLov" [value]="title.code">
          {{ title.description }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label> {{ dico?.dico_home_address || "dico_home_address" }}</label>
      <ng-select appendTo="body" formControlName="home_id">
        <ng-option *ngFor="let address of addressLov" [value]="address.code">{{
          address.description
        }}</ng-option>
      </ng-select>
      <!-- <input type="text" id="home" name="home" formControlName="home_id" /> -->
    </div>

    <div class="form-group">
      <label for="supplierHomePhone">
        {{ dico?.dico_home_phone || "dico_home_phone" }}:</label
      >
      <input
        type="text"
        id="supplierHomePhone"
        name="supplierHomePhone"
        formControlName="home_phone"
      />
    </div>
    <div class="form-group">
      <label>
        {{ dico?.dico_busines_town_name || "dico_busines_town_name" }} :</label
      >
      <ng-select appendTo="body" formControlName="bus_id">
        <ng-option *ngFor="let address of addressLov" [value]="address.code">{{
          address.description
        }}</ng-option>
      </ng-select>
    </div>
    <div class="form-group">
      <label for="supplierBusPhone">
        {{ dico?.dico_bus_phone || "dico_bus_phone" }}:</label
      >
      <input
        type="text"
        id="supplierBusPhone"
        name="supplierBusPhone"
        formControlName="bus_phone"
      />
    </div>
    <div class="form-group">
      <label for="supplierMobilePhone">
        {{ dico?.dico_mobile_phone || "dico_mobile_phone" }}:</label
      >
      <input
        type="text"
        id="supplierMobilePhone"
        name="supplierMobilePhone"
        formControlName="mobile_number"
      />
    </div>
    <div class="form-group">
      <label for="supplierFax"> {{ dico?.dico_fax || "dico_fax" }}:</label>
      <input
        type="text"
        id="supplierFax"
        name="supplierFax"
        formControlName="fax"
      />
    </div>
    <div class="form-group">
      <label for="supplierArabicName">
        {{ dico?.dico_arabic_name || "dico_arabic_name" }}:</label
      >
      <input
        type="text"
        id="supplierArabicName"
        name="supplierArabicName"
        formControlName="arabic_name"
      />
    </div>

    <div class="form-group">
      <label for="supplierGradeID"
        >{{ dico?.dico_sup_grade || "dico_sup_grade" }} :</label
      >
      <select
        id="supplierGradeID"
        name="supplierGradeID"
        class="input-dropdown"
        formControlName="grade_id"
      >
        <option *ngFor="let grade of suppGrade" [value]="grade.code">
          {{ grade.description }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="supplierName"
        >{{ dico?.dico_supplier_name || "dico_supplier_name" }}:</label
      >
      <input
        type="text"
        id="supplierName"
        name="supplierName"
        formControlName="fullName"
      />
    </div>

    <div class="form-group">
      <label for="supplierFDate">
        {{ dico?.dico_inactive_date || "dico_inactive_date" }}:</label
      >
      <input
        type="date"
        id="supplierFDate"
        name="supplierFDate"
        formControlName="fdate"
      />
    </div>
    <div class="form-group">
      <label for="supplierInactD"
        >{{ dico?.dico_inactive_date || "dico_inactive_date" }}:</label
      >
      <input
        type="date"
        id="supplierInactD"
        name="supplierInactD"
        formControlName="inAcctD"
      />
    </div>
    <div class="form-group">
      <label for="supplierEmail">
        {{ dico?.dico_email || "dico_email" }}:</label
      >
      <input
        type="text"
        id="supplierEmail"
        name="supplierEmail"
        formControlName="email"
      />
      <div
        style="color: red"
        *ngIf="
          formControl['email'].errors &&
          (formControl['email'].dirty || formControl['email'].touched)
        "
      >
        <div *ngIf="formControl['email']?.errors?.['email']">
          Enter a valid email address
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="supplierInitialCount">
        {{ dico?.dico_initial_count || "dico_initial_count" }}:</label
      >
      <input
        type="text"
        id="supplierInitialCount"
        name="supplierInitialCount"
        formControlName="initialCount"
      />

      <div
        style="color: red"
        *ngIf="
          formControl['initialCount'].errors &&
          (formControl['initialCount'].dirty ||
            formControl['initialCount'].touched)
        "
      >
        <div *ngIf="formControl['initialCount']?.errors?.['pattern']">
          Number is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="supplierRegNum">
        {{ dico?.dico_reg_num || "dico_reg_num" }}:</label
      >
      <input
        type="text"
        id="supplierRegNum"
        name="supplierRegNum"
        formControlName="registration_number"
      />
    </div>
    <div class="form-group">
      <label for="supplierTVANum">
        {{ dico?.dico_tva_num || "dico_tva_num" }} :</label
      >
      <input
        type="text"
        id="supplierTVANum"
        name="supplierTVANum"
        formControlName="tva_number"
      />
    </div>
    <div class="form-group">
      <label for="supplierIncludeApp">
        {{ dico?.dico_in_application || "dico_in_application" }} :</label
      >
      <input
        type="checkbox"
        id="supplierIncludeApp"
        name="supplierIncludeApp"
        formControlName="include_app"
      />
    </div>

    <div class="form-group">
      <label for="supplierSMS">{{ dico?.dico_sms || "dico_sms" }} :</label>
      <input
        type="checkbox"
        id="supplierSMS"
        name="supplierSMS"
        formControlName="sms"
      />
    </div>
    <div class="form-group">
      <label for="supplierOutNetwork"
        >{{ dico?.dico_out_network || "dico_out_network" }} :</label
      >
      <input
        type="checkbox"
        id="supplierOutNetwork"
        name="supplierOutNetwork"
        formControlName="out_network"
      />
    </div>
    <div class="form-group">
      <label for="supplierShowInList"
        >{{ dico?.dico_show_in_list || "dico_show_in_list" }} :</label
      >
      <input
        type="checkbox"
        id="supplierShowInList"
        name="supplierShowInList"
        formControlName="show_in_list"
      />
    </div>
    <div class="btn-group">
      <button class="btn btn-primary" type="submit" style="padding: 10px">
        {{ dico?.dico_save || "dico_save" }}
      </button>
    </div>
    <!-- <input type="submit" value="Save" /> -->
  </form>
</div>
