<h2 style="margin: 10px; font-size: large">
  {{ dico?.dico_add_car_cover || "dico_add_car_cover" }}
</h2>
<div class="dialog">
  <form [formGroup]="carSupplierForm" (ngSubmit)="addCarSupplier()">
    <div class="form-group">
      <label>{{ dico?.dico_Supplier_Type || "dico_Supplier_Type" }}:</label>
      <select class="input-dropdown" formControlName="interm">
        <option *ngFor="let type of supplierType" [value]="type.code">
          {{ type.description }}
        </option>
      </select>
      <div
        style="color: red"
        *ngIf="
          formControl['interm'].errors &&
          (formControl['interm'].dirty || formControl['interm'].touched)
        "
      >
        <div *ngIf="formControl['interm']?.errors?.['required']">
          {{ dico?.dico_required || "dico_required" }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>{{ dico?.dico_Supplier_Title || "dico_Supplier_Title" }}:</label>
      <select name="title" id="title" formControlName="titre">
        <option *ngFor="let title of titleLov" [value]="title.code">
          {{ title.description }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label
        >{{
          dico?.dico_supplier_first_name || "dico_supplier_first_name"
        }}:</label
      >
      <input
        type="text"
        id="supplierFirstName"
        name="supplierFirstName"
        formControlName="firstname"
      />
    </div>
    <div class="form-group">
      <label for="supplierFatherName"
        >{{ dico?.dico_sup_father_name || "dico_sup_father_name" }}:</label
      >
      <input
        type="text"
        id="supplierFatherName"
        name="supplierFatherName"
        formControlName="fathersName"
      />
    </div>
    <div class="form-group">
      <label for="supplierPrefixFam"
        >{{
          dico?.dico_Supplier_Prefix_Family || "dico_Supplier_Prefix_Family"
        }}:</label
      >
      <input
        type="text"
        id="supplierPrefixFam"
        name="supplierPrefixFam"
        formControlName="prefixFam"
      />
    </div>
    <div class="form-group">
      <label for="supplierFamilyName"
        >{{ dico?.dico_sup_family_name || "dico_sup_family_name" }}:</label
      >
      <input
        type="text"
        id="supplierFamilyName"
        name="supplierFamilyName"
        formControlName="lastname"
        required
      />
      <div
        style="color: red"
        *ngIf="
          formControl['lastname'].errors &&
          (formControl['lastname'].dirty || formControl['lastname'].touched)
        "
      >
        <div *ngIf="formControl['lastname']?.errors?.['required']">
          {{ dico?.dico_required || "dico_required" }}
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="supplierArabicName"
        >{{ dico?.Supplier_Arabic_Name || "Supplier_Arabic_Name" }}:</label
      >
      <input
        type="text"
        id="supplierArabicName"
        name="supplierArabicName"
        formControlName="arabic_name"
      />
    </div>

    <div class="form-group">
      <label>{{ dico?.dico_Home_City || "dico_Home_City" }}</label>
      <ng-select appendTo="body" formControlName="home_id">
        <ng-option *ngFor="let address of addressLov" [value]="address.code">{{
          address.description
        }}</ng-option>
      </ng-select>
      <!-- <input type="text" id="home" name="home" formControlName="home_id" /> -->
    </div>

    <div class="form-group">
      <label for="supplierHomePhone"
        >{{
          dico?.dico_Supplier_Home_Phone || "dico_Supplier_Home_Phone"
        }}:</label
      >
      <input
        type="text"
        id="supplierHomePhone"
        name="supplierHomePhone"
        formControlName="home_phone"
      />
    </div>
    <div class="form-group">
      <label
        >{{ dico?.dico_busines_town_name || "dico_busines_town_name" }}:</label
      >
      <ng-select appendTo="body" formControlName="bus_id">
        <ng-option *ngFor="let address of addressLov" [value]="address.code">{{
          address.description
        }}</ng-option>
      </ng-select>
    </div>
    <div class="form-group">
      <label for="supplierBusPhone"
        >{{
          dico?.dico_Supplier_Business_Phone || "dico_Supplier_Business_Phone"
        }}:</label
      >
      <input
        type="text"
        id="supplierBusPhone"
        name="supplierBusPhone"
        formControlName="bus_phone"
      />
    </div>
    <div class="form-group">
      <label for="supplierMobilePhone"
        >{{
          dico?.dico_Supplier_Mobile_Phone || "dico_Supplier_Mobile_Phone"
        }}:</label
      >
      <input
        type="text"
        id="supplierMobilePhone"
        name="supplierMobilePhone"
        formControlName="mobile_number"
      />
    </div>
    <div class="form-group">
      <label for="supplierFax"
        >{{ dico?.dico_Supplier_Fax || "dico_Supplier_Fax" }}:</label
      >
      <input
        type="text"
        id="supplierFax"
        name="supplierFax"
        formControlName="fax"
      />
    </div>

    <div class="form-group">
      <label for="supplierGradeID"
        >{{ dico?.dico_Supplier_Grade_ID || "dico_Supplier_Grade_ID" }}:</label
      >
      <select
        id="supplierGradeID"
        name="supplierGradeID"
        class="input-dropdown"
        formControlName="grade_id"
      >
        <option *ngFor="let grade of supplierGrade" [value]="grade.code">
          {{ grade.description }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="supplierFDate"
        >{{ dico?.dico_active_date || "dico_active_date" }}:</label
      >
      <input
        type="datetime-local"
        id="supplierFDate"
        name="supplierFDate"
        formControlName="fdate"
        required
      />
      <div
        style="color: red"
        *ngIf="
          formControl['fdate'].errors &&
          (formControl['fdate'].dirty || formControl['fdate'].touched)
        "
      >
        <div *ngIf="formControl['fdate']?.errors?.['required']">
          {{ dico?.dico_required || "dico_required" }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="supplierInactD"
        >{{
          dico?.dico_Supplier_Inactive_Date || "dico_Supplier_Inactive_Date"
        }}:</label
      >
      <input
        type="datetime-local"
        id="supplierInactD"
        name="supplierInactD"
        formControlName="inAcctD"
      />
    </div>
    <div class="form-group">
      <label for="supplierEmail"
        >{{ dico?.dico_Supplier_Email || "dico_Supplier_Email" }}:</label
      >
      <input
        type="text"
        id="supplierEmail"
        name="supplierEmail"
        formControlName="email"
      />
      <div
        style="color: red"
        *ngIf="
          formControl['email'].errors &&
          (formControl['email'].dirty || formControl['email'].touched)
        "
      >
        <div *ngIf="formControl['email']?.errors?.['email']">
          {{ dico?.dico_email_not_valid || "dico_email_not_valid" }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="supplierInitialCount"
        >{{
          dico?.dico_Supplier_Initial_Count || "dico_Supplier_Initial_Count"
        }}:</label
      >
      <input
        type="text"
        id="supplierInitialCount"
        name="supplierInitialCount"
        formControlName="initialCount"
      />
      <div
        style="color: red"
        *ngIf="
          formControl['initialCount'].errors &&
          (formControl['initialCount'].dirty ||
            formControl['initialCount'].touched)
        "
      >
        <div *ngIf="formControl['initialCount']?.errors?.['pattern']">
          Number is Required
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="supplierRegNum"
        >{{
          dico?.dico_Supplier_Registration_Number ||
            "dico_Supplier_Registration_Number"
        }}:</label
      >
      <input
        type="text"
        id="supplierRegNum"
        name="supplierRegNum"
        formControlName="registration_number"
      />
    </div>
    <div class="form-group">
      <label for="supplierTVANum"
        >{{
          dico?.dico_Supplier_TVA_Number || "dico_Supplier_TVA_Number"
        }}:</label
      >
      <input
        type="text"
        id="supplierTVANum"
        name="supplierTVANum"
        formControlName="tva_number"
      />
    </div>
    <div class="form-group" style="flex-direction: row">
      <label for="supplierIncludeApp">
        {{ dico?.dico_Include_App || "dico_Include_App" }}:</label
      >
      <input
        type="checkbox"
        id="supplierIncludeApp"
        name="supplierIncludeApp"
        formControlName="include_app"
        style="margin-left: 30px"
      />
    </div>

    <div class="form-group" style="flex-direction: row">
      <label for="supplierSMS">{{ dico?.dico_sms || "dico_sms" }}:</label>
      <input
        type="checkbox"
        id="supplierSMS"
        name="supplierSMS"
        formControlName="sms"
        style="margin-left: 85px"
      />
    </div>
    <div class="form-group" style="flex-direction: row">
      <label for="supplierOutNetwork">
        {{ dico?.dico_out_network || "dico_out_network" }}:</label
      >
      <input
        type="checkbox"
        id="supplierOutNetwork"
        name="supplierOutNetwork"
        formControlName="out_network"
        style="margin-left: 25px"
      />
    </div>
    <div class="form-group" style="flex-direction: row">
      <label for="supplierShowInList">
        {{ dico?.dico_show_in_list || "dico_show_in_list" }}:</label
      >
      <input
        type="checkbox"
        id="supplierShowInList"
        name="supplierShowInList"
        formControlName="show_in_list"
        style="margin-left: 30px"
      />
    </div>
    <button
      type="submit"
      [disabled]="!carSupplierForm.valid"
      [ngClass]="{ 'disabled-button': !carSupplierForm.valid }"
    >
      {{ dico?.dico_submit || "dico_submit" }}
    </button>
  </form>
</div>
