<h2 style="margin: 10px; font-size: large">Add Car Cover</h2>
<div class="dialog">
  <form [formGroup]="carSupplierForm" (ngSubmit)="addCarSupplier()">
    <div class="form-group">
      <label for="supplierType">Supplier Type:</label>
      <select
        id="type"
        name="type"
        class="input-dropdown"
        formControlName="interm"
      >
        <option *ngFor="let type of supplierType" [value]="type.code">
          {{ type.description }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="supplierFirstName">Supplier First Name:</label>
      <input
        type="text"
        id="supplierFirstName"
        name="supplierFirstName"
        formControlName="firstname"
      />
    </div>
    <div class="form-group">
      <label for="supplierFamilyName">Supplier Family Name:</label>
      <input
        type="text"
        id="supplierFamilyName"
        name="supplierFamilyName"
        formControlName="lastname"
      />
    </div>
    <div class="form-group">
      <label for="supplierPrefixFam">Supplier Prefix Family:</label>
      <input
        type="text"
        id="supplierPrefixFam"
        name="supplierPrefixFam"
        formControlName="prefixFam"
      />
    </div>

    <div class="form-group">
      <label for="supplierFatherName">Supplier Father Name:</label>
      <input
        type="text"
        id="supplierFatherName"
        name="supplierFatherName"
        formControlName="fathersName"
      />
    </div>

    <div class="form-group">
      <label for="supplierTitre">Supplier Title:</label>
      <select name="title" id="title" formControlName="titre">
        <option *ngFor="let title of titleLov" [value]="title.code">
          {{ title.description }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="home">Home City</label>
      <ng-select appendTo="body" formControlName="home_id">
        <ng-option *ngFor="let address of addressLov" [value]="address.code">{{
          address.description
        }}</ng-option>
      </ng-select>
      <!-- <input type="text" id="home" name="home" formControlName="home_id" /> -->
    </div>

    <div class="form-group">
      <label for="supplierHomePhone">Supplier Home Phone:</label>
      <input
        type="text"
        id="supplierHomePhone"
        name="supplierHomePhone"
        formControlName="home_phone"
      />
    </div>
    <div class="form-group">
      <label for="supplierBusStreet">Supplier Business City:</label>
      <ng-select appendTo="body" formControlName="bus_id">
        <ng-option *ngFor="let address of addressLov" [value]="address.code">{{
          address.description
        }}</ng-option>
      </ng-select>
    </div>
    <div class="form-group">
      <label for="supplierBusPhone">Supplier Business Phone:</label>
      <input
        type="text"
        id="supplierBusPhone"
        name="supplierBusPhone"
        formControlName="bus_phone"
      />
    </div>
    <div class="form-group">
      <label for="supplierMobilePhone">Supplier Mobile Phone:</label>
      <input
        type="text"
        id="supplierMobilePhone"
        name="supplierMobilePhone"
        formControlName="mobile_number"
      />
    </div>
    <div class="form-group">
      <label for="supplierFax">Supplier Fax:</label>
      <input
        type="text"
        id="supplierFax"
        name="supplierFax"
        formControlName="fax"
      />
    </div>
    <div class="form-group">
      <label for="supplierArabicName">Supplier Arabic Name:</label>
      <input
        type="text"
        id="supplierArabicName"
        name="supplierArabicName"
        formControlName="arabic_name"
      />
    </div>

    <div class="form-group">
      <label for="supplierGradeID">Supplier Grade ID:</label>
      <select
        id="supplierGradeID"
        name="supplierGradeID"
        class="input-dropdown"
        formControlName="grade_id"
      >
        <option *ngFor="let grade of supplierGrade" [value]="grade.code">
          {{ grade.description }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="supplierFDate">Supplier FDate:</label>
      <input
        type="date"
        id="supplierFDate"
        name="supplierFDate"
        formControlName="fdate"
      />
    </div>
    <div class="form-group">
      <label for="supplierInactD">Supplier Inactive Date:</label>
      <input
        type="date"
        id="supplierInactD"
        name="supplierInactD"
        formControlName="inAcctD"
      />
    </div>
    <div class="form-group">
      <label for="supplierEmail">Supplier Email:</label>
      <input
        type="text"
        id="supplierEmail"
        name="supplierEmail"
        formControlName="email"
      />
    </div>
    <div class="form-group">
      <label for="supplierInitialCount">Supplier Initial Count:</label>
      <input
        type="text"
        id="supplierInitialCount"
        name="supplierInitialCount"
        formControlName="initialCount"
      />
    </div>
    <div class="form-group">
      <label for="supplierRegNum">Supplier Registration Number:</label>
      <input
        type="text"
        id="supplierRegNum"
        name="supplierRegNum"
        formControlName="registration_number"
      />
    </div>
    <div class="form-group">
      <label for="supplierTVANum">Supplier TVA Number:</label>
      <input
        type="text"
        id="supplierTVANum"
        name="supplierTVANum"
        formControlName="tva_number"
      />
    </div>
    <div class="form-group" style="flex-direction: row">
      <label for="supplierIncludeApp"> Include App:</label>
      <input
        type="checkbox"
        id="supplierIncludeApp"
        name="supplierIncludeApp"
        formControlName="include_app"
        style="margin-left: 30px"
      />
    </div>

    <div class="form-group" style="flex-direction: row">
      <label for="supplierSMS">SMS:</label>
      <input
        type="checkbox"
        id="supplierSMS"
        name="supplierSMS"
        formControlName="sms"
        style="margin-left: 85px"
      />
    </div>
    <div class="form-group" style="flex-direction: row">
      <label for="supplierOutNetwork"> Out Network:</label>
      <input
        type="checkbox"
        id="supplierOutNetwork"
        name="supplierOutNetwork"
        formControlName="out_network"
        style="margin-left: 25px"
      />
    </div>
    <div class="form-group" style="flex-direction: row">
      <label for="supplierShowInList"> Show in List:</label>
      <input
        type="checkbox"
        id="supplierShowInList"
        name="supplierShowInList"
        formControlName="show_in_list"
        style="margin-left: 30px"
      />
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
