<div class="h3-header m-3">
  <h3>
    {{ dico?.dico_cars_cover || "dico_cars_cover" }}
    <button
      type="button"
      (click)="exportToExcel()"
      *ngIf="hasPerm('admExportToFile')"
      class="export-excel btn btn-primary"
    >
      {{ dico?.dico_export_to_excel || "dico_export_to_excel" }}
    </button>
  </h3>
</div>
<div class="container-fluid d-flex justify-content-end align-items-center">
  <label>{{ dico?.dico_company || "dico_company" }} : </label>
  <select
    id="company"
    name="company"
    required
    class="company-select select-class"
    [(ngModel)]="company"
    [disabled]="companies?.length! <= 1"
  >
    <option *ngFor="let company of companies" [value]="company.companyId">
      {{ company.companyName }}
    </option>
  </select>
</div>
<app-spinner *ngIf="loading"></app-spinner>
<div class="container-fluid mt-3">
  <div class="card" style="max-height: 250px; overflow: auto">
    <div class="card-body">
      <form (ngSubmit)="searchCarCover()">
        <div class="row p-2">
          <div class="col-md-4 col-sm-6 col-lg-2">
            <label class="form-label"
              >{{ dico?.dico_code || "dico_code" }}:</label
            >
            <input
              class="form-control"
              type="text"
              id="code"
              name="code"
              [(ngModel)]="code"
            />
          </div>
          <div class="col-md-4 col-sm-6 col-lg-2">
            <label class="form-label"
              >{{ dico?.dico_description || "dico_description" }}:</label
            >
            <input
              type="text"
              class="form-control"
              id="description"
              name="description"
              [(ngModel)]="description"
            />
          </div>
          <div class="col-md-3 col-sm-6 col-lg-1 mt-4">
            <button class="button-class" type="submit">
              {{ dico?.BASIC_SEARCH || "BASIC_SEARCH" }}
            </button>
          </div>
          <div class="col-md-3 col-sm-6 col-lg-1 mt-4">
            <button
              class="button-class"
              type="button"
              *ngIf="hasPerm('admAddData')"
              (click)="openAddCoverDialog()"
            >
              {{ dico?.dico_add || "dico_add" }}
            </button>
          </div>
          <div class="col-md-3 col-sm-6 col-lg-1 mt-4">
            <button
              class="button-class"
              type="button"
              (click)="updateCarInfo()"
              *ngIf="hasPerm('admUpdateData')"
            >
              {{ dico?.dico_save || "dico_save" }}
            </button>
          </div>
        </div>
      </form>

      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th scope="col">{{ dico?.dico_id || "dico_id" }}</th>
              <th scope="col">{{ dico?.dico_code || "dico_code" }}</th>
              <th scope="col">
                {{ dico?.dico_description || "dico_description" }}
              </th>
              <th scope="col">{{ dico?.dico_type || "dico_type" }}</th>
              <th scope="col">
                {{ dico?.dico_sys_created_date || "dico_sys_created_date" }}
              </th>
              <th scope="col">
                {{ dico?.dico_sys_created_by || "dico_sys_created_by" }}
              </th>
              <th scope="col">
                {{ dico?.dico_sys_updated_date || "dico_sys_updated_date" }}
              </th>
              <th scope="col">
                {{ dico?.dico_sys_updated_date || "dico_sys_updated_date" }}
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody
            *ngIf="carCover?.length! > 0; else noData"
            (click)="highlightRow($event)"
          >
            <tr
              *ngFor="let cover of carCover; trackBy: trackCoverById"
              (click)="showCoverRisk(cover)"
            >
              <td>{{ cover.id }}</td>
              <td
                contenteditable="true"
                (blur)="onTdBlur($event, cover, 'code')"
              >
                {{ cover.code }}
              </td>
              <td
                contenteditable="true"
                (blur)="onTdBlur($event, cover, 'description')"
              >
                {{ cover.description }}
              </td>
              <td>
                <select
                  required
                  [(ngModel)]="cover.type"
                  style="width: 150px"
                  class="select-class"
                  (change)="onDropdownChange($event, cover, 'type')"
                >
                  <option *ngFor="let type of coverTypes" [value]="type.code">
                    {{ type.description }}
                  </option>
                </select>
              </td>

              <td>
                {{
                  cover.sysCreatedDate
                    | date : dateFormat("reportDateTimeFormat")
                }}
              </td>
              <td>{{ cover.sysCreatedBy }}</td>
              <td>
                {{
                  cover.sysUpdatedDate
                    | date : dateFormat("reportDateTimeFormat")
                }}
              </td>
              <td>{{ cover.sysUpdatedBy }}</td>

              <td>
                <mat-icon
                  *ngIf="hasPerm('admDeleteData')"
                  (click)="deleteCarCover(cover.id!)"
                  >delete</mat-icon
                >
              </td>
            </tr>
          </tbody>
        </table>
        <ng-template #noData>
          <tr>
            <td colspan="10">
              {{ dico?.BASIC_NO_DATA_TO_DISPLAY || "BASIC_NO_DATA_TO_DISPLAY" }}
            </td>
          </tr>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showRiskCover">
  <app-car-risk-cover
    [selectedCover]="selectedCover"
    [dico]="dico"
  ></app-car-risk-cover>
</div>
