<div class="h3-header">
  <h3>
    {{ dico?.dico_cars_cover || "dico_cars_cover" }}
    <button
      type="button"
      (click)="exportToExcel()"
      class="export-excel btn btn-primary"
    >
      {{ dico?.dico_export_to_excel || "dico_export_to_excel" }}
    </button>
  </h3>
</div>
<div class="select-container">
  <span>{{ dico?.dico_company || "dico_company" }}:</span>
  <select
    id="bodyTypeNew"
    name="bodyTypeNew"
    required
    class="company-select select-class"
    [(ngModel)]="company"
    [disabled]="companies?.length! <= 1"
  >
    <option *ngFor="let company of companies" [value]="company.companyId">
      {{ company.companyName }}
    </option>
  </select>
</div>
<div class="admin-container container-fluid">
  <div class="user-inputs">
    <form (ngSubmit)="searchCarCover()">
      <label>{{ dico?.dico_code || "dico_code" }}:</label>
      <input type="text" id="code" name="code" [(ngModel)]="code" />

      <label>{{ dico?.dico_description || "dico_description" }}:</label>
      <input
        type="text"
        id="description"
        name="description"
        [(ngModel)]="description"
      />

      <button class="btn btn-primary" type="submit">
        {{ dico?.BASIC_SEARCH || "BASIC_SEARCH" }}
      </button>
    </form>
    <div class="btn-group">
      <button
        class="btn btn-primary"
        type="button"
        (click)="openAddCoverDialog()"
      >
        {{ dico?.dico_add_cover || "dico_add_cover" }}
      </button>

      <button
        class="btn btn-primary"
        type="button"
        style="margin-left: 8px"
        (click)="updateCarInfo()"
      >
        {{ dico?.dico_update_cover || "dico_update_cover" }}
      </button>
    </div>
  </div>

  <table class="table table-responsive-sm">
    <thead>
      <tr>
        <th scope="col">{{ dico?.dico_id || "dico_id" }}</th>
        <th scope="col">{{ dico?.dico_code || "dico_code" }}</th>
        <th scope="col">{{ dico?.dico_description || "dico_description" }}</th>
        <th scope="col">{{ dico?.dico_type || "dico_type" }}</th>
        <th scope="col">
          {{ dico?.dico_sys_created_date || "dico_sys_created_date" }}
        </th>
        <th scope="col">
          {{ dico?.dico_sys_created_by || "dico_sys_created_by" }}
        </th>
        <th scope="col">
          {{ dico?.dico_sys_updated_date || "dico_sys_updated_date" }}
        </th>
        <th scope="col">
          {{ dico?.dico_sys_updated_date || "dico_sys_updated_date" }}
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody
      *ngIf="carCover?.length! > 0; else noData"
      (click)="highlightRow($event)"
    >
      <tr *ngFor="let cover of carCover; trackBy: trackCoverById">
        <td>{{ cover.id }}</td>
        <td contenteditable="true" (blur)="onTdBlur($event, cover, 'code')">
          {{ cover.code }}
        </td>
        <td
          contenteditable="true"
          (blur)="onTdBlur($event, cover, 'description')"
        >
          {{ cover.description }}
        </td>
        <td>
          <select
            required
            [(ngModel)]="cover.type"
            style="width: 150px"
            class="select-class"
            (change)="onDropdownChange($event, cover, 'type')"
          >
            <option *ngFor="let type of coverTypes" [value]="type.code">
              {{ type.description }}
            </option>
          </select>
        </td>

        <td>
          {{ cover.sysCreatedDate | date : dateFormat("reportDateTimeFormat") }}
        </td>
        <td>{{ cover.sysCreatedBy }}</td>
        <td>
          {{ cover.sysUpdatedDate | date : dateFormat("reportDateTimeFormat") }}
        </td>
        <td>{{ cover.sysUpdatedBy }}</td>

        <td>
          <mat-icon (click)="deleteCarCover(cover.id!)">delete</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #noData>
    <tr>
      <td colspan="5">
        {{ dico?.BASIC_NO_DATA_TO_DISPLAY || "BASIC_NO_DATA_TO_DISPLAY" }}
      </td>
    </tr>
  </ng-template>
</div>
