<h3 class="h3-header">Cars Cover</h3>
<button type="button" style="margin: 6px 10px" (click)="exportToExcel()">
  Export to Excel
</button>
<div class="select-container">
  <span>Company:</span>
  <select
    id="bodyTypeNew"
    name="bodyTypeNew"
    required
    class="company-select"
    [(ngModel)]="company"
    [disabled]="companies?.length! <= 1"
  >
    <option *ngFor="let company of companies" [value]="company.companyId">
      {{ company.companyName }}
    </option>
  </select>
</div>

<div class="form-tab">
  <div class="admin-container">
    <div class="user-inputs">
      <form (ngSubmit)="searchCarCover()">
        <label for="code">Code:</label>
        <input type="text" id="code" name="code" [(ngModel)]="code" />

        <label for="description">Description:</label>
        <input
          type="text"
          id="description"
          name="description"
          [(ngModel)]="description"
        />

        <button type="submit">Search</button>
      </form>
      <div class="admin-button">
        <button type="button" (click)="openAddCoverDialog()">Add Cover</button>

        <button
          type="button"
          style="margin-left: 8px"
          (click)="updateCarInfo()"
        >
          Update Cover
        </button>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <table id="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Code</th>
              <th>Description</th>
              <th>Type</th>
              <th>Sys_Created_Date</th>
              <th>Sys_Created_By</th>
              <th>Sys_Updated_Date</th>
              <th>Sys_Updated_By</th>
              <th></th>
            </tr>
          </thead>
          <tbody
            *ngIf="carCover?.length! > 0; else noData"
            (click)="highlightRow($event)"
          >
            <tr *ngFor="let cover of carCover">
              <td>{{ cover.id }}</td>
              <td
                contenteditable="true"
                (blur)="onTdBlur($event, cover, 'code')"
              >
                {{ cover.code }}
              </td>
              <td
                contenteditable="true"
                (blur)="onTdBlur($event, cover, 'description')"
              >
                {{ cover.description }}
              </td>
              <td>
                <select
                  id="type"
                  name="type"
                  required
                  [(ngModel)]="cover.type"
                  style="width: 150px"
                  (change)="onDropdownChange($event, cover, 'type')"
                >
                  <option *ngFor="let type of coverTypes" [value]="type.code">
                    {{ type.description }}
                  </option>
                </select>
              </td>

              <td>{{ cover.sysCreatedDate | date : reportDateTimeFormat }}</td>
              <td>{{ cover.sysCreatedBy }}</td>
              <td>{{ cover.sysUpdatedDate | date : reportDateTimeFormat }}</td>
              <td>{{ cover.sysUpdatedBy }}</td>

              <td>
                <mat-icon (click)="deleteCarCover(cover.id!)">delete</mat-icon>
              </td>
            </tr>
          </tbody>
        </table>
        <ng-template #noData>
          <tr>
            <td colspan="5">No data to display</td>
          </tr>
        </ng-template>
      </div>
    </div>
  </div>
</div>
