<h3 class="h3-header">Cars Clients</h3>
<div class="form-tab">
  <div class="admin-container">
    <div class="row">
      <div class="user-inputs">
        <form>
          <label for="firstName">First Name:</label>
          <input type="text" id="firstName" name="firstName" />

          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" name="lastName" />

          <button type="submit">Search</button>
        </form>
        <div class="admin-button">
          <button type="button">Add Client</button>
          <!-- <button type="button" style="margin-left: 8px">Update Car</button> -->
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Insurance ID</th>
              <th>NUM_1</th>
              <th>NUM_2</th>
              <th>Family name</th>
              <th>Prefix family</th>
              <th>First Name</th>
              <th>Father Name</th>
              <th>Bus Phone</th>
              <th>Mobile Phone</th>
              <th>Titre</th>
              <th>Gender</th>
              <th>Broker</th>
              <th>INDIC1</th>
              <th>INDIC2</th>
              <th>VIP</th>
              <th>DESCRIPTION</th>
              <th>SYS CREATED DATE</th>
              <th>SYS CREATED BY</th>
              <th>SYS UPDATED DATE</th>
              <th>SYS UPDATED BY</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><img class="car-logo" /></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <mat-icon>delete</mat-icon>
              </td>
            </tr>
          </tbody>
          <ng-template #noData>
            <tr>
              <td colspan="5">No data to display</td>
            </tr>
          </ng-template>
        </table>
      </div>
    </div>
  </div>
</div>
