<div class="h3-header m-3">
  <h3>
    {{ dico?.dico_cars_clients || "dico_cars_clients" }}

    <button
      type="button"
      (click)="exportToExcel()"
      *ngIf="hasPerm('admExportToFile')"
      class="export-excel btn btn-primary"
    >
      {{ dico?.dico_export_to_excel || "dico_export_to_excel" }}
    </button>
  </h3>
</div>
<div class="container-fluid d-flex justify-content-end align-items-center">
  <label>{{ dico?.dico_company || "dico_company" }}:</label>
  <select
    id="company"
    name="company"
    required
    class="company-select select-class"
    [(ngModel)]="company"
    [disabled]="companies?.length! <= 1"
  >
    <option *ngFor="let company of companies" [value]="company.companyId">
      {{ company.companyName }}
    </option>
  </select>
</div>

<app-spinner *ngIf="isLoading"></app-spinner>
<div class="container-fluid mt-3">
  <div class="card" style="max-height: 300px; overflow: auto">
    <div class="card-body">
      <form (ngSubmit)="searchCarClients()">
        <div class="row p-2">
          <div class="col-md-4 col-sm-6 col-lg-2">
            <label class="form-label" for="firstName"
              >{{ dico?.dico_first_name || "dico_first_name" }}:</label
            >
            <input
              type="text"
              id="firstName"
              name="firstName"
              class="form-control"
              [(ngModel)]="fName"
            />
          </div>
          <div class="col-md-4 col-sm-6 col-lg-2">
            <label class="form-label" for="lastName"
              >{{ dico?.dico_last_name || "dico_last_name" }}:</label
            >
            <input
              type="text"
              id="lastName"
              name="lastName"
              class="form-control"
              [(ngModel)]="lName"
            />
          </div>
          <div class="col-md-4 col-sm-6 col-lg-2">
            <label class="form-label" for="num1"
              >{{ dico?.dico_num_1 || "dico_num_1" }}:</label
            >
            <input
              type="text"
              id="num1"
              name="num1"
              [(ngModel)]="num1"
              class="form-control"
            />
          </div>
          <div class="col-md-4 col-sm-6 col-lg-2">
            <label class="form-label" for="description"
              >{{ dico?.dico_description || "dico_description" }}:</label
            >
            <input
              type="text"
              id="description"
              name="description"
              class="form-control"
              [(ngModel)]="description"
            />
          </div>
          <div class="col-md-3 col-sm-6 col-lg-1 mt-4">
            <button type="submit" class="button-class">
              {{ dico?.BASIC_SEARCH || "BASIC_SEARCH" }}
            </button>
          </div>
          <div class="col-md-3 col-sm-6 col-lg-1 mt-4">
            <button
              type="button"
              class="button-class"
              (click)="openAddClientDialog()"
              *ngIf="hasPerm('admAddData')"
            >
              {{ dico?.dico_add_client || "dico_add_client" }}
            </button>
          </div>
          <div class="col-md-3 col-sm-6 col-lg-1 mt-4">
            <button
              class="button-class"
              type="button"
              (click)="updateCarClient()"
              *ngIf="hasPerm('admUpdateData')"
            >
              {{ dico?.BASIC_SAVE || "BASIC_SAVE" }}
            </button>
          </div>
        </div>
      </form>

      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th>{{ dico?.dico_id || "dico_id" }}</th>
              <th>{{ dico?.dico_num_1 || "dico_num_1" }}</th>
              <th>{{ dico?.dico_num_2 || "dico_num_2" }}</th>
              <th>{{ dico?.dico_family_name || "dico_family_name" }}</th>
              <th>{{ dico?.dico_prefix_fam || "dico_prefix_fam" }}</th>
              <th>{{ dico?.dico_first_name || "dico_first_name" }}</th>
              <th>{{ dico?.dico_father_name || "dico_father_name" }}</th>
              <th>{{ dico?.dico_bus_phone || "dico_bus_phone" }}</th>
              <th>{{ dico?.dico_mobile_phone || "dico_mobile_phone" }}</th>
              <th>{{ dico?.dico_title || "dico_title" }}</th>
              <th>{{ dico?.dico_gender || "dico_gender" }}</th>
              <th>{{ dico?.dico_broker || "dico_broker" }}</th>
              <th>{{ dico?.dico_indic1 || "dico_indic1" }}</th>
              <th>{{ dico?.dico_indic2 || "dico_indic2" }}</th>
              <th>{{ dico?.dico_vip || "dico_vip" }}</th>
              <th>{{ dico?.dico_description || "dico_description" }}</th>
              <th>
                {{ dico?.dico_sys_created_date || "dico_sys_created_date" }}
              </th>
              <th>{{ dico?.dico_sys_created_by || "dico_sys_created_by" }}</th>
              <th>
                {{ dico?.dico_sys_updated_date || "dico_sys_updated_date" }}
              </th>
              <th>{{ dico?.dico_sys_updated_by || "dico_sys_updated_by" }}</th>
              <th></th>
            </tr>
          </thead>
          <tbody
            *ngIf="carClients?.length! > 0; else noData"
            (click)="highlightRow($event)"
          >
            <tr *ngFor="let client of carClients; trackBy: trackClientById">
              <td>{{ client.id }}</td>
              <td
                contenteditable="true"
                (blur)="onTdBlur($event, client, 'num1')"
              >
                {{ client.num1 }}
              </td>
              <td
                contenteditable="true"
                (blur)="onTdBlur($event, client, 'num2')"
              >
                {{ client.num2 }}
              </td>
              <td
                contenteditable="true"
                (blur)="onTdBlur($event, client, 'lastName')"
              >
                {{ client.lastName }}
              </td>
              <td
                contenteditable="true"
                (blur)="onTdBlur($event, client, 'prefixFamily')"
              >
                {{ client.prefixFamily }}
              </td>
              <td
                contenteditable="true"
                (blur)="onTdBlur($event, client, 'firstName')"
              >
                {{ client.firstName }}
              </td>
              <td
                contenteditable="true"
                (blur)="onTdBlur($event, client, 'fatherName')"
              >
                {{ client.fatherName }}
              </td>
              <td
                contenteditable="true"
                (blur)="onTdBlur($event, client, 'busPhone')"
              >
                {{ client.busPhone }}
              </td>
              <td
                contenteditable="true"
                (blur)="onTdBlur($event, client, 'mobilePhone')"
              >
                {{ client.mobilePhone }}
              </td>
              <td>
                <select
                  class="select-class"
                  [(ngModel)]="client.titre"
                  (change)="onDropdownChange($event, client, 'titre')"
                >
                  <option [value]="title.code" *ngFor="let title of titleLov">
                    {{ title.description }}
                  </option>
                </select>
              </td>
              <td>
                <select
                  class="select-class"
                  [(ngModel)]="client.gender"
                  (change)="onDropdownChange($event, client, 'gender')"
                >
                  <option
                    [value]="gender.code"
                    *ngFor="let gender of genderList"
                  >
                    {{ gender.description }}
                  </option>
                </select>
              </td>
              <td
                contenteditable="true"
                (blur)="onTdBlur($event, client, 'broker')"
              >
                {{ client.broker }}
              </td>
              <td
                contenteditable="true"
                (blur)="onTdBlur($event, client, 'indic1')"
              >
                {{ client.indic1 }}
              </td>
              <td
                contenteditable="true"
                (blur)="onTdBlur($event, client, 'indic2')"
              >
                {{ client.indic2 }}
              </td>
              <td
                contenteditable="true"
                (blur)="onTdBlur($event, client, 'clientVip')"
              >
                {{ client.clientVip }}
              </td>
              <td
                contenteditable="true"
                (blur)="onTdBlur($event, client, 'description')"
              >
                {{ client.description }}
              </td>
              <td>
                {{
                  client.sysCreatedDate
                    | date : dateFormat("reportDateTimeFormat")
                }}
              </td>
              <td>{{ client.sysCreatedBy }}</td>
              <td>
                {{
                  client.sysUpdatedDate
                    | date : dateFormat("reportDateTimeFormat")
                }}
              </td>
              <td>{{ client.sysUpdatedBy }}</td>

              <td>
                <mat-icon
                  *ngIf="hasPerm('admDeleteData')"
                  (click)="deleteCarCLient(client.id!)"
                  >delete</mat-icon
                >
              </td>
            </tr>
          </tbody>
          <ng-template #noData>
            <tr>
              <td colspan="25">
                {{
                  dico?.BASIC_NO_DATA_TO_DISPLAY || "BASIC_NO_DATA_TO_DISPLAY"
                }}
              </td>
            </tr>
          </ng-template>
        </table>
      </div>
    </div>
  </div>
</div>
