<div class="form-tab">
  <div class="admin-container">
    <div class="row">
      <div class="admin-button">
        <button type="button">Add car shape</button>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <table>
          <thead>
            <tr>
              <th>Car shape id</th>
              <th>Shape Code</th>
              <th>Shape description</th>
              <th>Car trademark Id</th>
              <th>Shape logo</th>
              <th>sysCreatedDate</th>
              <th>sysCreatedBy</th>
              <th>sysUpdatedDate</th>
              <th>sysUpdatedBy</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><img class="car-logo" /></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <mat-icon>delete</mat-icon>
              </td>
              <td>
                <mat-icon>edit</mat-icon>
              </td>
            </tr>
          </tbody>
          <ng-template #noData>
            <tr>
              <td colspan="5">No data to display</td>
            </tr>
          </ng-template>
        </table>
      </div>
    </div>
  </div>
</div>
