<app-login-nav></app-login-nav>
<app-navbar
  [title]="navBarTitle"
  [showDataEntryButton]="false"
  [showBackBtn]="true"
>
</app-navbar>
<div class="top-container container-class">
  <div class="container-fluid">
    <div class="dialog-content">
      <div class="section">
        <div class="panel">
          <div class="column">
            <div class="panel-item">
              <label class="label-color">{{
                dico?.dico_pas_info || "dico_pas_info"
              }}</label>
              <p>{{ dataEntry?.notificationVisa }}</p>
            </div>
            <div class="panel-item">
              <label class="label-color">{{
                dico?.dico_related || "dico_related"
              }}</label>
              <p>{{ dataEntry?.lossTowRelated }}</p>
            </div>
          </div>
          <div class="column">
            <div class="panel-item">
              <label class="label-color">{{
                dico?.dico_accident_date || "dico_accident_date"
              }}</label>
              <p>
                {{
                  dataEntry?.lossTowLossDate
                    | date : dateFormat("reportDateTimeFormat")
                }}
              </p>
            </div>
            <div class="panel-item">
              <label class="label-color">{{
                dico?.dico_status || "dico_status"
              }}</label>
              <p>{{ dataEntry?.notificationsStatus }}</p>
            </div>
          </div>
          <div class="column">
            <div class="panel-item">
              <label class="label-color">{{
                dico?.dico_dispatch_address || "dico_dispatch_address"
              }}</label>
              <p>{{ dataEntry?.dico_dispatch_address }}</p>
            </div>
            <div class="panel-item">
              <label class="label-color">{{
                dico?.dico_accident_address || "dico_accident_address"
              }}</label>
              <p>{{ dataEntry?.distributionTownName }}</p>
            </div>
          </div>

          <div class="column">
            <div class="panel-item">
              <label class="label-color">{{
                dico?.dico_expert || "dico_expert"
              }}</label>
              <p>{{ dataEntry?.supplierExpertName }}</p>
            </div>
            <div class="panel-item">
              <label class="label-color">{{
                dico?.dico_claim_officer || "dico_claim_officer"
              }}</label>
              <p>{{ dataEntry?.claimOfficerFullName }}</p>
            </div>
          </div>
          <div class="column">
            <div class="panel-item">
              <img
                [src]="'data:image/jpeg;base64,' + dataEntry?.companyLogo"
                alt=""
                style="width: 60px"
                class="car-logo"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <app-data-entry-details
          [lossCarList]="selectedLossCar"
          [dico]="dico"
          *ngIf="showDataEntryDetails"
        ></app-data-entry-details>
        <app-bodily-injury
          [Injured]="selectedInjuredSequence"
          [dico]="dico"
          *ngIf="showBodilyInjury"
        ></app-bodily-injury>

        <app-material-damage
          [matDamage]="selectedMatDamage"
          [dico]="dico"
          *ngIf="showMatDamage"
        ></app-material-damage>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col">
            <div class="side-menu">
              <table class="table-bordered">
                <thead style="position: static">
                  <tr>
                    <th>
                      {{
                        dico?.dico_insured_third_party ||
                          "dico_insured_third_party"
                      }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let carLoss of lossCarList"
                    (click)="highlightRow($event)"
                  >
                    <td (click)="toggleDataEntryDetails(carLoss)">
                      <a class="label-link">
                        {{ carLoss?.carSequenceDescription }} -
                        {{ carLoss?.carPlate }}
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-bordered">
                <thead style="position: static">
                  <tr>
                    <th>{{ dico?.dico_injured || "dico_injured" }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let bodilyInjury of bodilyInjuryList"
                    (click)="highlightRow($event)"
                  >
                    <td (click)="toggleBodilyInjury(bodilyInjury)">
                      <a class="label-link"
                        >{{ dico?.dico_injured || "dico_injured" }}
                        {{ bodilyInjury.injuredSeq }} -
                        {{ bodilyInjury?.injuredFirstName }}
                        {{ bodilyInjury?.injuredFamily }}</a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-bordered">
                <thead style="position: static">
                  <tr>
                    <th>
                      {{ dico?.dico_material_damage || "dico_material_damage" }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let matDamage of materialDamageList"
                    (click)="highlightRow($event)"
                  >
                    <td (click)="toggleMaterialDamage(matDamage)">
                      <a class="label-link"
                        >{{
                          dico?.dico_material_damage || "dico_material_damage"
                        }}
                        {{ matDamage.matDamageSeq }}</a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
