<app-navbar [title]="navBarTitle"></app-navbar>

<div class="dialog-content">
  <div class="section">
    <div class="panel">
      <div class="column">
        <div class="panel-item">
          <label>PAS</label>
          <p>{{ dataEntry?.notificationVisa }}</p>
        </div>
        <div class="panel-item">
          <label>Related</label>
          <p>{{ dataEntry?.lossTowRelated }}</p>
        </div>
      </div>
      <div class="column">
        <div class="panel-item">
          <label>Accident Date</label>
          <p>{{ dataEntry?.lossTowLossDate }}</p>
        </div>
        <div class="panel-item">
          <label>Status</label>
          <p>{{ dataEntry?.notificationsStatus }}</p>
        </div>
      </div>
      <div class="column">
        <div class="panel-item">
          <label>Dispatch Address</label>
          <p>{{ dataEntry?.dico_dispatch_address }}</p>
        </div>
        <div class="panel-item">
          <label>Accident Address</label>
          <p>{{ dataEntry?.distributionTownName }}</p>
        </div>
      </div>

      <div class="column">
        <div class="panel-item">
          <label>Accident Address</label>
          <p>{{ dataEntry?.supplierExpertName }}</p>
        </div>
        <div class="panel-item">
          <label>Claims Officer</label>
          <p>{{ dataEntry?.claimOfficerFullName }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="panel">
      <div class="column">
        <div class="panel-item">
          <label>Claims Officer</label>
          <p>{{ dataEntry?.claimOfficerFullName }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
