<app-navbar [title]="navBarTitle"></app-navbar>

<div class="dialog-content">
  <div class="section">
    <div class="panel">
      <div class="column">
        <div class="panel-item">
          <label>PAS</label>
          <p>{{ dataEntry?.notificationVisa }}</p>
        </div>
        <div class="panel-item">
          <label>Branch</label>
          <p>TEST</p>
        </div>
        <div class="panel-item">
          <label>Branch</label>
          <p>TEST</p>
        </div>
      </div>
      <div class="column">
        <div class="panel-item">
          <label>Branch</label>
          <p>TEST</p>
        </div>
        <div class="panel-item">
          <label>Branch</label>
          <p>TEST</p>
        </div>
        <div class="panel-item">
          <label>Branch</label>
          <p>TEST</p>
        </div>
      </div>
    </div>
  </div>
</div>
