<div class="h3-header">
  <h3>
    {{ dico?.dico_car_approval_type || "dico_car_approval_type" }}

    <button
      type="button"
      (click)="exportToExcel()"
      class="export-excel btn btn-primary"
    >
      {{ dico?.dico_export_to_excel || "dico_export_to_excel" }}
    </button>
  </h3>
</div>
<div class="select-container" style="margin: 10px">
  <span> {{ dico?.dico_company || "dico_company" }}:</span>
  <select
    required
    class="company-select"
    [(ngModel)]="company"
    [disabled]="companies?.length! <= 1"
  >
    <option *ngFor="let company of companies" [value]="company.companyId">
      {{ company.companyName }}
    </option>
  </select>
</div>

<div class="form-tab">
  <div class="admin-container container-fluid" style="height: 350px">
    <app-spinner *ngIf="isLoading"></app-spinner>
    <div class="user-inputs">
      <form (ngSubmit)="searchCarAppType()">
        <button type="submit">
          {{ dico?.BASIC_REFRESH || "BASIC_REFRESH" }}
        </button>
      </form>
      <div class="admin-button">
        <button type="button" (click)="addApprovalTypeDialog()">
          {{ dico?.dico_add || "dico_add" }}
        </button>
        <button
          type="button"
          style="margin-left: 8px"
          (click)="updateCarApprovalType()"
        >
          {{ dico?.dico_save || "dico_save" }}
        </button>
      </div>
    </div>

    <table>
      <thead>
        <tr>
          <th>{{ dico?.dico_id || "dico_id" }}</th>
          <th>{{ dico?.dico_application_type || "dico_application_type" }}</th>
          <th>{{ dico?.dico_user_name || "dico_user_name" }}</th>
          <th>{{ dico?.dico_amount_from || "dico_amount_from" }}</th>
          <th>{{ dico?.dico_amount_to || "dico_amount_to" }}</th>
          <th>{{ dico?.dico_send_email || "dico_send_email" }}</th>
          <th>{{ dico?.dico_sys_created_date || "dico_sys_created_date" }}</th>
          <th>{{ dico?.dico_sys_created_by || "dico_sys_created_by" }}</th>
          <th>{{ dico?.dico_sys_updated_date || "dico_sys_updated_date" }}</th>
          <th>{{ dico?.dico_sys_updated_by || "dico_sys_updated_by" }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="carAppType?.length! > 0; else noData">
        <tr *ngFor="let carApp of carAppType" (click)="highlightRow($event)">
          <td>{{ carApp.id }}</td>
          <td
            contenteditable="true"
            (blur)="onTdBlur($event, carApp, 'applicationType')"
          >
            {{ carApp.applicationType }}
          </td>
          <td>{{ carApp.appUserId }}</td>
          <td
            contenteditable="true"
            (blur)="onTdBlur($event, carApp, 'amountFrom')"
          >
            {{ carApp.amountFrom }}
          </td>
          <td
            contenteditable="true"
            (blur)="onTdBlur($event, carApp, 'amountTo')"
          >
            {{ carApp.amountTo }}
          </td>
          <td>
            <input
              type="checkbox"
              name="email"
              id="email"
              [(ngModel)]="carApp.sendEmail"
              (change)="onDropdownChange($event, carApp, 'sendEmail')"
            />
          </td>
          <td>
            {{
              carApp.sysCreatedDate | date : dateFormat("reportDateTimeFormat")
            }}
          </td>
          <td>{{ carApp.sysCreatedBy }}</td>
          <td>
            {{
              carApp.sysUpdatedDate | date : dateFormat("reportDateTimeFormat")
            }}
          </td>
          <td>{{ carApp.sysUpdatedBy }}</td>

          <td>
            <mat-icon (click)="deleteApprovalType(carApp.id!)">delete</mat-icon>
          </td>
        </tr>
      </tbody>
      <ng-template #noData>
        <tr>
          <td colspan="5">
            {{ dico?.BASIC_NO_DATA_TO_DISPLAY || "BASIC_NO_DATA_TO_DISPLAY" }}
          </td>
        </tr>
      </ng-template>
    </table>
  </div>
</div>
