<h2 style="margin: 10px; font-size: large">
  {{ dico?.dico_create_no_data || "dico_create_no_data" }}
</h2>
<div class="grid-container panel-class-style">
  <form [formGroup]="myForm" (ngSubmit)="save()">
    <div class="p-3">
      <div class="panel row mb-3 container-class">
        <div class="col-md-2">
          <label for="noData">{{ dico?.dico_no_data || "dico_no_data" }}</label>
          <input
            type="checkbox"
            class="form-check-input ms-3"
            id="distributionNoDataBoolean"
            name="distributionNoDataBoolean"
            formControlName="distributionNoDataBoolean"
          />
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="type" class="form-label">{{
              dico?.dico_type || "dico_type"
            }}</label>
            <select
              name="distributionNoDataTypeId"
              id="distributionNoDataTypeId"
              class="form-select"
              formControlName="distributionNoDataTypeId"
            >
              <option *ngFor="let noData of noDataType" [value]="noData.code">
                {{ noData.description }}
              </option>
              <!-- Add more options as needed -->
            </select>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="distributionNoDataUser" class="form-label">{{
              dico?.dico_user || "dico_user"
            }}</label>
            <input
              type="text"
              class="form-control"
              id="distributionNoDataUser"
              name="distributionNoDataUser"
              formControlName="distributionNoDataUser"
            />
            <!-- Add validation messages here if needed -->
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label for="date" class="form-label">{{
              dico?.dico_date || "dico_date"
            }}</label>
            <input
              type="text"
              class="form-control"
              formControlName="distributionNoDataDate"
              id="distributionNoDataDate"
              name="distributionNoDataDate"
            />
            <!-- Add validation messages here if needed -->
          </div>
        </div>
      </div>
      <div class="panel row container-class">
        <div class="row mb-3">
          <div class="col-md-3 me-4">
            <label for="plateChar" class="form-label">{{
              dico?.dico_plate_char || "dico_plate_char"
            }}</label>
            <input
              type="text"
              class="form-control"
              id="distributionNoDataPlateB"
              name="distributionNoDataPlateB"
              formControlName="distributionNoDataPlateB"
            />
          </div>
          <div class="col-md-3">
            <label for="plate" class="form-label">{{
              dico?.dico_plate || "dico_plate"
            }}</label>
            <input
              type="text"
              class="form-control"
              id="distributionNoDataPlate"
              name="distributionNoDataPlate"
              formControlName="distributionNoDataPlate"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3 me-4">
            <label for="policy" class="form-label">{{
              dico?.dico_policy || "dico_policy"
            }}</label>
            <input
              type="text"
              class="form-control"
              id="distributionNoDataPolicy"
              name="distributionNoDataPolicy"
              formControlName="distributionNoDataPolicy"
            />
          </div>
          <div class="col-md-3 me-4">
            <label for="effDate" class="form-label">{{
              dico?.dico_effective_date || "dico_effective_date"
            }}</label>
            <input
              type="text"
              id="distributionNoDataEffDate"
              name="distributionNoDataEffDate"
              class="form-control"
              (bsValueChange)="changeDateFormat($event)"
              formControlName="distributionNoDataEffDate"
              bsDatepicker
              [bsConfig]="{
                dateInputFormat: 'DD/MM/YYYY',
                containerClass: 'theme-dark-blue',
                showWeekNumbers: false
              }"
            />
          </div>
          <div class="col-md-3">
            <label for="expDate" class="form-label">{{
              dico?.dico_expiry_date || "dico_expiry_date"
            }}</label>
            <input
              type="text"
              class="form-control"
              id="distributionNoDataExpDate"
              name="distributionNoDataExpDate"
              formControlName="distributionNoDataExpDate"
              (bsValueChange)="changeDateFormat2($event)"
              bsDatepicker
              [bsConfig]="{
                dateInputFormat: 'DD/MM/YYYY',
                containerClass: 'theme-dark-blue',
                showWeekNumbers: false
              }"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 me-4">
            <label for="name" class="form-label">{{
              dico?.dico_name || "dico_name"
            }}</label>
            <input
              type="text"
              class="form-control"
              id="distributionNoDataName"
              name="distributionNoDataName"
              formControlName="distributionNoDataName"
            />
          </div>
          <div class="col-md-3 me-4">
            <label for="carMake" class="form-label">{{
              dico?.dico_car_make || "dico_car_make"
            }}</label>
            <input
              type="text"
              class="form-control"
              id="distributionNoDataCarBrand"
              name="distributionNoDataCarBrand"
              formControlName="distributionNoDataCarBrand"
            />
          </div>
          <div class="col-md-3 me-4">
            <label for="broker" class="form-label">{{
              dico?.dico_broker || "dico_broker"
            }}</label>
            <input
              type="text"
              class="form-control"
              id="distributionNoDataBroker"
              name="distributionNoDataBroker"
              formControlName="distributionNoDataBroker"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="note" class="form-label">{{
              dico?.dico_note || "dico_note"
            }}</label>
            <textarea
              name="distributionNoDataRemarks"
              class="form-control"
              id="distributionNoDataRemarks"
              cols="0"
              rows="5"
              id="note"
              name="note"
              formControlName="distributionNoDataRemarks"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-20">
        <button type="submit" class="button-class" style="float: right">
          {{ dico?.dico_save || "dico_save" }}
        </button>
      </div>
    </div>
  </form>
</div>
