<h2 style="margin: 10px; font-size: large">Add Domain</h2>
<div class="dialog">
  <form (ngSubmit)="addNewDomain()">
    <label for="id">{{ dico?.dico_id || "dico_id" }}:</label>
    <input type="text" id="id" name="id" [(ngModel)]="id" />

    <label for="id">{{ dico?.dico_code || "dico_code" }}:</label>
    <input type="text" id="code" name="code" [(ngModel)]="code" />

    <label for="description"
      >{{ dico?.dico_description || "dico_description" }}:</label
    >
    <input type="text" name="description" [(ngModel)]="description" />

    <label for="preference_code"
      >{{ dico?.dico_preference_code || "dico_preference_code" }}:</label
    >
    <input type="text" name="preference_code" [(ngModel)]="preferenceCode" />

    <button type="submit">{{ dico?.dico_save || "dico_save" }}</button>
  </form>
</div>
