/* You can add global styles to this file, and also import other style files */
@import "~alertifyjs/build/css/alertify.min.css";
@import "~alertifyjs/build/css/themes/bootstrap.rtl.min.css";
@import "~@ng-select/ng-select/themes/default.theme.css";


html, body { height: 100%; }
body { margin: 0; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif }

.navbar-brand {
    color: white;
    font-weight: bold;
    /* margin-top: -15px; */
}



/* th {
  background-color: #f2f2f2;
  color: #444;
} */


/* .form-tab {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  margin-top: 25px;
} */

tr.selected {
  background-color: #e0f2db;
}

table {
  border-collapse: collapse;
  width: 100%;
  
}

th {
  background-color: #025696;
  color: white;
  padding: 5px;
  text-align: left;
  border: 1px solid black;
  font-size:medium ;
  font-weight:normal;
}
.car-logo {
  max-height: 70px;
  max-width: 70px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  height: auto;
  width: 50px;
}
.h3-header{
    margin: 0;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;

    padding: 10px;
    background-color: #025696;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
  
}
.preview-logo{
  height: 150px; width: 150px
}
.car-logo:hover {
  transform: scale(1.2);
}

.table-header {
  position: sticky;
  top: 0;
  background-color: white;
}

td {
  padding: 3px;
  text-align: left;
}
tr:hover {
  background-color: #f5f5f5;
}
tr:nth-child(even):hover {
  background-color: #e5e1e1c3;

}

 tr:nth-child(odd):hover {
  background-color: #a19e9ec3
}

tr:nth-child(even) {
  background-color: #fffafaae;
}

tr:nth-child(odd) {
  background-color: rgba(184, 181, 181, 0.634);
}

.admin-container {
  background-color: #f5f5f5;
  padding: 20px;
  margin: 20px;
  width: 1070px;
  border: 1px solid gray;
  height: 500px;
  overflow-y: scroll;
  overflow-x: scroll;
}
.admin-button {
  text-align: right;
  /* margin-top: 5px; */
  /* margin-right: 8px; */
}
.dialog {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.dialog label {
  display: block;
  margin-bottom: 10px;
}

.dialog input[type="text"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.dialog button {
  background-color: #1884d7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dialog button:hover {
  background-color: #4da9f0;
}
.dialog-container {
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  max-width: 600px;
  margin: 0 auto;
}
.dialog-header {
  background-color: #007bff;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.dialog-body {
  padding: 20px;
}
.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
.label {
  font-weight: bold;
  margin-bottom: 5px;
}
.input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
.upload-button {
  background-color: #007bff;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 20px;
}
.upload-button:hover {
  background-color: #0062cc;
}
.dialog-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.dialog-button {
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
}
.save-button {
  background-color: #007bff;
  color: #fff;
  margin-right: 10px;
}
.save-button:hover {
  background-color: #0062cc;
}
.cancel-button {
  background-color: #ddd;
  color: #555;
}
.cancel-button:hover {
  background-color: #ccc;
}
.logo-preview-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.car-logo {
  max-width: 200px;
}
.navbar {
    margin-top: 50px;
    margin-left: 2px;
    margin-right: 10px;
    background-color: #0674CB;

}
.user-inputs {
  display: flex;
  justify-content:space-around;
  margin-bottom: 10px;
  
}

.user-inputs label {
  margin-right: 5px;
}

.user-inputs input {
  margin-right: 5px;
}

.user-inputs button {
  background-color: #1884d7;
  color: white;
  border: none;
  padding: 5px 16px;
}

 button {
  background-color: #1884d7;
  color: white;
  border: none;
  padding: 5px 16px;
}
 button:hover {
  background-color: #278bd8;
}
.Background {
  background-color: #e7e7e7;
  height: 100%

}

@media(max-width:1300px) {
  .user-inputs input {
    margin: 5px;

  }
  .user-inputs {
    flex: 0 0 50%;
  }
  .admin-button {
    text-align: right;
    margin-top: 5px;
    margin-right: 5px;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .admin-button button {
    display: block;
    margin: 5px ;
  }
}

@media (max-width: 768px) {
  .admin-container {
    margin: 10px;
    width: 100%;
    height: auto;
    overflow-y: visible;
    overflow-x: visible;
    
  }
  .user-inputs input {
    margin: 5px;
  }
  .user-inputs {
    flex: 0 0 50%;

  }
  .admin-button {
    text-align: right;
    margin-top: 5px;
    margin-right: 5px;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .admin-button button {
    display: block;
    margin: 5px ;
  }

  table {
    display: block;
    overflow-x: auto;

  }
  
  tr {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    vertical-align: top;
  }
  
  td {
    display: block;
    width: 100%;
    text-align: left;
    padding: 10px;
  }
  th {
    display: none;
  }
  td::before {
    content: attr(data-label);
    font-weight: bold;
    margin-right: 10px;
  }
}

.btn {
    color: black;
    font-weight: bold;
    font-style: italic;
}
/* 
.DateTime{
    margin-left: 1150px;
    margin-top: -30px;
} */


button.is-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}



/* .rounded{
    font-weight: bold;
    color: black;
} */


.pagination-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
  }
  
  .page-size-wrapper {
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 14px;
  }
  
  .page-size-wrapper label {
    margin-right: 10px;
  }
  
  .paginator-wrapper {
    padding: 0 10px;
    margin-top: 10px;
  }
  
  .pagination-previous,
  .pagination-next,
  .pagination-page,
  .pagination-first,
  .pagination-last {
    margin: 0 5px;
    padding: 3px 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
  }
  
  .pagination-previous,
  .pagination-next {
    font-weight: bold;
  }
  
  .pagination-page.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  .pagination-page.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  #max-size-select {
    border-radius: 3px;
  }
  
  #max-size-select option:checked {
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
  }