/* You can add global styles to this file, and also import other style files */
@import "~alertifyjs/build/css/alertify.min.css";
@import "~alertifyjs/build/css/themes/bootstrap.rtl.min.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

.navbar-brand {
    color: white;
    font-weight: bold;
    /* margin-top: -15px; */
}

tr.selected {
  background-color: #e0f2db;
}


.navbar {
    margin-top: 50px;
    margin-left: 2px;
    margin-right: 10px;
    background-color: #0674CB;

}

.Background {
    background-color: #e7e7e7;
    height: 100vh;
}

.btn {
    color: black;
    font-weight: bold;
    font-style: italic;
}
/* 
.DateTime{
    margin-left: 1150px;
    margin-top: -30px;
} */

.row{
    background-color: rgb(237, 243, 245);
    /* width: 270px; */
    /* height: fit-content; */
}

.col{
    margin-top: 20px;
    margin-left: 10px;
    font-weight: bold;
}

.rounded{
    font-weight: bold;
    color: black;
}


.pagination-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
  }
  
  .page-size-wrapper {
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 14px;
  }
  
  .page-size-wrapper label {
    margin-right: 10px;
  }
  
  .paginator-wrapper {
    padding: 0 10px;
    margin-top: 10px;
  }
  
  .pagination-previous,
  .pagination-next,
  .pagination-page,
  .pagination-first,
  .pagination-last {
    margin: 0 5px;
    padding: 3px 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
  }
  
  .pagination-previous,
  .pagination-next {
    font-weight: bold;
  }
  
  .pagination-page.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  .pagination-page.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  #max-size-select {
    border-radius: 3px;
  }
  
  #max-size-select option:checked {
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
  }