<div class="h3-header">
  <h3>
    {{ dico?.dico_car_brand_Matching || "dico_car_brand_Matching" }}

    <button
      type="button"
      (click)="exportToExcel()"
      *ngIf="hasPerm('admExportToFile')"
      class="export-excel btn btn-primary"
    >
      {{ dico?.dico_export_to_excel || "dico_export_to_excel" }}
    </button>
  </h3>
</div>
<div class="admin-container container-fluid" style="height: 250px">
  <app-spinner *ngIf="isLoading"></app-spinner>
  <div class="user-inputs">
    <form (ngSubmit)="searchCarModel()">
      <label>{{ dico?.dico_company || "dico_company" }}:</label>
      <select
        id="company"
        name="company"
        required
        class="select-class"
        [(ngModel)]="company"
        [disabled]="companies?.length! <= 1"
      >
        <option *ngFor="let company of companies" [value]="company.companyId">
          {{ company.companyName }}
        </option>
      </select>

      <label for="show">{{ dico?.dico_show || "dico_show" }}:</label>
      <select
        id="show"
        name="show"
        [(ngModel)]="selectedShow"
        class="select-class"
      >
        <option *ngFor="let show of ShowOptions" [value]="show">
          {{ show }}
        </option>
      </select>

      <label for="makeCode"
        >{{ dico?.dico_make_code || "dico_make_code" }}:</label
      >
      <input
        type="text"
        id="makeCode"
        name="makeCode"
        [(ngModel)]="makeCode"
        class="select-class"
      />

      <label for="modelName"
        >{{ dico?.dico_model_name || "dico_model_name" }}:</label
      >
      <input
        type="text"
        id="modelName"
        name="modelName"
        [(ngModel)]="modelName"
        class="select-class"
      />

      <button type="submit">
        {{ dico?.BASIC_SEARCH || "BASIC_SEARCH" }}
      </button>
    </form>
    <div class="admin-button">
      <button type="button" *ngIf="hasPerm('admAddData')">
        {{ dico?.dico_add_car || "dico_add_car" }}
      </button>
      <button
        type="button"
        style="margin-left: 8px"
        *ngIf="hasPerm('admUpdateData')"
      >
        Update Car
      </button>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>{{ dico?.dico_id || "dico_id" }}</th>
        <!-- <th>{{ dico?.dico_insurance_id || "dico_insurance_id" }}</th> -->
        <th>
          {{ dico?.dico_brand_id || "dico_brand_id" }}
        </th>
        <th>{{ dico?.dico_ins_make_code || "dico_ins_make_code" }}</th>
        <th>{{ dico?.dico_trademark_id || "dico_trademark_id" }}</th>
        <th>{{ dico?.dico_ins_model_code || "dico_ins_model_code" }}</th>
        <th>{{ dico?.dico_model_name || "dico_model_name" }}</th>
        <th>
          {{ dico?.dico_sys_created_date || "dico_sys_created_date" }}
        </th>
        <th>{{ dico?.dico_sys_created_by || "dico_sys_created_by" }}</th>
        <th>
          {{ dico?.dico_sys_updated_date || "dico_sys_updated_date" }}
        </th>
        <th>{{ dico?.dico_sys_updated_by || "dico_sys_updated_by" }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody
      (click)="highlightRow($event)"
      *ngIf="carModelMatch?.length! > 0; else noData"
    >
      <tr *ngFor="let cars of carModelMatch; trackBy: trackByBrandId">
        <td>{{ cars.dtId }}</td>
        <!-- <td>{{ cars.insId }}</td> -->
        <td>{{ cars.brandId }}</td>
        <td>{{ cars.insMakeCode }}</td>
        <td>{{ cars.trademarkId }}</td>
        <td>{{ cars.insModelCode }}</td>
        <td>{{ cars.modelName }}</td>
        <td>
          {{ cars.sysCreatedDate | date : dateFormat("reportDateTimeFormat") }}
        </td>
        <td>{{ cars.sysCreatedBy }}</td>
        <td>
          {{ cars.sysUpdatedDate | date : dateFormat("reportDateTimeFormat") }}
        </td>
        <td>{{ cars.sysUpdatedBy }}</td>

        <td>
          <mat-icon *ngIf="hasPerm('admDeleteData')">delete</mat-icon>
        </td>
        <!-- <td>
          <mat-icon >edit</mat-icon>
        </td> -->
      </tr>
    </tbody>
    <ng-template #noData>
      <tr>
        <td colspan="9">
          {{ dico?.BASIC_NO_DATA_TO_DISPLAY || "BASIC_NO_DATA_TO_DISPLAY" }}
        </td>
      </tr>
    </ng-template>
  </table>
</div>
