<div class="h3-header">
  <h3>
    {{ dico?.dico_car_brand_Matching || "dico_car_brand_Matching" }}

    <button
      type="button"
      (click)="exportToExcel()"
      *ngIf="hasPerm('admExportToFile')"
      class="export-excel btn btn-primary"
    >
      {{ dico?.dico_export_to_excel || "dico_export_to_excel" }}
    </button>
  </h3>
</div>
<div class="select-container">
  <span>{{ dico?.dico_company || "dico_company" }}:</span>
  <select
    id="bodyTypeNew"
    name="bodyTypeNew"
    required
    class="company-select select-class"
    [(ngModel)]="company"
    [disabled]="companies?.length! <= 1"
  >
    <option *ngFor="let company of companies" [value]="company.companyId">
      {{ company.companyName }}
    </option>
  </select>
</div>
<div class="admin-container container-fluid" style="height: 250px">
  <app-spinner *ngIf="isLoading"></app-spinner>
  <div class="user-inputs">
    <form (ngSubmit)="searchCarModel()">
      <label for="makeCode"
        >{{ dico?.dico_make_code || "dico_make_code" }}:</label
      >
      <input type="text" id="makeCode" name="makeCode" [(ngModel)]="makeCode" />

      <label for="modelName"
        >{{ dico?.dico_model_name || "dico_model_name" }}:</label
      >
      <input
        type="text"
        id="modelName"
        name="modelName"
        [(ngModel)]="modelName"
      />
      <label for="show"
        >{{ dico?.dico_show || "dico_show" }}
        <span class="required">*</span>:</label
      >
      <select
        id="show"
        name="show"
        [(ngModel)]="selectedShow"
        class="select-class"
        style="margin-right: 10px"
      >
        <option *ngFor="let show of showOptions" [value]="show.code">
          {{ show.description }}
        </option>
      </select>

      <button type="submit">
        {{ dico?.BASIC_SEARCH || "BASIC_SEARCH" }}
      </button>

      <input
        type="text"
        class="select-class"
        name="datePicker"
        id="datePicker"
        bsDatepicker
        style="margin-left: 5px"
        [(ngModel)]="date"
        [bsConfig]="{
          dateInputFormat: 'DD/MM/YYYY',
          containerClass: 'theme-dark-blue'
        }"
      />
      <button type="button" (click)="UpdateSerialBrand()">
        {{ dico?.dico_run_match || "dico_run_match" }}
      </button>

      <!-- 
      <input
        class="select-class"
        style="margin-left: 10px"
        type="date"
        id="date"
        name="date"
        [(ngModel)]="date"
      /> -->
    </form>
    <div class="admin-button">
      <button
        type="button"
        *ngIf="hasPerm('admAddData')"
        (click)="openAddBrandDialog()"
      >
        {{ dico?.dico_add || "dico_add" }}
      </button>
      <button
        type="button"
        style="margin-left: 8px"
        *ngIf="hasPerm('admUpdateData')"
        (click)="updateProductReserve()"
      >
        {{ dico?.dico_save || "dico_save" }}
      </button>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>{{ dico?.dico_id || "dico_id" }}</th>
        <th>{{ dico?.dico_insurance || "dico_insurance" }}</th>
        <th>
          {{ dico?.dico_brand_id || "dico_brand_id" }}
        </th>
        <th>{{ dico?.dico_make_code || "dico_make_code" }}</th>
        <th>{{ dico?.dico_trademark_id || "dico_trademark_id" }}</th>
        <th>{{ dico?.dico_model_code || "dico_model_code" }}</th>
        <th>{{ dico?.dico_model_name || "dico_model_name" }}</th>
        <th>
          {{ dico?.dico_sys_created_date || "dico_sys_created_date" }}
        </th>
        <th>{{ dico?.dico_sys_created_by || "dico_sys_created_by" }}</th>
        <th>
          {{ dico?.dico_sys_updated_date || "dico_sys_updated_date" }}
        </th>
        <th>{{ dico?.dico_sys_updated_by || "dico_sys_updated_by" }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody
      (click)="highlightRow($event)"
      *ngIf="carModelMatch?.length! > 0; else noData"
    >
      <tr
        *ngFor="let cars of carModelMatch; trackBy: trackByBrandId"
        (click)="showCarsPolicyCar(cars)"
      >
        <td>{{ cars.dtId }}</td>
        <td>
          <select
            id="company"
            name="company"
            required
            class="company-select select-class"
            [(ngModel)]="cars.insId"
            [disabled]="companies?.length! <= 1"
            (ngModelChange)="onDropdownChange($event, cars, 'insId')"
          >
            <option
              *ngFor="let company of companies"
              [value]="company.companyId"
            >
              {{ company.companyName }}
            </option>
          </select>
        </td>
        <td
          contenteditable="true"
          (dblclick)="onTdDoubleClickBrandId(cars)"
          (blur)="onTdBlur($event, cars, 'brandId')"
        >
          {{ cars.brandId }}
        </td>
        <td
          contenteditable="true"
          (blur)="onTdBlur($event, cars, 'insMakeCode')"
        >
          {{ cars.insMakeCode }}
        </td>
        <td
          contenteditable="true"
          (dblclick)="onTdDoubleClickTrademarkId(cars)"
          (blur)="onTdBlur($event, cars, 'trademarkId')"
        >
          {{ cars.trademarkId }}
        </td>
        <td
          contenteditable="true"
          (blur)="onTdBlur($event, cars, 'insModelCode')"
        >
          {{ cars.insModelCode }}
        </td>
        <td contenteditable="true" (blur)="onTdBlur($event, cars, 'modelName')">
          {{ cars.modelName }}
        </td>
        <td>
          {{ cars.sysCreatedDate | date : dateFormat("reportDateTimeFormat") }}
        </td>
        <td>{{ cars.sysCreatedBy }}</td>
        <td>
          {{ cars.sysUpdatedDate | date : dateFormat("reportDateTimeFormat") }}
        </td>
        <td>{{ cars.sysUpdatedBy }}</td>

        <td>
          <mat-icon
            *ngIf="hasPerm('admDeleteData')"
            (click)="deleteBrand(cars.dtId!)"
            >delete</mat-icon
          >
        </td>
        <!-- <td>
          <mat-icon >edit</mat-icon>
        </td> -->
      </tr>
    </tbody>
    <ng-template #noData>
      <tr>
        <td colspan="9">
          {{ dico?.BASIC_NO_DATA_TO_DISPLAY || "BASIC_NO_DATA_TO_DISPLAY" }}
        </td>
      </tr>
    </ng-template>
  </table>
</div>

<div *ngIf="showPolicyCar">
  <app-cars-policy-car
    [dico]="dico"
    [selectedBrand]="selectedCarsPolicyCar"
    [brandId]="brandId"
    [trademarkId]="selectedTrademarkId"
  ></app-cars-policy-car>
</div>
