<h2 style="margin: 10px; font-size: large">
  {{ dico?.dico_add || "dico_add" }}{{ dico?.dico_product || "dico_product" }}
</h2>
<div class="dialog">
  <form [formGroup]="carCoverForm" (ngSubmit)="addCarProduct()">
    <label for="code">{{ dico?.dico_code || "dico_code" }}:</label>
    <input type="text" id="code" name="code" formControlName="code" required />

    <label for="description"
      >{{ dico?.dico_description || "dico_description" }}:</label
    >
    <input
      type="text"
      id="description"
      name="description"
      formControlName="description"
      required
    />

    <label for="tarif">{{ dico?.dico_tarif || "dico_tarif" }}:</label>
    <input
      type="text"
      id="tarif"
      name="tarif"
      formControlName="tarif"
      required
    />

    <label for="lob">{{ dico?.dico_lob || "dico_lob" }}:</label>
    <input type="text" id="lob" name="lob" formControlName="lob" required />

    <label>{{ dico?.dico_type || "dico_type" }}:</label>
    <select
      id="bodyTypeNew"
      name="bodyTypeNew"
      formControlName="productType"
      required
    >
      <option *ngFor="let type of productTypes" [value]="type.code">
        {{ type.description }}
      </option>
    </select>
    <button type="submit">
      {{ dico?.dico_save || "dico_save" }}
    </button>
  </form>
</div>
