<div class="dialog">
  <form [formGroup]="carCoverForm" (ngSubmit)="addCarProduct()">
    <label for="code">Code:</label>
    <input type="text" id="code" name="code" formControlName="code" required />

    <label for="description">Description:</label>
    <input
      type="text"
      id="description"
      name="description"
      formControlName="description"
      required
    />

    <label for="tarif">TARIF:</label>
    <input
      type="text"
      id="tarif"
      name="tarif"
      formControlName="tarif"
      required
    />

    <label for="lob">LOB:</label>
    <input type="text" id="lob" name="lob" formControlName="lob" required />

    <label>Type:</label>
    <select
      id="bodyTypeNew"
      name="bodyTypeNew"
      formControlName="productType"
      required
    >
      <option *ngFor="let type of productTypes" [value]="type.code">
        {{ type.description }}
      </option>
    </select>
    <button type="submit">Save</button>
  </form>
</div>
