<h2 style="margin: 10px; font-size: large">Add Expert Company</h2>
<div class="dialog">
  <form [formGroup]="form" (ngSubmit)="AddExpertCompany()">
    <div class="form-group">
      <label for="company">{{ dico?.dico_company || "dico_company" }}:</label>
      <select
        id="company"
        name="company"
        class="input-dropdown"
        formControlName="insuranceId"
      >
        <option *ngFor="let company of companies" [value]="company.code">
          {{ company.description }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="ratio">{{ dico?.dico_ratio || "dico_ratio" }}:</label>
      <input type="text" id="ratio" name="ratio" formControlName="ratio" />
      <div
        style="color: red"
        *ngIf="
          formControl['ratio'].errors &&
          (formControl['ratio'].dirty || formControl['ratio'].touched)
        "
      >
        <div *ngIf="formControl['ratio']?.errors?.['pattern']">
          number is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="initialCount"
        >{{ dico?.dico_initial_count || "dico_initial_count" }}:</label
      >
      <input
        type="text"
        id="initialCount"
        name="initialCount"
        formControlName="initialCount"
      />
      <div
        style="color: red"
        *ngIf="
          formControl['initialCount'].errors &&
          (formControl['initialCount'].dirty ||
            formControl['initialCount'].touched)
        "
      >
        <div *ngIf="formControl['initialCount']?.errors?.['pattern']">
          number is required
        </div>
      </div>
    </div>

    <button type="submit">{{ dico?.dico_save || "dico_save" }}</button>
  </form>
</div>
