<div class="form-tab">
  <div class="admin-container" style="height: 200px">
    <div class="row">
      <div class="admin-button">
        <button type="button" (click)="openAddCarInfoDialog()">
          Add Car Info
        </button>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <table>
          <thead>
            <tr>
              <th>Car Info id</th>
              <th>From Year</th>
              <th>To Year</th>
              <th>Body Type Old</th>
              <th>Body Type New</th>
              <th>Doors</th>
              <th>Size</th>
              <th>Body Type Code</th>
              <th>sysCreatedBy</th>
              <th>sysCreatedBy</th>
              <th>sysUpdatedDate</th>
              <th>sysUpdatedBy</th>
              <th>Denting</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let carInfo of carInfo">
              <td>{{ carInfo.id }}</td>
              <td>{{ carInfo.fromYear }}</td>
              <td>{{ carInfo.toYear }}</td>
              <td>
                <select
                  [(ngModel)]="carInfo.bodyType_lov_new_code"
                  id="bodyTypeNew"
                  name="bodyTypeNew"
                >
                  <option
                    *ngFor="let bodyType of bodyTypeNew"
                    [value]="bodyType.code"
                  >
                    {{ bodyType.description }}
                  </option>
                </select>
              </td>
              <td>
                <select
                  [(ngModel)]="carInfo.bodyType_lov_old_code"
                  id="bodyType"
                  name="bodyType"
                >
                  <option
                    *ngFor="let bodyType of bodyType"
                    [value]="bodyType.code"
                  >
                    {{ bodyType.description }}
                  </option>
                </select>
              </td>
              <td>
                <select
                  [(ngModel)]="carInfo.doors_lov_code"
                  id="door"
                  name="door"
                >
                  <option *ngFor="let door of doors" [value]="door.code">
                    {{ door.description }}
                  </option>
                </select>
              </td>
              <td>
                <select
                  [(ngModel)]="carInfo.vehicle_size_lov_code"
                  id="size"
                  name="size"
                >
                  <option *ngFor="let size of vehicleSize" [value]="size.code">
                    {{ size.description }}
                  </option>
                </select>
              </td>
              <td>{{ carInfo.bodyTypeCode }}</td>
              <td>{{ carInfo.created_date | date : reportDateTimeFormat }}</td>
              <td>{{ carInfo.createdBy }}</td>
              <td>{{ carInfo.updated_date | date : reportDateTimeFormat }}</td>
              <td>{{ carInfo.updatedBy }}</td>
              <td>
                <input
                  type="checkbox"
                  name="denting"
                  id="denting"
                  [(ngModel)]="carInfo.denting"
                />
              </td>
              <td>
                <mat-icon (click)="deleteCarInfo(carInfo.id!)">delete</mat-icon>
              </td>
            </tr>
          </tbody>
          <ng-template #noData>
            <tr>
              <td colspan="5">No data to display</td>
            </tr>
          </ng-template>
        </table>
      </div>
    </div>
  </div>
</div>
